{% extends 'base.html.twig' %}

{% block title %}Medias{% endblock %}

{% block body %}


    <header class="globalBanner" style="background: url('{{ asset('img/banner1.jpg') }}' )">
        <a href="{{ path('app_home') }}"><img src="{{ asset('img/logoSquadForge_v3.png') }}" class="logoPng" id="logoPng" alt='topless bearded dwarf forging a sword above "SquadForge" title' /></a>
        <nav class="navLine">
            <a href="{{ path('app_home') }}" class="homeNav navActive"><i class="fa-solid fa-house"></i></a>
            <a href="{{ path('app_games') }}" class="gamesNav caps">jeux</a>
            {% if app.user %}
                <a href="{{ path('app_userGroups') }}" class="teamsNav caps">teams</a>
                <a href="{{ path('app_showNotifsList') }}" class="notifsNav" style="padding:0;">
                    <div class="navNotifDiv">
                        <i class="fa-solid fa-bell notifBell"></i>
                        {# Bulle newNotifCount si > 0 #}
                        {% if userNotifCount > 0 %}
                            <span class="newNotifBubbleCount bubleNotif" id="newNotifBubbleCount">{{ userNotifCount }}</span>
                        {% endif %}
                    </div>
                </a>
            {% else %}
                <a href="{{ path('app_allGroupList') }}" class="teamsNav caps">teams</a>
            {% endif %}
            {% if app.user and "ROLE_MODO" in app.user.roles %}
            
                <a href="{{ path('app_moderationDashboard') }}" id="modoNav" class="modoNav">
                    <div class="modoNavSubDiv">
                        <span>Modération</span>
                        {% if modoNotifValidationCount > 0 %}
                            <span class="newNotifBubbleCount bubleModo1">{{ modoNotifValidationCount }}</span>
                        {% endif %}
                        {% if modoNotifReportCount > 0 %}
                            <span class="newNotifBubbleCount bubleModo2">{{ modoNotifReportCount }}</span>
                        {% endif %}
                    </div>
                </a>

                <script>
                    // Ajout d'espace libre sur l'onglet Nav "Modération" si bulles (car bulles absolutes)
                    var paddingRightOnglet = 0;
                    if({{modoNotifValidationCount}} > 0) {
                        paddingRightOnglet += 17;
                    }
                    if({{modoNotifReportCount}} > 0) {
                        paddingRightOnglet += 17;
                    }
                    document.getElementById('modoNav').style.paddingRight = paddingRightOnglet + "px";
                </script>

            {% endif %}

        </nav>

    </header>
    

    {# HeaderSouligne + Bandeau avertissement muted #}
    {% if app.user and app.user.muted and time_diff_future(app.user.endDateStatus) != false %}
        <div class="headerUnderline"></div>
        <div class="mutedBanner">  
            <span><i class="fa-solid fa-circle-exclamation mutedBannerIcon"></i>Vous êtes actuellement réduit au silence <span class="muteEndDate">( fin dans <span class="strongNbr">{{ time_diff_future(app.user.endDateStatus) }}</span> )</span></span>
        </div>
    {% else %}
        <div class="headerUnderline marginBottomHeaderLine"></div>
    {% endif %}



    <main class="main">

        {# Fil d'Ariane #}
        <p class="breadcrumbs"><a href="{{ path('app_home') }}" class="underlineLink">Home</a> - Médias</p>

        <h2 class="pageTitle">Tous les Médias <span class="gameListCount">({{ allMediasCount }})</span></h2>

        <section class="listContainer marginTop mediaList">

            {% for media in allMediasDesc %}

                {% if app.user and app.user.autoPlayGifs %}
                <a href="{{ path('app_mediaDetail', {'id': media.id}) }}">
                {% endif %}
                    
                    <article class="mediaCard">

                        {% if app.user and not app.user.autoPlayGifs %}
                        <a href="{{ path('app_mediaDetail', {'id': media.id}) }}">
                        {% endif %}
                        <div class="mediaCardHeader" style="border-bottom: 3px solid {{ media.game.color }}">
                            <img class="tinyLogo" src="{{ asset('img/games/tinyLogo/' ~ media.game.tinyLogo) }}" alt="logo du jeu {{ media.game.title }}" />
                            <span class="mediaTitle">{{ media.title|capitalize }}</span>
                            <span class="mediaCardPublishDate">{{ time_diff(media.publishDate) }}</span>
                        </div>
                        {% if app.user and not app.user.autoPlayGifs %}
                        </a>
                        {% endif %}

                        {# Gif autoplay=false si paramètre user #}
                        {% if app.user %}
                            {% if not app.user.autoPlayGifs %}
                                <img data-gifffer="{{ asset("img/uploads/" ~ media.url) }}" data-gifffer-alt="media" class="mediaImg" />
                            {% else %}
                                <img src="{{ asset("img/uploads/" ~ media.url) }}" alt="media" class="mediaImg" />
                            {% endif %}
                        {% else %}
                        <a href="{{ path('app_mediaDetail', {'id': media.id}) }}">
                            <img src="{{ asset("img/uploads/" ~ media.url) }}" alt="media" class="mediaImg" />
                        </a>
                        {% endif %}
                        
                    </article>

                {% if app.user and app.user.autoPlayGifs %}
                </a>
                {% endif %}


                {# Upvote/downvote média + score + nbrPosts #}
                {# Pas opti: bloucle sur tous les likes du post pour savoir si liké (boucle dans boucle) #}
                {% set liked = "" %}
                
                {% if app.user %}

                    {% for upvote in media.UserUpvote %}

                        {% if upvote == app.user %}
                            {% set liked = "upBtnLiked" %}
                        {% endif %}

                    {% endfor %}
                {% endif %}
                <div class="inline">
                    <i mediaId={{ media.id }} class="likeMedia fa-regular fa-circle-up {{ liked }}"></i>
                    {# <i class="fa-regular fa-circle-down"></i> #}
                    <p id="countLikesMedia{{ media.id }}" value="{{ media.upvoteCount }}"> {{ media.upvoteCount }} </p>
                </div>
                
                {% if media.mediaPostsCount == 0 %}
                    <span style="opacity:0.5;">{{ media.mediaPostsCount }} <i class="fa-solid fa-message" style="color:grey;"></i></span>
                {% else %}
                    <span>{{ media.mediaPostsCount }} <i class="fa-solid fa-message" style="color:var(--primary-color)"></i></span>
                {% endif %}


                <br>
                <div style="width:30%; margin: 0 auto; height:1px; background-color: {{ media.game.color }}; opacity:0.5;"></div>
                <br>
            {% endfor %}

        </section>
        
    </main>


{% endblock %}
