{% extends 'base.html.twig' %}

{% block title %}Medias{% endblock %}

{% block body %}


    <header>
        <a href="{{ path('app_home') }}"><img src="{{ asset('img/logoSquadForge_Black_Rogned.png') }}" class="logoPng" /></a>
        <nav>
            <a href="{{ path('app_games') }}">Jeux</a>
            {% if app.user and "ROLE_MODO" in app.user.roles %}
                <a href="{{ path('app_moderationDashboard') }}">Modération</a>
            {% endif %}
        </nav>
    </header>
    <div class="headerUnderline"></div>

    <div class="main">

        <p><a href="{{ path('app_home') }}" class="underlineLink">Home</a> - Médias</p>

        <h2>Tous les Médias <span class="gameListCount">({{ allMediasCount }})</span></h2>

        <div class="listContainer marginTop mediaList">

            {% for media in allMediasDesc %}

                {% if app.user and app.user.autoPlayGifs %}
                <a href="{{ path('app_mediaDetail', {'id': media.id}) }}">
                {% endif %}
                    

                    <div class="mediaCard">


                        {% if app.user and not app.user.autoPlayGifs %}
                        <a href="{{ path('app_mediaDetail', {'id': media.id}) }}">
                        {% endif %}
                        <div class="mediaCardHeader" style="border-bottom: 4px solid {{ media.game.color }}">
                            <img class="tinyLogo" src="{{ asset('img/games/tinyLogo/' ~ media.game.tinyLogo) }}" />
                            <span class="mediaTitle">{{ media.title|capitalize }}</span>
                            {# <span>{{ media.status }}</span>
                            <span>{{ media.user.pseudo }}</span> #}
                            <span class="topicCardPublishDate">{{ time_diff(media.publishDate) }}</span>
                        </div>
                        {% if app.user and not app.user.autoPlayGifs %}
                        </a>
                        {% endif %}

                        {# Gif autoplay=false si paramètre user #}
                        {% if app.user %}
                            {% if not app.user.autoPlayGifs %}
                                <img data-gifffer="{{ asset("img/uploads/" ~ media.url) }}" data-gifffer-alt="media" class="mediaImg" />
                            {% else %}
                                <img src="{{ asset("img/uploads/" ~ media.url) }}" alt="media" class="mediaImg" />
                            {% endif %}
                        {% else %}
                            <img src="{{ asset("img/uploads/" ~ media.url) }}" alt="media" class="mediaImg" />
                        {% endif %}
                        
                    </div>

                {% if app.user and app.user.autoPlayGifs %}
                </a>
                {% endif %}


                {# Upvote/downvote média + score + nbrPosts #}
                {# Pas opti: bloucle sur tous les likes du post pour savoir si liké (boucle dans boucle) #}
                {% set liked = "" %}
                
                {% if app.user %}

                    {% for upvote in media.UserUpvote %}

                        {% if upvote == app.user %}
                            {% set liked = "upBtnLiked" %}
                        {% endif %}

                    {% endfor %}
                {% endif %}
                <div class="inline">
                    <i mediaId={{ media.id }} class="likeMedia fa-regular fa-circle-up {{ liked }}"></i>
                    {# <i class="fa-regular fa-circle-down"></i> #}
                    <p id="countLikesMedia{{ media.id }}" value="{{ media.upvoteCount }}"> {{ media.upvoteCount }} </p>
                </div>
                
                {% if media.mediaPostsCount == 0 %}
                    <span style="opacity:0.5;">{{ media.mediaPostsCount }} <i class="fa-solid fa-message" style="color:grey;"></i></span>
                {% else %}
                    <span>{{ media.mediaPostsCount }} <i class="fa-solid fa-message" style="color:var(--primary-color)"></i></span>
                {% endif %}


                <br>
                <div style="width:30%; margin: 0 auto; height:1px; background-color: {{ media.game.color }}; opacity:0.5;"></div>
                <br>
            {% endfor %}
        </div>

        
    </div>


{% endblock %}
