{% extends 'base.html.twig' %}

{% block title %}Médias{% endblock %}

{% block body %}


    <header class="gameHeader" style="background: url('{{ asset('img/games/banner/' ~ gameFrom.banner ) }}' )">
        <a href="{{ path('app_home') }}"><img src="{{ asset('img/logoSquadForge_White_Rogned.png') }}" class="logoPng" id="logoPng" /></a>
        <nav class="navLine">
            <a href="{{ path('app_games') }}" style="color:{{ gameFrom.fontColor }};">Jeux</a>
            {% if app.user %}
                <a href="{{ path('app_userGroups') }}" style="color:{{ gameFrom.fontColor }};">TEAMS</a>
                <a href="{{ path('app_showNotifsList') }}">
                    <div style="position:relative; margin-right:10px;">
                        <i class="fa-solid fa-bell notifBell"></i>
                        {# Bulle newNotifCount si > 0#}
                        {% if userNotifCount > 0 %}
                            <span class="newNotifBubbleCount">{{ userNotifCount }}</span>
                        {% endif %}
                    </div>
                </a>
            {% endif %}
            {% if app.user and "ROLE_MODO" in app.user.roles %}
                <a href="{{ path('app_moderationDashboard') }}" style="color:{{ gameFrom.fontColor }};">
                    <div style="position:relative; margin-right:10px;">
                        <span>Modération</span>
                        {% if modoNotifCount > 0 %}
                            <span class="newNotifBubbleCount">{{ modoNotifCount }}</span>
                        {% endif %}
                    </div>
                </a>
            {% endif %}
        </nav>
        <a href="{{ path('app_game', {'id': gameFrom.id }) }}"><h2 class="headerGameTitle"  style="border-right:15px solid {{ gameFrom.color }};">{{ gameFrom.title }}</h2></a>
    </header>
    <div class="headerUnderline" style="background-color: {{ gameFrom.color }}"></div>


    <div class="main">

        <p><a class="underlineLink" href="{{ path('app_games') }}">Jeux</a> - <a class="underlineLink" href="{{ path('app_game', {'id': gameFrom.id }) }}">{{ gameFrom.title }}</a> - Médias</p>

        <div class="marginTop" style="display:inline-flex; width:100%; justify-content:space-between;">
            <h3 class="gameSubTitle noMarginBottom" style="background-color:{{ gameFrom.color }}">
                Médias
                <span class="gameListCount">&nbsp;({{ gameMediasCount }})</span>
            </h3>
                
            {# <a id="createTopicBtn" href="{{ path('app_addGameTopic', {'id': game.id }) }}" class="createButton" style="border-top: 1px solid {{ game.color }}; border-bottom: 1px solid {{ game.color }};"><i class="fa-solid fa-plus" style="color:{{ game.color }}"></i>&nbsp;Créer</a> #}
            
            {% if app.user %}
                <span id="createMediaBtn" class="createButton" style="border-top: 1px solid {{ gameFrom.color }}; border-bottom: 1px solid {{ gameFrom.color }};"><i class="fa-solid fa-plus" style="color:{{ gameFrom.color }}"></i>&nbsp;Créer</span>
            {% else %}
                <a href="{{ path('app_login') }}"><span class="createButton" style="border-top: 1px solid {{ game.color }}; border-bottom: 1px solid {{ gameFrom.color }};"><i class="fa-solid fa-plus" style="color:{{ gameFrom.color }}"></i>&nbsp;Créer</span></a>
            {% endif %}
        </div>


        {# Form d'ajout caché Media, proc JS bouton #}
        <div id="createMediaForm" class="notDisplayed"> 

            {{ form_start(formAddMedia) }}

                <div class="my-custom-class-for-errors">
                    {{ form_errors(formAddMedia) }}
                </div>

                <div class="inline" style="position:relative; margin: 5px auto;">
                    <span class="labelSpan" style="width:100px;">{{ form_label(formAddMedia.title, 'Titre')}}<span id="charCountMsgMedia" style="color:red;"> (au moins 5 mots)</span></span>
                    {{ form_widget(formAddMedia.title) }} 
                </div>

                <div class="inline" style="position:relative; margin: 5px auto;">
                    <span class="labelSpan" style="width:100px;">{{ form_label(formAddMedia.url, 'Choisissez un fichier')}}<span class="fileUploadCriteria"><span id="extensionCriteria">(.png .jpg .gif .jpeg)</span> <span id="fileCriteria">(10MB)</span></span></span>
                    {{ form_widget(formAddMedia.url) }} 
                </div>

                <span class="submitButton" style="margin: 15px auto;">{{ form_widget(formAddMedia.submit, { 'label': 'Publier' }) }}</span>

                {{ form_widget(formAddMedia._token) }}
            {{ form_end(formAddMedia) }}
            
        </div>


        {# Liste Médias du jeu  #}
        <div class="listContainer marginTop mediaList">

            {% for media in gameMediasDesc %}

                {% if app.user and app.user.autoPlayGifs %}
                <a href="{{ path('app_mediaDetail', {'id': media.id}) }}">
                {% endif %}
                    

                    <div class="mediaCard">


                        {% if app.user and not app.user.autoPlayGifs %}
                        <a href="{{ path('app_mediaDetail', {'id': media.id}) }}">
                        {% endif %}
                        <div class="mediaCardHeader" style="border-bottom: 4px solid {{ media.game.color }}">
                            <img class="tinyLogo" src="{{ asset('img/games/tinyLogo/' ~ media.game.tinyLogo) }}" />
                            <span class="topicTitle">{{ media.title|capitalize }}</span>
                            {# <span>{{ media.status }}</span>
                            <span>{{ media.user.pseudo }}</span> #}
                            <span class="topicCardPublishDate">{{ time_diff(media.publishDate) }}</span>
                        </div>
                        {% if app.user and not app.user.autoPlayGifs %}
                        </a>
                        {% endif %}

                        {# Gif autoplay=false si paramètre user #}
                        {% if app.user %}
                            {% if not app.user.autoPlayGifs %}
                                <img data-gifffer="{{ asset("img/uploads/" ~ media.url) }}" data-gifffer-alt="media" class="mediaImg" />
                            {% else %}
                                <img src="{{ asset("img/uploads/" ~ media.url) }}" alt="media" class="mediaImg" />
                            {% endif %}
                        {% else %}
                            <img src="{{ asset("img/uploads/" ~ media.url) }}" alt="media" class="mediaImg" />
                        {% endif %}
                        
                    </div>

                {% if app.user and app.user.autoPlayGifs %}
                </a>
                {% endif %}




                {# Upvote/downvote média + score + nbrPosts #}
                {# Pas opti: bloucle sur tous les likes du post pour savoir si liké (boucle dans boucle) #}
                {% set liked = "" %}
                
                {% if app.user %}

                    {% for upvote in media.UserUpvote %}

                        {% if upvote == app.user %}
                            {% set liked = "upBtnLiked" %}
                        {% endif %}

                    {% endfor %}
                {% endif %}
                <div class="inline">
                    <i mediaId={{ media.id }} class="likeMedia fa-regular fa-circle-up {{ liked }}"></i>
                    {# <i class="fa-regular fa-circle-down"></i> #}
                    <p id="countLikesMedia{{ media.id }}" value="{{ media.upvoteCount }}"> {{ media.upvoteCount }} </p>
                </div>
                
                {% if media.mediaPostsCount == 0 %}
                    <span style="opacity:0.5;">{{ media.mediaPostsCount }} <i class="fa-solid fa-message" style="color:grey;"></i></span>
                {% else %}
                    <span>{{ media.mediaPostsCount }} <i class="fa-solid fa-message" style="color:var(--primary-color)"></i></span>
                {% endif %}


                <br>
                <div style="width:30%; margin: 0 auto; height:1px; background-color: {{ media.game.color }}; opacity:0.5;"></div>
                <br>
            {% endfor %}
        </div>

    </div>






    {# Script vérif fileExtension et fileSize #}
    <script>

        var textCriteria = false;
        var fileExtCriteria = false;
        var fileSizeCriteria = false;

        let fileInput = document.getElementById('media_url');
        fileInput.addEventListener('change', function(event) {
            var uploadedFile = event.target.files[0];
            const maxFileSize = 10 * 1024 * 1024; // 10 MB 

            if (uploadedFile && uploadedFile.size > maxFileSize) {
                // event.target.value = ''; // On supprimer le fichier de l'input
                document.getElementById('fileCriteria').style.color = 'red';
                document.getElementById('fileCriteria').innerHTML = "( > 10 MB <i class='fa-solid fa-triangle-exclamation'></i> )";
                fileSizeCriteria = false;
            }
            else {
                document.getElementById('fileCriteria').style.color = '#00c600';
                document.getElementById('fileCriteria').innerHTML = "( 10 MB <i class='fa-solid fa-check'></i> )";
                fileSizeCriteria = true;
            }

            uploadedFileExt = getFileExtension(uploadedFile.name);

            const allowedExtensions = ['png', 'jpg', 'jpeg', 'gif'];

            if (allowedExtensions.includes(uploadedFileExt.toLowerCase())) {
                document.getElementById('extensionCriteria').style.color = '#00c600';
                document.getElementById('extensionCriteria').innerHTML = "( .png .jpg .gif .jpeg <i class='fa-solid fa-check'></i> )";
                fileExtCriteria = true;
            }
            else {
                document.getElementById('extensionCriteria').style.color = 'red';
                document.getElementById('extensionCriteria').innerHTML = "( .png .jpg .gif .jpeg <i class='fa-solid fa-triangle-exclamation'></i> )";
                fileExtCriteria = false;        
            }
        });

        function getFileExtension(filename) {
            return filename.split('.').pop();
        }


        {# Script vérif Front 5 mots minimum #}

        let charContMsg2 = document.querySelector("#charCountMsgMedia");
        let textInput2 = document.querySelector('#media_title');

        textInput2.addEventListener("input", function() {

            let text = textInput2.value;
            const words = text.split(" ");
            const wordCount = words.length;

            if(wordCount <= 5) {
                charContMsg2.style.color = "red";
                textCriteria = false;
            }
            else {
                charContMsg2.style.color = "#00be00";
                textCriteria = true;
            }
        })


        // disable du bouton submit si les critères ne sont pas remplis
        document.getElementById('media_submit').disabled = true;

        textInput2.addEventListener("input", function() {
            if (textCriteria && fileExtCriteria && fileSizeCriteria) {
                document.getElementById('media_submit').disabled = false;
            }
            else {
                document.getElementById('media_submit').disabled = true;
            }
        });
        fileInput.addEventListener("change", function() {
            if (textCriteria && fileExtCriteria && fileSizeCriteria) {
                document.getElementById('media_submit').disabled = false;
            }
            else {
                document.getElementById('media_submit').disabled = true;
            }
        });
    </script>
















    {# (JS) Show/Hide form addTopic/addMedia Btn #}
        <script>
                document.querySelector('#createMediaBtn').addEventListener('click', function() {
                    console.log("test");
                    document.querySelector('#createMediaForm').classList.toggle("notDisplayed");
                    if (document.getElementById('createMediaForm').classList.contains("notDisplayed")) {
                        document.querySelector('#createMediaBtn').innerHTML = '<i class="fa-solid fa-plus" style="color:{{ gameFrom.color }}"></i>&nbsp;Poster';
                    }
                    else {
                        document.querySelector('#createMediaBtn').innerHTML = '<i class="fa-solid fa-minus" style="color:{{ gameFrom.color }}"></i>&nbsp;Annuler';
                    }
                });

        </script>


{% endblock %}
