{% extends 'base.html.twig' %}

{% block title %}Média{% endblock %}

{% block body %}

    <header class="gameHeader" style="background: url('{{ asset('img/games/banner/' ~ game.banner ) }}' )">
        <a href="{{ path('app_home') }}"><img src="{{ asset('img/logoSquadForge_White_Rogned.png') }}" class="logoPng" id="logoPng" /></a>
        <nav>
            <a href="{{ path('app_games') }}" style="color:{{ game.fontColor }};">Jeux</a>
        </nav>
        <a href="{{ path('app_game', {'id': game.id }) }}"><h2 class="headerGameTitle"  style="border-right:15px solid {{ game.color }};">{{ game.title }}</h2></a>
    </header>
    <div class="headerUnderline" style="background-color: {{ game.color }}"></div>


    {# Fil d'ariane "breadcrumb" #}
    <ul class="filAriane">
        <li class="arianeLink"><a href="{{ path('app_games') }}">Jeux</a></li>
        <span class="filArianeSepa"> - </span>
        <li class="arianeLink"><a href="{{ path('app_game', {'id': game.id}) }}">{{ game.title }}</a></li>
        <span class="filArianeSepa"> - </span>
        <li class="arianeLink"><a href="{{ path('app_allMedias', {'gameIdFrom': game.id}) }}">Médias</a></li>
        <span class="filArianeSepa"> - </span>
        <li class="arianeOnPage ellispsis1">{{ media.title|capitalize}}</li>
    </ul>


    <div class="main">

        <div style="display:inline-flex;">
            <h2 style="font-weight:bold; color:{{game.color}}">Média</h2>
            {# TODO: status ouvert/fermé par auteur ou modo/admin (hardCoded pour l'instant) #}
            {% if media.status == "closed" %}
                <span class="topicStatus topicClosed">fermé</span>
            {% elseif media.status == "open" %}
                <span class="topicStatus topicOpen">ouvert</span>
            {% endif %}
        </div>


        <div class="mainMediaDetail">

            <div class="listContainer">
                <p style="color: {{ media.game.color }}">{{ media.title|capitalize }}</p>
                
                <img src="{{ asset("img/uploads/" ~ media.url) }}" alt="media" class="mediaImg mediaDetailImg"/>

                <div style="display:inline-flex; justify-content:space-between; width:100%; font-family:'K2D', sans-serif; font-size:90%; opacity:0.8;">
                    {% if app.user == media.user %}
                        <span>par vous</span>
                    {% else  %}
                        <span>par {{ media.user.pseudo|capitalize }}</span>
                    {% endif %}
                    <span>Il y a {{ time_diff(media.publishDate) }}</span>
                </div>
                {# <p>Intro</p> #}
            </div>

            {# Si auteur du topic: Btn fermer/ouvrir le topic (A voir: si fermer par Admin, pas possible de rouvrir en tant qu'author) #}
            {% if app.user == media.user %}

                {% if media.status == "closed" %}
                    <p style="font-family: 'K2D';"><a href="{{ path('app_openMedia', {'id': media.id}) }}"><span style="color:#00ffaf;">Rouvrir le média</span></a></p>
                {% elseif media.status == "open" %}
                    <p style="font-family: 'K2D';"><a href="{{ path('app_closeMedia', {'id': media.id}) }}"><span style="color:#ff004c;">Fermer le média</span></a></p>
                {% endif %}
                
            {% endif %}


            {# If user, sinon rediret login #}

            {# Pas opti: bloucle sur tous les likes du post pour savoir si liké (boucle dans boucle) #}
            {% set liked = "" %}
            
            {% if app.user %}

                {% for upvote in media.UserUpvote %}

                    {% if upvote == app.user %}
                        {% set liked = "upBtnLiked" %}
                    {% endif %}

                {% endfor %}
            {% endif %}

            <div class="inline">
                <i mediaId={{ media.id }} class="fa-regular fa-circle-up {{ liked }}"></i>
                {# <i class="fa-regular fa-circle-down"></i> #}
                <p id="countLikesMedia{{ media.id }}" value="{{ media.upvoteCount }}"> {{ media.upvoteCount }} </p>
            </div>


            {# Ajax asynch upvote de média #}
            <script>

                {% if app.user %}

                    {# Voucle sur tout les btn (à mettre en dehors du for media) #}
                    var btns = document.getElementsByClassName("fa-circle-up");
                    Array.prototype.forEach.call(btns, function(btn) {
                        
                        // console.log(btn.getAttribute('mediaId')); 
                        const id = btn.getAttribute('mediaId');

                        btn.addEventListener("click", function() {
                            
                            fetch('/likeMedia/' + id, {
                                method: 'POST',
                                headers: {
                                    'Content-Type': 'application/json'
                                }
                            })
                            .then(response => response.json())
                            .then(data => {
                                if (data.success) {
                                    document.querySelector('#ajaxFlash').textContent = "Votre note a bien été pris en compte";
                                    document.querySelector('#ajaxFlash').classList.add("ajaxFlashAnim", "successAjaxFlash");
                                } else {
                                    document.querySelector('#ajaxFlash').textContent = "Il y a eu un problème lors de l'envoi de votre note";
                                    document.querySelector('#ajaxFlash').classList.add("ajaxFlashAnim", "errorAjaxFlash");
                                }

                                if (data.newState == "liked") {
                                    console.log("liked");
                                    btn.style.color = "var(--primary-color)";
                                    document.getElementById("countLikesMedia" + id).innerHTML = data.newCountLikes;
                                }
                                else if (data.newState == "unliked") {
                                    console.log("unliked");
                                    btn.style.color = "var(--white)";
                                    document.getElementById("countLikesMedia" + id).innerHTML = data.newCountLikes;
                                }
                            })

                        })
                    
                    })
                    
                {% else %}

                    document.querySelector('#ajaxFlash').textContent = "Vous devez être connecté pour pouvoir liker un média";
                    document.querySelector('#ajaxFlash').classList = "";
                    document.querySelector('#ajaxFlash').classList.add("ajaxFlashAnim", "errorAjaxFlash");

                {% endif %}

            </script>






            

            <h4 style="font-weight:bold; color:{{game.color}}; margin-top: 40px;">Messages ({{ media.mediaPostsCount }})</h4>

            {# Messages triés par nbr d'upvote et sinon par publishDate (récent en haut) [différent d'un chat] #}
            <div class="listContainer">

                {# form de publication de post sur le topic #}
                {% if media.status == "open" %}
                
                    {{ form_start(formAddMediaPost) }}
                        <div style="position:relative; margin: 5px auto;">
                            {{ form_widget(formAddMediaPost.text) }} 
                            {{ form_widget(formAddMediaPost.submit) }}
                        </div>
                        
                    {{ form_end(formAddMediaPost) }}
                    <script>
                        document.querySelector('#media_post_submit').style.color = "{{ media.game.color }}";
                    </script>

                {% elseif media.status == "closed" %}
                    
                    <p class="emptyListMsg"><i class="fa-solid fa-triangle-exclamation warning"></i>Le média a été fermé</p>

                {% endif %}


                {# Trait séparateur #}
                <div style="width:60%; margin:10px auto; height:1px; background-color:{{ media.game.color }}"></div>



                {# Liste des posts (à trier selon nbr Upvotes + date dans le Repo) #}
                {% if mediaPosts is empty %}
                    <p class="emptyListMsg">Aucun commentaire. Soyez le premier à commenter !</p>
                {% else %}
                    {% for post in mediaPosts %}

                        {% if app.user == post.user %}
                            {% set postAuthorClass = "postAuthor" %}
                        {% else %}
                            {% set postAuthorClass = "" %}
                        {% endif %}
                        


                        <div class="mediaPost {{ postAuthorClass }}">
                            
                            {# Post text et auteur #}
                            <div class="postContent">
                                <p>{{ post.text }}</p>

                                {% if post.user == app.user %}
                                    <span>par vous</span>
                                {% else %}
                                    <span>par {{ post.user.pseudo }}</span>
                                {% endif %}
                            </div>

                            {# Post upvote/downvote #}
                            <div style="display:inline-flex; flex-direction:column;">

                                {% set isUpvoted = false %}
                                {% set isDownvoted = false %}
                                {% for like in post.mediaPostLikes %}
                                    {% if like.user == app.user and like.mediaPost.id == post.id %}
                                        {% if like.state == "upvote" %}
                                            {% set isUpvoted = true %}
                                        {% elseif like.state == "downvote" %}
                                            {% set isDownvoted = true %}
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}

                                {% if isUpvoted %}
                                    <span><a href="{{ path('app_upvoteMediaPost',{'id':post.id}) }}"><i class="fa-solid fa-caret-up" style="color:{{ media.game.color }}"></i></a></span>
                                {% else %}
                                    <span><a href="{{ path('app_upvoteMediaPost',{'id':post.id}) }}"><i class="fa-solid fa-caret-up"></i></a></span>
                                {% endif %}

                                {% if post.score < 0 %}
                                    <span style="text-align:center; color:red; font-weight:900;">{{ post.score }}</span>
                                {% else %}
                                    <span style="text-align:center; font-weight:900;">{{ post.score }}</span>
                                {% endif %}
                                
                                {% if isDownvoted %}
                                    <span><a href="{{ path('app_downvoteMediaPost',{'id':post.id}) }}"><i class="fa-solid fa-caret-down" style="color:{{ media.game.color }}"></i></a></span>
                                {% else %}
                                    <span><a href="{{ path('app_downvoteMediaPost',{'id':post.id}) }}"><i class="fa-solid fa-caret-down"></i></a></span>
                                {% endif %}

                            </div>

                        </div>

                    {% endfor %}

                {% endif %}

                
            </div>

        </div>

    </div>


{% endblock %}
