{% extends 'base.html.twig' %}

{% block title %}Média{% endblock %}

{% block body %}

    <header class="gameHeader" style="background: url('{{ asset('img/games/banner/' ~ game.banner ) }}' )">
        <a href="{{ path('app_home') }}"><img src="{{ asset('img/logoSquadForge_White_Rogned.png') }}" class="logoPng" id="logoPng" /></a>
        <nav class="navLine">
            <a href="{{ path('app_games') }}" style="color:{{ game.fontColor }};">Jeux</a>
            {% if app.user %}
                <a href="{{ path('app_userGroups') }}" style="color:white;">TEAMS</a>
                <a href="{{ path('app_showNotifsList') }}">
                    <div style="position:relative; margin-right:10px;">
                        <i class="fa-solid fa-bell notifBell"></i>
                        {# Bulle newNotifCount si > 0#}
                        {% if userNotifCount > 0 %}
                            <span class="newNotifBubbleCount" id="newNotifBubbleCount">{{ userNotifCount }}</span>
                        {% endif %}
                    </div>
                </a>
            {% endif %}
            {% if app.user and "ROLE_MODO" in app.user.roles %}
                <a href="{{ path('app_moderationDashboard') }}" style="color:{{ game.fontColor }};">
                    <div style="position:relative; margin-right:10px;">
                        <span>Modération</span>
                        {% if modoNotifCount > 0 %}
                            <span class="newNotifBubbleCount">{{ modoNotifCount }}</span>
                        {% endif %}
                    </div>
                </a>
            {% endif %}
        </nav>
        <a href="{{ path('app_game', {'id': game.id }) }}"><h2 class="headerGameTitle"  style="border-right:15px solid {{ game.color }};">{{ game.title }}</h2></a>
    </header>
    <div class="headerUnderline" style="background-color: {{ game.color }}"></div>


    {# Fil d'ariane "breadcrumb" #}
    <ul class="filAriane">
        <li class="arianeLink"><a href="{{ path('app_games') }}">Jeux</a></li>
        <span class="filArianeSepa"> - </span>
        <li class="arianeLink"><a href="{{ path('app_game', {'id': game.id}) }}">{{ game.title }}</a></li>
        <span class="filArianeSepa"> - </span>
        <li class="arianeLink"><a href="{{ path('app_allMedias', {'gameIdFrom': game.id}) }}">Médias</a></li>
        <span class="filArianeSepa"> - </span>
        <li class="arianeOnPage ellispsis1">{{ media.title|capitalize}}</li>
    </ul>


    <div class="main">

        <div class="mediaDetailTitle">

            <h2 style="font-weight:bold; color:{{game.color}};">{{ media.title|capitalize }}</h2>

            {% if media.status == "closed" %}
                <span class="topicStatus topicClosed">fermé</span>
            {% elseif media.status == "open" %}
                <span class="topicStatus topicOpen">ouvert</span>
            {% endif %}

        </div>


        <div class="mainMediaDetail">

            <div class="listContainer mediaDetailBg">
                
                <img src="{{ asset("img/uploads/" ~ media.url) }}" alt="media" class="mediaImg mediaDetailImg"/>

                <div style="display:inline-flex; justify-content:space-between; width:100%; font-family:'K2D', sans-serif; font-size:90%; opacity:0.8;">
                    {% if app.user == media.user %}
                        <span>par vous</span>
                    {% else  %}
                        <span>par {{ media.user.pseudo|capitalize }}</span>
                    {% endif %}
                    <span>Il y a {{ time_diff(media.publishDate) }}</span>
                </div>

            </div>

            {# Si auteur du topic: Btn fermer/ouvrir le topic (A voir: si fermer par Admin, pas possible de rouvrir en tant qu'author) #}
            {% if app.user == media.user %}

                {% if media.status == "closed" %}
                    <p style="font-family: 'K2D';"><a href="{{ path('app_openMedia', {'id': media.id}) }}"><span style="color:#00ffaf;">Rouvrir le média</span></a></p>
                {% elseif media.status == "open" %}
                    <p style="font-family: 'K2D';"><a href="{{ path('app_closeMedia', {'id': media.id}) }}"><span style="color:#ff004c;">Fermer le média</span></a></p>
                {% endif %}
                
            {% endif %}


            {# If user, sinon rediret login #}

            {# Pas opti: bloucle sur tous les likes du post pour savoir si liké (boucle dans boucle) #}
            {% set liked = "" %}
            
            {% if app.user %}

                {% for upvote in media.UserUpvote %}

                    {% if upvote == app.user %}
                        {% set liked = "upBtnLiked" %}
                    {% endif %}

                {% endfor %}
            {% endif %}

            <div class="mediaUpvoteLine inline">

                <div>
                    <i mediaId={{ media.id }} class="likeMedia likeMediaDetail fa-solid fa-arrow-up {{ liked }}"></i>
                    <span id="countLikesMedia{{ media.id }}" value="{{ media.upvoteCount }}" class="nbrMediaUpvotes"> {{ media.upvoteCount }} </span>
                </div>

                {# Report + Modal raison report #}
                {% if app.user %}
            
                    <span onclick="reportModal.showModal()" class="reportBtn">Signaler</span>

                    <dialog class="modalDialog" id="reportModal">
                        <p>Pour quelles raisons ce post ne vous convient-il pas ?</p>
                        <select id="motifSelect" class="form-select" style="font-family: 'K2D', sans serif;">
                            <option value="0">-- Sélectionnez un motif...</option>
                            {% for motif in reportMotifs %}
                                <option value="{{ motif.id }}">
                                    {{ motif.text }}
                                </option>
                            {% endfor %}
                        </select>
                        <a id="confirmReportModal" class="confirmModal" href="{{ path('app_reportObject',{'objectType':"media", 'objectId':media.id, 'reporterId':app.user.id, 'reportMotifId':0})}}">Envoyer</a>
                        <span class="cancelModal" onclick="reportModal.close()">Annuler</span>
                    </dialog>

                {% else %}
                    <a href="{{ path('app_login') }}" class="reportBtn">Signaler</a>
                {% endif %}

                {# JS changement du param route reportMotif.id en fonction du select #}
                <script>
                    const motifSelect = document.getElementById('motifSelect');
                    const envoyerLink = document.getElementById('confirmReportModal');

                    motifSelect.addEventListener('change', function() {
                        const selectedMotifId = motifSelect.value;
                        const href = "/app_reportObject/media/" + {{media.id}} + "/" + {{app.user.id}} + "/" +  selectedMotifId;
                        envoyerLink.setAttribute('href', href);
                    });
                </script>

            </div>



            

            <h4 style="font-weight:bold; color:{{game.color}}; margin-top: 40px;">Commentaires ({{ media.mediaPostsCount }})</h4>

            {# Messages triés par nbr d'upvote et sinon par publishDate (récent en haut) [différent d'un chat] #}
            <div class="listContainer">

                {# form de publication de post sur le topic #}
                {% if media.status == "open" %}
                
                    {{ form_start(formAddMediaPost) }}
                        <div style="position:relative; margin: 5px auto;">
                            {{ form_widget(formAddMediaPost.text) }} 
                            {{ form_widget(formAddMediaPost.submit) }}
                        </div>
                        
                    {{ form_end(formAddMediaPost) }}
                    <script>
                        document.querySelector('#media_post_submit').style.color = "{{ media.game.color }}";
                    </script>

                {% elseif media.status == "closed" %}
                    
                    <p class="emptyListMsg"><i class="fa-solid fa-triangle-exclamation warning"></i>Le média a été fermé</p>

                {% endif %}


                {# Script de censure Front #}
                <script>

                    // Traduction Collection Censure en arrayJS des mots
                    let censuresArray = [];
                    {% for censure in censures %}
                        censuresArray.push("{{ censure.word }}");
                    {% endfor %}
                    console.log(censuresArray);

                    {% if media.status == "open" %}
                        // A chaque input, check si il y a vulgarité et censorise
                        document.getElementById('media_post_text').addEventListener('input', function() {
                        
                            // Découpe de l'input en array de mot (dans l'ordre)
                            let inputArray = document.getElementById('media_post_text').value.split(" ");

                            // Génération de la censure selon la longueur du mot
                            // const replacementValue = "ù^$*@";
                            function censorWordGen(wordLength) {

                                // const characters = ['ù', '^', '-', '$', '&', '@', '*', 'µ', '!', '#']
                                let censure = "";
                                for (var i = 0; i < wordLength; i++) {
                                    censure = censure + "*";
                                }

                                return censure;
                            }

                            // Replace de la vulgarité par "*****" selon length
                            const replacedArray = inputArray.map(element =>
                            censuresArray.includes(element.toLowerCase()) ? censorWordGen(element.length) : element
                            );
                            document.getElementById('media_post_text').value = replacedArray.join(' ');
                            console.log(replacedArray);
                        })
                    {% endif %}
                </script>


                {# Trait séparateur #}
                <div style="width:60%; margin:10px auto; height:1px; background-color:{{ media.game.color }}"></div>



                {# Liste des posts (à trier selon nbr Upvotes + date dans le Repo) #}
                {% if mediaPosts is empty %}
                    <p class="emptyListMsg">Aucun commentaire. Soyez le premier à commenter !</p>
                {% else %}
                    {% for post in mediaPosts %}

                        {% if app.user == post.user %}
                            {% set postAuthorClass = "postAuthor" %}
                        {% else %}
                            {% set postAuthorClass = "" %}
                        {% endif %}
                        


                        <div class="mediaPost {{ postAuthorClass }}">
                            
                            {# Post text et auteur #}
                            <div class="postContent">
                                <p class="postText">{{ post.text }}</p>

                                {% if post.user == app.user %}
                                    <span class="postAuthorUser postSelf">Vous</span>
                                {% else %}
                                    <span class="postAuthorUser">{{ post.user.pseudo }}</span>
                                {% endif %}
                            </div>

                            {# Post upvote/downvote #}
                            <div style="display:inline-flex; flex-direction:column;">

                                {% set isUpvoted = false %}
                                {% set isDownvoted = false %}
                                {% for like in post.mediaPostLikes %}
                                    {% if like.user == app.user and like.mediaPost.id == post.id %}
                                        {% if like.state == "upvote" %}
                                            {% set isUpvoted = true %}
                                        {% elseif like.state == "downvote" %}
                                            {% set isDownvoted = true %}
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}

                                {# Upvote/Downvote que si pas auteur #}
                                {# Upvote Asynch #}
                                {% if app.user != post.user %}
                                    {% if isUpvoted %}
                                        <span class="upMediaPostBtn" mediaPostId="{{ post.id }}" id="mup{{ post.id }}"><i class="fa-solid fa-caret-up" style="color:{{ media.game.color }}"></i></span>
                                    {% else %}
                                        <span class="upMediaPostBtn" mediaPostId="{{ post.id }}" id="mup{{ post.id }}"><i class="fa-solid fa-caret-up"></i></span>
                                    {% endif %}
                                {% endif %}

                                {# Score calc #}
                                {% if app.user != post.user %}
                                    {% if post.score < 0 %}
                                        <span id="mediaPostScore{{ post.id }}" style="text-align:center; color:red; font-weight:900;">{{ post.score }}</span>
                                    {% else %}
                                        <span id="mediaPostScore{{ post.id }}" style="text-align:center; font-weight:900;">{{ post.score }}</span>
                                    {% endif %}
                                {% else %}
                                    {% if post.score < 0 %}
                                        <span class="verticalCenter" id="mediaPostScore{{ post.id }}" style="text-align:center; color:red; font-weight:900;">{{ post.score }}</span>
                                    {% else %}
                                        <span class="verticalCenter" id="mediaPostScore{{ post.id }}" style="text-align:center; font-weight:900;">{{ post.score }}</span>
                                    {% endif %}
                                {% endif %}
                                
                                {# Down #}
                                {% if app.user != post.user %}
                                    {% if isDownvoted %}
                                        <span class="downMediaPostBtn" mediaPostId="{{ post.id }}" id="mdown{{ post.id }}"><i class="fa-solid fa-caret-down" style="color:{{ media.game.color }}"></i></span>
                                    {% else %}
                                        <span class="downMediaPostBtn" mediaPostId="{{ post.id }}" id="mdown{{ post.id }}"><i class="fa-solid fa-caret-down"></i></span>
                                    {% endif %}
                                {% endif %}

                            </div>

                        </div>

                    {% endfor %}

                {% endif %}

                
            </div>

        </div>

    </div>


{% endblock %}
