{% extends 'base.html.twig' %}

{% block title %}SquadForge - Find mates for gaming{% endblock %}

{% block body %}

    <header class="globalBanner" style="background: url('{{ asset('img/banner1.jpg') }}' )">
        <a href="{{ path('app_home') }}"><img src="{{ asset('img/logoSquadForge_v3.png') }}" class="logoPng" /></a>
        <nav class="navLine">
            <a href="{{ path('app_home') }}" class="homeNav navActive"><i class="fa-solid fa-house"></i></a>
            <a href="{{ path('app_games') }}" class="gamesNav caps">jeux</a>
            {% if app.user %}
                <a href="{{ path('app_userGroups') }}" class="teamsNav caps">teams</a>
                <a href="{{ path('app_showNotifsList') }}" class="notifsNav" style="padding:0;">
                    <div class="navNotifDiv">
                        <i class="fa-solid fa-bell notifBell"></i>
                        {# Bulle newNotifCount si > 0 #}
                        {% if userNotifCount > 0 %}
                            <span class="newNotifBubbleCount" id="newNotifBubbleCount">{{ userNotifCount }}</span>
                        {% endif %}
                    </div>
                </a>
            {% endif %}
            {% if app.user and "ROLE_MODO" in app.user.roles %}
            
                <a href="{{ path('app_moderationDashboard') }}" id="modoNav" class="modoNav">
                    <div class="modoNavSubDiv">
                        <span>Modération</span>
                        {% if modoNotifValidationCount > 0 %}
                            <span class="newNotifBubbleCount bubleModo1">{{ modoNotifValidationCount }}</span>
                        {% endif %}
                        {% if modoNotifReportCount > 0 %}
                            <span class="newNotifBubbleCount bubleModo2">{{ modoNotifReportCount }}</span>
                        {% endif %}
                    </div>
                </a>

                <script>
                    // Ajout d'espace libre sur l'onglet Nav "Modération" si bulles (car bulles absolutes)
                    var paddingRightOnglet = 0;
                    if({{modoNotifValidationCount}} > 0) {
                        paddingRightOnglet += 17;
                    }
                    if({{modoNotifReportCount}} > 0) {
                        paddingRightOnglet += 17;
                    }
                    document.getElementById('modoNav').style.paddingRight = paddingRightOnglet + "px";
                </script>

            {% endif %}

        </nav>
   
    </header>
    
    {# HeaderSouligne + Bandeau avertissement muted #}
    {% if app.user and app.user.muted and time_diff_future(app.user.endDateStatus) != false %}
        <div class="headerUnderline"></div>
        <div class="mutedBanner">  
            <span><i class="fa-solid fa-circle-exclamation mutedBannerIcon"></i>Vous êtes actuellement réduit au silence <span class="muteEndDate">( fin dans <span class="strongNbr">{{ time_diff_future(app.user.endDateStatus) }}</span> )</span></span>
        </div>
    {% else %}
        <div class="headerUnderline marginBottomHeaderLine"></div>
    {% endif %}
    


    <div class="main">

        {% if app.user %}
        
            <p class="greetingMsg">Welcome back, <span style="color:white;">{{ app.user.pseudo|capitalize }}</span> !</p>

        {% endif %}

        
        {% if app.user %}


            {# *** Si aucun Fav (après /register par exemple), carrousel games avec select ajax addFav #}
            {# Selection onClick card (ajout de l'id du jeu dans un tableau qui sera passer au controller lors du click Valider) #}
            {% if userFav|length == 0 %}

                <div class="splide splideAddFavs">

                    <h2 id="carousel-heading" class="addArrayFav_title">Commencez par ajouter vos jeux favoris :</h2>

                    <div class="lp-page3-containerMaster">

                        <div style="overflow:hidden;">

                            <div id="lp-page3-container" class="lp-page3-container splide__track" style="margin-top:15px;"> 

                                <div class="lp-phone-slpideTrait1"></div>

                                <div class="splide__list">

                                    {% set index = 1 %}

                                    {# ici userFav = allGames si aucun fav (backend) #}
                                    {% for game in allGames %}

                                        <a class="gameCardLink splide__slide" style="transform:scale(0.9);">
                                            <span id="noFavSplide_gameId{{ index }}" style="display:none;">{{ game.id }}</span>
                                            <div class="lp-page3-slideContainer">

                                                <svg class="gameSelectedBracketUp">
                                                    <path 
                                                        id="gameSelectedBracketUpPath{{ index }}"
                                                        class="gameSelectedBracketUpPath" 
                                                        d="M 57 82 L 57 58 C 57 53 60 48 66 48 L 67 48 L 266 48 C 274 48 276 51 276 56 L 276 55 L 276 82"
                                                        {# d="M 57 82 L 57 48 L 66 48 L 267 48 L 276 48 L 276 82" (sharp angles) #}
                                                        fill-opacity="0"
                                                        />
                                                </svg>

                                                <div id="lp-page3-slide0{{ index }}" class="lp-gameCard" style="background-image: linear-gradient(rgba(0, 0, 255, 0.05), rgba(249, 123, 44, 0.5)),url('{{ asset("img/games/headerBackground/" ~ game.subBanner )}}'); background-size:cover;">
                                                    
                                                    {# "+" hover card #}
                                                    <i id="favArrayPlus{{ index }}" class="fa-solid fa-plus favArrayHeart favArrayPlus"></i>
                                                    {# Coeur ajouté à l'array fav #}
                                                    <i id="favArrayHeart{{ index }}" class="fa-solid fa-heart-circle-check favArrayHeart"></i>
                                                    
                                                    <span id="lp-gameCardTitle{{ index }}" value="{{ game.title }}" class="lp-gameCardTitle">{{ game.title }}</span>

                                                </div>

                                                {# only Phone: #}
                                                <span value="{{ game.title }}" class="lp-gameCardTitlePhone">{{ game.title }}</span>

                                                <svg class="gameSelectedBracketDown">
                                                    <path 
                                                        id="gameSelectedBracketDownPath{{ index }}"
                                                        class="gameSelectedBracketDownPath" 
                                                        d="M 57 82 L 57 58 C 57 53 60 48 66 48 L 67 48 L 266 48 C 274 48 276 51 276 56 L 276 55 L 276 82"
                                                        {# d="M 57 82 L 57 48 L 66 48 L 267 48 L 276 48 L 276 82" (sharp angles) #}
                                                        fill-opacity="0"
                                                        />
                                                </svg>

                                            </div>
                                        </a>

                                        {% set index = index + 1 %}

                                    {% endfor %}

                                </div>

                                <div class="lp-phone-slpideTrait2"></div>

                            </div>

                        </div>

                    </div>

                    <div style="text-align:center; margin:50px auto 15px auto; width:fit-content;" id="validateAddFavsDiv" title="Sélectionnez d'abord un ou plusieurs jeux">
                        <button id="addArrayFavBtn" class="btn btn-primary addArrayFavBtn" disabled>Ajouter</button>
                    </div>

                    <script>

                        // Lors click sur un jeu: ajout de l'id à l'array de jeu à ajouter au favoris
                        window.onload = function() {

                            {% set index = 1 %}

                            var favArray = [];

                            {% for game in allGames %}
            
                                document.getElementById('lp-page3-slide0{{ index }}').addEventListener('click', function() {
                                    
                                    if(!favArray.includes({{game.id}})) {

                                        document.getElementById('favArrayHeart{{ index }}').style.display = "block";

                                        document.getElementById('favArrayPlus{{ index }}').style.display = "none";

                                        document.getElementById('lp-page3-slide0{{ index }}').style.backgroundImage = "linear-gradient(rgb(0 0 0 /95%), rgba(249, 123, 44, 0.5)),url(/img/games/headerBackground/{{ game.subBanner }})";

                                        document.getElementById('gameSelectedBracketUpPath{{ index }}').style.opacity = "1";
                                        document.getElementById('gameSelectedBracketUpPath{{ index }}').style.transform = "translateY(3px)";
                                        document.getElementById('gameSelectedBracketDownPath{{ index }}').style.opacity = "1";
                                        document.getElementById('gameSelectedBracketDownPath{{ index }}').style.transform = "translateY(2px)";


                                        favArray.push({{game.id}});
                                    }
                                    // Reclick sur un jeu ajouté = retire le jeu
                                    else {

                                        document.getElementById('favArrayHeart{{ index }}').style.display = "none";

                                        document.getElementById('lp-page3-slide0{{ index }}').style.backgroundImage = "linear-gradient(rgba(0, 0, 255, 0.05), rgba(249, 123, 44, 0.5)),url(/img/games/headerBackground/{{ game.subBanner }})";

                                        document.getElementById('gameSelectedBracketUpPath{{ index }}').style.opacity = "0";
                                        document.getElementById('gameSelectedBracketUpPath{{ index }}').style.transform = "translateY(-7px)";
                                        document.getElementById('gameSelectedBracketDownPath{{ index }}').style.opacity = "0";
                                        document.getElementById('gameSelectedBracketDownPath{{ index }}').style.transform = "translateY(-7px)";

                                        let indexToDelete = favArray.indexOf({{game.id}});
                                        if (indexToDelete !== -1) { // Check if the number is in the array
                                            favArray.splice(indexToDelete, 1); // Remove the number at the specified index
                                        }
                                    
                                    }

                                    // Activation du bouton submit que si array pas vide 
                                    if(favArray.length == 0 ) {
                                        document.getElementById('addArrayFavBtn').disabled = true;
                                        document.getElementById('addArrayFavBtn').setAttribute('title', "Sélectionnez d'abord un ou plusieurs jeux");
                                    }
                                    else {
                                        document.getElementById('addArrayFavBtn').disabled = false;
                                        document.getElementById('addArrayFavBtn').setAttribute('title', "");
                                    }

                                })

                            {% set index = index + 1 %}

                            {% endfor %}


                            // Envoi de l'array nouveau Favoris (ajax):
                            document.getElementById('addArrayFavBtn').addEventListener("click", function() {

                                fetch('/addArrayFav', {
                                    method: 'POST',
                                    headers: {
                                        'Content-Type': 'application/json'
                                    },
                                    body: JSON.stringify(favArray)
                                })
                                .then(response => response.json())
                                .then(data => {
                                    if (data.success) {
                                        window.FlashMessage.success(data.newState);  
                                        location.reload(); 
                                        // alert(data.data);                                                 
                                    } else {
                                        window.FlashMessage.error('Une erreur est survenue');
                                    }
                                });
                            })

                        }

                    </script>

                </div>

            {% endif %}
                




            {# Raccourcis Jeux favoris si logged in #}
            <div class="splide sectionHomeContainer">

                <div class="blinkingSectionTitle">
                    <div class="homeFavGamesTitle" style="background-color:var(--primary-color);"></div>
                    <h3 class="homeSubTitle noMarginBottom"><i class="fa solid fa-heart"></i> Jeux Favoris</h3>
                </div>

                <div class="lp-page3-containerMaster">

                    {% if userFav|length > 0 %}

                        <div style="overflow:hidden;">
                    
                            <div id="lp-page3-container" class="lp-page3-container splide__track"> 

                                <div class="lp-phone-slpideTrait1"></div>

                                <div class="splide__list">

                                    {% set index = 1 %}

                                    {% for game in userFav %}

                                        <a  class="gameCardLink splide__slide" href="{{ path('app_game', {'id': game.id} )}}" style="transform:scale(0.9);">
                                            <div class="lp-page3-slideContainer">

                                                <svg class="gameSelectedBracketUp">
                                                    <path 
                                                        id="gameSelectedBracketUpPath{{ index }}"
                                                        class="gameSelectedBracketUpPath" 
                                                        d="M 57 82 L 57 58 C 57 53 60 48 66 48 L 67 48 L 266 48 C 274 48 276 51 276 56 L 276 55 L 276 82"
                                                        {# d="M 57 82 L 57 48 L 66 48 L 267 48 L 276 48 L 276 82" (sharp angles) #}
                                                        fill-opacity="0"
                                                        />
                                                </svg>

                                                <div id="lp-page3-slide0{{ index }}" class="lp-gameCard" style="background-image: linear-gradient(rgba(0, 0, 255, 0.05), rgba(249, 123, 44, 0.5)),url('{{ asset("img/games/headerBackground/" ~ game.subBanner )}}'); background-size:cover;">

                                                    <span id="lp-gameCardTitle{{ index }}" value="{{ game.title }}" class="lp-gameCardTitle">{{ game.title }}</span>

                                                </div>

                                                {# only Phone: #}
                                                <span value="{{ game.title }}" class="lp-gameCardTitlePhone">{{ game.title }}</span>

                                                <svg class="gameSelectedBracketDown">
                                                    <path 
                                                        id="gameSelectedBracketDownPath{{ index }}"
                                                        class="gameSelectedBracketDownPath" 
                                                        d="M 57 82 L 57 58 C 57 53 60 48 66 48 L 67 48 L 266 48 C 274 48 276 51 276 56 L 276 55 L 276 82"
                                                        {# d="M 57 82 L 57 48 L 66 48 L 267 48 L 276 48 L 276 82" (sharp angles) #}
                                                        fill-opacity="0"
                                                        />
                                                </svg>

                                            </div>
                                        </a>

                                        {% set index = index + 1 %}

                                    {% endfor %}

                                </div>

                                <div class="lp-phone-slpideTrait2"></div>

                            </div>

                        </div>

                    {% else %}

                    <div class="emptyListMsg" style="display:inline-flex; flex-direction:column; width:100%;">
                        <span>Ajouter des jeux à vos Favoris pour les retrouver ici et filtrer le contenu du site !</span>
                        <a href="{{ path('app_games') }}" style="text-decoration:underline;"><i class="fa-solid fa-magnifying-glass" style="margin:0 10px;"></i> Parcourir les jeux</a>
                    </div>
                         
                    {% endif %}

                </div>
            </div>

            {# Raccourcis Teams si logged in #}
            <div class="sectionHomeContainer">

                <div>
                    <div class="homeUserTeamsTitle" style="background-color:var(--primary-color);"></div>
                    <h3 class="homeSubTitle noMarginBottom"><i class="fa-solid fa-users-rays"></i> Teams</h3>
                </div>

                <div class="sectionHomeContent genreGameList" style="text-align:center; width:100%;">

                    {% if userTeams|length > 0 %}
                    
                        {% for userTeam in userTeams %}
                            <!-- <a class="groupCard" href="{{ path('app_groupDetails', {'groupId': userTeam.id } ) }}" style="position:relative; box-shadow: 0 0 2px 1px {{ userTeam.game.color }};">
                                <div>
                                    <div>
                                        <img src="{{ asset('img/games/tinyLogo/' ~ userTeam.game.tinyLogo) }}" class="tinyLogoTeam">
                                        <h5 class="teamCardTitle" style="background-color: {{ userTeam.game.color }}; color:{{ userTeam.game.fontColor }};">
                                            {{ userTeam.title }} 
                                        </h5>
                                    </div>

                                    <div class="teamCardSubInfos" style="border-color: {{ userTeam.game.color }};">
                                        <span>{{ userTeam.members|length }} / {{ userTeam.nbrPlaces }}</span>
                                        {# Icon Leader #}
                                        {% if userTeam.leader == app.user %}<i class="fa-solid fa-crown" style="color:#ffe039;"></i>{% endif %}
                                    </div>
                                </div>
                            </a> -->

                            <a class="groupCard" href="{{ path('app_groupDetails', {'groupId': userTeam.id } ) }}" style="position:relative;">
                                <div>
                                    <img src="{{ asset('img/games/tinyLogo/' ~ userTeam.game.tinyLogo) }}" class="tinyLogoTeam">
                                    <h5 title="{{ userTeam.title }}" class="teamCardTitle" style="background-color: {{ userTeam.game.color }}; color:{{ userTeam.game.fontColor }};">
                                        {{ userTeam.title }} 
                                    </h5>
                                </div>
                            </a>
                        {% endfor %}
                    
                    {% else %}
                        
                        <div class="emptyListMsg" style="display:inline-flex; flex-direction:column; width:100%;">
                            <span>Rejoignez des teams pour y accéder directement ici !</span>
                            <a href="{{ path('app_games') }}" style="text-decoration:underline;"><i class="fa-solid fa-magnifying-glass" style="margin:0 10px;"></i>Parcourir les teams</a>
                        </div>

                    {% endif %}

                </div>
            </div>
        {% endif %}
        



        {# Si aucun fav: les topics/medias listes sont vident (TODO: global dans ce cas)  #}
        {# {% if userFav|length > 0 %} #}
        
            {# Les 5 derniers Topics (jeux favoris) #}
            <div class="sectionHomeContainer">

                <div>
                    <div class="homeTopicsTitle" style="background-color:var(--primary-color);"></div>
                    <a href="{{ path('app_allTopicsGlobal') }}" style="height:fit-content; width:fit-content; display:block;">
                        <h3 class="homeSubTitle noMarginBottom">
                            Derniers Topics
                        </h3>
                    </a>
                </div>

                <div class="sectionHomeContent topicList marginTop">

                    {% if lastTopics|length > 0 %}
                    
                        {% for topic in lastTopics %}
                            <a href="{{ path('app_topicDetail', {'id': topic.id}) }}">
                                <div title="{{ topic.title|capitalize }}" class="topicCard" style="border-bottom: 4px solid {{ topic.game.color }}">
                                    <img class="tinyLogo" src="{{ asset('img/games/tinyLogo/' ~ topic.game.tinyLogo) }}" />
                                    <span class="topicTitle">{{ topic.title|capitalize }}</span>
                                    <div class="topicCardSubInfos">
                                        {# <span>{{ topic.status }}</span>
                                        <span class="topicCardAuthor">{{ topic.user.pseudo }}</span> #}
                                        <span class="topicCardPublishDate">{{ time_diff(topic.publishDate) }}</span>
                                        {% if topic.topicPostsCount == 0 %}
                                            <span style="opacity:0.5;">{{ topic.topicPostsCount }} <i class="fa-solid fa-message" style="color:grey;"></i></span>
                                        {% else %}
                                            <span>{{ topic.topicPostsCount }} <i class="fa-solid fa-message" style="color:var(--primary-color)"></i></span>
                                        {% endif %}
                                    </div>
                                </div>
                            </a>
                        {% endfor %}

                        <span class="seeAllRedirect">
                            <a href="{{ path('app_allTopicsGlobal') }}">Tout voir  <i class="fa-solid fa-chevron-right"></i></a>
                        </span>

                    {% else %}
                        
                        <div class="emptyListMsg" style="display:inline-flex; flex-direction:column; width:100%;">
                            <span>Ajoutez des jeux à vos favoris pour retrouver ici leurs derniers topics !</span>
                            <a href="{{ path('app_allTopicsGlobal') }}" style="text-decoration:underline;"><i class="fa-solid fa-magnifying-glass" style="margin:0 10px;"></i>Parcourir tous les topics</a>
                        </div>

                    {% endif %}

                </div>

            </div>




            {# Derniers médias (tout jeux confondus) #}
            <div class="sectionHomeContainer">

                <div style="display:inline-flex;">
                    <div class="homeMediasTitle" style="background-color:var(--primary-color);"></div>
                    <a href=" {{ path('app_allMediasGlobal') }}">
                        <h3 class="homeSubTitle noMarginBottom">
                            Médias
                        </h3>
                    </a>
                </div>

                {% if lastMedias|length > 0 %}
                
                    <div class="sectionHomeContent masonry-grid">

                        {% for media in lastMedias %}

                            <div class="grid-item" style="height:fit-content;">

                                {% if app.user and app.user.autoPlayGifs or not app.user %}
                                <a href="{{ path('app_mediaDetail', {'id': media.id}) }}">
                                {% endif %}
                                    

                                    <div class="mediaCard">

                                        {% if app.user and not app.user.autoPlayGifs %}
                                        <a href="{{ path('app_mediaDetail', {'id': media.id}) }}">
                                        {% endif %}
                                        <div class="mediaCardHeader" title="{{ media.title|capitalize }}" style="border-bottom: 5px solid {{ media.game.color }}">
                                            <img class="tinyLogo" src="{{ asset('img/games/tinyLogo/' ~ media.game.tinyLogo) }}" />
                                            <span class="mediaTitle">{{ media.title|capitalize }}</span>
                                            {# <span>{{ media.status }}</span>
                                            <span>{{ media.user.pseudo }}</span> #}
                                            <span class="topicCardPublishDate">{{ time_diff(media.publishDate) }}</span>
                                        </div>
                                        {% if app.user and not app.user.autoPlayGifs %}
                                        </a>
                                        {% endif %}

                                        {# Gif autoplay=false si paramètre user #}
                                        {% if app.user %}
                                            {% if not app.user.autoPlayGifs %}
                                                <img data-gifffer="{{ asset("img/uploads/" ~ media.url) }}" data-gifffer-alt="media" class="mediaImg" />
                                            {% else %}
                                                <img src="{{ asset("img/uploads/" ~ media.url) }}" alt="media" class="mediaImg" />
                                            {% endif %}
                                        {% else %}
                                            <img src="{{ asset("img/uploads/" ~ media.url) }}" alt="media" class="mediaImg" />
                                        {% endif %}
                                        
                                    </div>

                                {% if app.user and app.user.autoPlayGifs or not app.user %}
                                </a>
                                {% endif %}


                                {# Upvote/downvote média + score + nbrPosts #}
                                <div class="mediaCardStatsDiv">

                                    {# Pas opti: bloucle sur tous les likes du post pour savoir si liké (boucle dans boucle) #}
                                    {% set liked = "" %}

                                    {% if app.user %}

                                        {% for upvote in media.UserUpvote %}

                                            {% if upvote == app.user %}
                                                {% set liked = "upBtnLiked" %}
                                            {% endif %}

                                        {% endfor %}
                                        
                                    {% endif %}

                                    
                                    <div class="inline">
                                        <i mediaId={{ media.id }} class="likeMedia fa-regular fa-circle-up {{ liked }}"></i>
                                        {# <i class="fa-regular fa-circle-down"></i> #}
                                        <span id="countLikesMedia{{ media.id }}" value="{{ media.upvoteCount }}"> {{ media.upvoteCount }} </span>
                                    </div>
                                
                                    {% if media.mediaPostsCount == 0 %}
                                        <a href="{{ path('app_mediaDetail', {'id':media.id}) }}">
                                            <span style="opacity:0.5;">{{ media.mediaPostsCount }} 
                                                <i class="fa-solid fa-message" style="color:grey;"></i>
                                            </span>
                                        </a>
                                    {% else %}
                                        <a href="{{ path('app_mediaDetail', {'id':media.id}) }}">
                                            <span>{{ media.mediaPostsCount }} 
                                                <i class="fa-solid fa-message" style="color:var(--primary-color)"></i>
                                            </span>
                                        </a>
                                    {% endif %}

                                </div>

                            </div>

                        {% endfor %}

                    </div>



                    <span class="seeAllRedirect">
                        <a href="{{ path('app_allMediasGlobal') }}">Tout voir  <i class="fa-solid fa-chevron-right"></i></a>
                    </span>


                    {# Masonry JS Medias (permet de rendre responsive entre autre) #}
                    <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
                    {# imagesLoaded JS #}
                    <script src="https://unpkg.com/imagesloaded@5/imagesloaded.pkgd.min.js"></script>
                    
                    <script>
                        $(document).ready(function() {
                            var $gridItems = $('.grid-item');
                            
                            $gridItems.imagesLoaded(function() {
                                setTimeout(function() {
                                    console.log('imagesLoaded');
                                    $('.masonry-grid').masonry({
                                        itemSelector: '.grid-item',
                                        columnWidth: '.grid-item',
                                        gutter: 15, // Adjust the gutter size as needed
                                    });
                                }, 500) 
                            });
                        });
                    </script>

                {% else %}

                    <div class="emptyListMsg" style="display:inline-flex; flex-direction:column; width:100%;">
                        <span>Ajoutez des jeux à vos favoris pour retrouver ici leurs derniers médias !</span>
                        <a href="{{ path('app_allMediasGlobal') }}" style="text-decoration:underline;"><i class="fa-solid fa-magnifying-glass" style="margin:0 10px;"></i>Parcourir tous les médias</a>
                    </div>

                {% endif %}

            </div>

        {# {% else %}
            
            <div class="emptyListMsg" style="display:inline-flex; flex-direction:column; width:100%;">
                <span>Ajoutez des jeux à vos favoris pour retrouver ici les derniers posts et médias !</span>
                <a href="{{ path('app_games') }}" style="text-decoration:underline;"><i class="fa-solid fa-magnifying-glass" style="margin:0 10px;"></i>Parcourir les jeux</a>
            </div>

        {% endif %} #}


    </div>



    {# Splide JS carousel games #}
    <script>
        document.addEventListener("DOMContentLoaded", function() {

            var isMobile = navigator.userAgent.match(/Android/i)
            || navigator.userAgent.match(/webOS/i)
            || navigator.userAgent.match(/iPhone/i)
            || navigator.userAgent.match(/iPad/i)
            || navigator.userAgent.match(/iPod/i)
            || navigator.userAgent.match(/BlackBerry/i)
            || navigator.userAgent.match(/Windows Phone/i);
            
            // Slide Scroll vertical sur mobile pas bonne idee car mess avec le scroll page
            if (isMobile){

               var splide = new Splide( '.splide', {
                    direction : 'ttb',
                    height: '25rem',
                    perPage: 4,
                    pagination: false,
                } );

                splide.mount();

            } else {
                var splide = new Splide( '.splide', {
                    width: '100%',
                    perPage: 5,

                } );

                splide.mount();
            }

        });
    </script>
    
{% endblock %}