{% extends 'base.html.twig' %}

{% block title %}SquadForge - Find mates for gaming{% endblock %}

{# Transition gameHeader backgroundImg #}
{% block styles %}
<style>
    .lp-gameHeader-fadeIn {
        animation: lp-gameBackground 10s 0.5s ease-out forwards;
    }
    @keyframes lp-gameBackground {
        from {
            background-image: radial-gradient(circle, rgba(255, 255, 255, 0) 0%, rgba(35, 35, 35, 0.996) 0%), url("/img/games/headerBackground/{{ game.subBanner }}");
        }
        to {
            background-image: radial-gradient(circle, rgba(255, 255, 255, 0) 0%, rgba(35, 35, 35, 0.996) 70%), url("/img/games/headerBackground/{{ game.subBanner }}");
        }
    }
</style>
{% endblock %}


{% block body %}

    {# Page 1 #}
    <header id="lp-page1" class="globalBannerLandingPage" style="background: url('{{ asset('img/banner.jpg') }}' ); height:100vh;">
        <a href="{{ path('app_home') }}"><img src="{{ asset('img/logoSquadForge_v3.png') }}" class="logoPng" /></a>

        
        <h2 class="landingPageSlogan">Forge your squad, Rule the game !</h2>

        <div class="lp-leftSection">
            <div>
                <span class="lp-usersCountLabel">Users</span> 
                <span class="lp-count">{{ usersCount }}</span>
            </div>
            <div>
                <span class="lp-usersCountLabel">Teams</span> 
                <span class="lp-count">{{ teamsCount }}</span>
            </div>
        </div>
        
        <div class="lp-teamsCountLine">
            <div>
                <span class="lp-teamsCountLabel">Games</span> 
                <span class="lp-count">{{ gamesCount }}</span>
            </div>
            <div>
                <span class="lp-teamsCountLabel">Topics</span> 
                <span class="lp-count">{{ topicsCount }}</span>
            </div>
            <div>
                <span class="lp-teamsCountLabel">Médias</span> 
                <span class="lp-count">{{ mediasCount }}</span>
            </div>
        </div>

        {# Scroll Btn #}
        <div id="lp-scrollBtn" class="landingPageDownBtn">
            <i class="fa-solid fa-chevron-down lpdownBtn1"></i>
            <i class="fa-solid fa-chevron-down lpdownBtn2"></i>
        </div>

    </header>
    


    {# <div class="headerUnderline marginBottomHeaderLine"></div> #}
    

    {# Page 2 #}
    <div id="lp-page2" style="height:100vh; position:relative;">

        <div style="display:inline-flex; width:100%; height:inherit;">

            <div class="lp-p2-leftSection">
                {# TODO Serait mieux avec couches de zindex (Mockup passe par dessus sectionRight#}
                {# TODO anim slide/fadeIn droite/gauche#}
                <img src="{{ asset('img/landingPageMockup2.jpg') }}" class="lp-p2-leftSectionImg">

                {# WIP absolute icons #}
                <i class="fa-solid fa-comments lp-p2-icons lp-p2-leftSection-icon1"></i>
                <i class="fa-solid fa-gamepad lp-p2-icons lp-p2-leftSection-icon2"></i>
                <i class="fa-solid fa-headset lp-p2-icons lp-p2-leftSection-icon3"></i>
                {# 
                <i class="fa-solid fa-people-group lp-p2-icons lp-p2-leftSection-icon4"></i>
                <i class="fa-solid fa-face-grin-squint-tears lp-p2-icons lp-p2-leftSection-icon5"></i> #}
            </div>

            <div class="lp-p2-rightSection">
                
                <span class="lp-p2-rightSectionTitle">Le gaming est meilleur en équipe. Rejoignez-nous pour trouver des teammates qui partageront votre passion.</span>

                <div class="lp-p2-rightSectionLoginDiv">
                    <a id="lp-loginBtn" href="{{ path('app_login') }}">Connexion</a>
                    <br>
                    <a id="lp-registerBtn" href="{{ path('app_register') }}">Inscription</a>
                </div>
            </div>

        </div>

        {# Scroll Btn #}
        <div id="lp-scrollBtn2" class="landingPageDownBtn">
            <i class="fa-solid fa-chevron-down lpdownBtn1"></i>
            <i class="fa-solid fa-chevron-down lpdownBtn2"></i>
        </div>

    </div>




    {# Page 3 (Contenu/fonctionalitées du site) #}
    {# TODO Ajax change contenu page 4 (medias,topics,teams) avec loading #}
    {# TODO while load: squeleton (gris avec waves) ? #}
    {# TODO orderBy nbr de publications #}
    {# + background 100% étoiles vers le haut color primary (cf les100cie) #}
    <div id="lp-page3" style="height:100vh; position:relative;">

        <h2 class="lp-page3-title">Choisissez un jeu</h2>

        <div id="lp-page3-container" class="lp-page3-container"> 

            {% set index = 0 %}

            {% for game in games %}

                <div id="lp-gameCard{{ index }}" class="lp-gameCard" style="background-image: linear-gradient(rgba(0, 0, 255, 0.05), rgba(249, 123, 44, 0.5)),url('{{ asset("img/games/banner/" ~ game.banner )}}');">

                    <span id="lp-gameCardTitle{{ index }}" value="{{ game.title }}" class="lp-gameCardTitle">{{ game.title }}</span>

                </div>

                {% set index = index + 1 %}

            {% endfor %}

            <button id="lp-arrow-right" class="lp-arrow-button lp-games-scrollHorizontal"><i class="fa-solid fa-chevron-right"></i></button>
            
        </div>

        {# TODO Fleche de transition page3 -> page4 si game selected  #}

    </div>




    {# Page 4 (Contenus associé au jeu sélectionné) #}
    {# TODO vertical comme page3 #}
    <div id="lp-page4" class ="lp-page4" style="height:100vh;">

        <div id="lp-page4-titleDiv" class="lp-page4-titleDiv">
            <h2 id="lp-page4-selectedGameTitle"><i class="fa-solid fa-arrow-up" style="margin:0 15px;"></i>Sélectionnez un jeu pour filtrer</h2>
        </div>

        <div class="lp-page4-container"> 
            <div class="lp-page4-card">
                <h3 class="lp-page4-cardTitle">Rejoindre/Créer une team</h3>
                {# mini listes ou juste cards ? #}
            </div>

            <div class="lp-page4-card">
                <h3 class="lp-page4-cardTitle">Parcourir les Topics</h3>
            </div>

            <div class="lp-page4-card">
                <h3 class="lp-page4-cardTitle">Explorer et partagez du contenu</h3>
            </div>
        </div>

        {# TODO: fleche scrollUp -> page3 (choix jeu), au meme endroit #}

    </div>







    {# Ajax get LandingPage game content #}




    {# HS: Bouton Scroll horizontal gameList #}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            var container = document.querySelector(".lp-page3-container");
            var button = document.getElementById("lp-arrow-right");

            // Adjust the step size based on your preference
            var scrollStep = 300;

            // Check if the container is overflowing horizontally
            // function checkOverflow() {
            //     return container.scrollWidth > container.clientWidth;
            // }

            // // Handle button visibility and scrolling
            // function updateScroll() {
            //     if (checkOverflow()) {
            //         button.disabled = false;
            //     } else {
            //         button.disabled = true;
            //     }
            // }

            // Scroll the container to the left
            function scrollToLeft() {
                // var scrollAmount = container.scrollLeft + scrollStep;
                // var animationDuration = 400;
                // var startTime = null;

                // function step(timestamp) {
                //     if (!startTime) startTime = timestamp;
                //     var progress = timestamp - startTime;
                //     var ease = Math.min(progress / animationDuration, 1);
                //     container.scrollLeft = container.scrollLeft + ease * (scrollAmount - container.scrollLeft);
                //     if (progress < animationDuration) {
                //         requestAnimationFrame(step);
                //     }
                // }

                // requestAnimationFrame(step);

                // En attendant:
                document.getElementById("lp-page3-container").style.transform = "translateX(-520px)";


            }

            // Update button state on page load and window resize
            // window.addEventListener("resize", updateScroll);
            // updateScroll();

            // Bind click event to the arrow button
            button.addEventListener("click", function() {
                console.log("test");
                scrollToLeft();
            });
        });
    </script>


    {# Btn Scroll général #}
    {# TODO: 1er tick de scroll = scroll nextSection ? #}
    <script>
        window.onload = function() {
        
            document.getElementById('lp-scrollBtn').addEventListener('click', function() {
                const element = document.getElementById("lp-page2");
                element.scrollIntoView({behavior: "smooth", block: "end", inline: "nearest"});
            });
            document.getElementById('lp-scrollBtn2').addEventListener('click', function() {
                const element2 = document.getElementById("lp-page3");
                element2.scrollIntoView({behavior: "smooth", block: "end", inline: "nearest"});
            });
        


            // {# OnSelect game: scroll page 4 (détails) + anims #}
            {% set index = 0 %}

            {% for game in games %}
                
                document.getElementById('lp-gameCard{{ index }}').addEventListener('click', function() {
                    
                    // reset Bow-shadow + scroll 
                    document.querySelectorAll('.lp-gameCard').forEach(element => {
                        element.classList.remove('lp-gameCard-boxShadow');
                    });


                    // Changement backgroundTitle page4
                    document.getElementById('lp-page4-titleDiv').classList.add("lp-gameHeader-fadeOut");
                    setTimeout(() => {
                        
                        document.getElementById('lp-page4-titleDiv').classList.remove("lp-gameHeader-fadeOut");
                        // document.getElementById('lp-page4-titleDiv').style.background = "url({{ asset('img/games/banner/' ~ game.banner) }})";
                        document.getElementById('lp-page4').style.backgroundImage = "radial-gradient(circle, rgba(255,255,255,0) 0%, rgba(35,35,35,0.995) 69%), url('/img/games/headerBackground/{{ game.subBanner }}')";
                        document.getElementById('lp-page4-titleDiv').classList.add("lp-gameHeader-fadeIn");
                    }, 1000);


                    document.getElementById('lp-page4-selectedGameTitle').innerHTML = "{{ game.title }}";
                    document.getElementById('lp-page4-selectedGameTitle').style.fontFamily = "'Julius Sans One', sans-serif";

                    document.getElementById('lp-gameCard{{ index }}').classList.add('lp-gameCard-boxShadow');
                    setTimeout(() => {
                        document.getElementById('lp-page4').scrollIntoView({behavior: "smooth", block: "end", inline: "nearest"});
                    }, 200);
                
                });
                {% set index = index + 1 %}

            {% endfor %}

        }

    </script>


    
{% endblock %}


