{% extends 'base.html.twig' %}

{% block title %}SquadForge - Find mates for gaming{% endblock %}

{# Transition gameHeader backgroundImg #}
{% block styles %}
<style>
    .lp-gameHeader-fadeIn {
        animation: lp-gameBackground 10s 0.5s ease-out forwards;
    }
    @keyframes lp-gameBackground {
        from {
            background-image: radial-gradient(circle, rgba(255, 255, 255, 0) 0%, rgba(35, 35, 35, 0.996) 0%), url("/img/games/headerBackground/{{ game.subBanner }}");
        }
        to {
            background-image: radial-gradient(circle, rgba(255, 255, 255, 0) 0%, rgba(35, 35, 35, 0.996) 70%), url("/img/games/headerBackground/{{ game.subBanner }}");
        }
    }
</style>
{% endblock %}


{% block body %}

    <div style="display:inline-flex; width:100%; position:relative;">

        {# Page 1a #}
        <header id="lp-page1a" class="globalBannerLandingPage" style="background: url('{{ asset('img/banner.jpg') }}' ); height:100vh; width:70%;">
            <a href="{{ path('app_home') }}"><img src="{{ asset('img/logoSquadForge_v3.png') }}" class="logoPng" /></a>

            
            <h2 class="landingPageSlogan">Forge your squad, Rule the game !</h2>

            <div class="lp-leftSection">
                <div>
                    <span class="lp-usersCountLabel">Users</span> 
                    <span class="lp-count">{{ usersCount }}</span>
                </div>
                <div>
                    <span class="lp-usersCountLabel">Teams</span> 
                    <span class="lp-count">{{ teamsCount }}</span>
                </div>
            </div>
            
            <div class="lp-teamsCountLine">
                <div>
                    <span class="lp-teamsCountLabel">Games</span> 
                    <span class="lp-count">{{ gamesCount }}</span>
                </div>
                <div>
                    <span class="lp-teamsCountLabel">Topics</span> 
                    <span class="lp-count">{{ topicsCount }}</span>
                </div>
                <div>
                    <span class="lp-teamsCountLabel">Médias</span> 
                    <span class="lp-count">{{ mediasCount }}</span>
                </div>
            </div>



        </header>


        


        {# <div class="headerUnderline marginBottomHeaderLine"></div> #}
        

        {# Page 1b #}
        <div id="lp-page1b" style="height:100vh; position:relative;width:30%;">

            {# Partie 1 (50vh) de la page 2 #}

                <div class="lp-p2-rightSection" style="width:140%; z-index:10;">
                    
                    <div class="lp-p1b-div" >


                        <p class="lp-p1b-rightSectionTitle">Le <strong>gaming</strong> est meilleur en équipe. Rejoignez-nous pour trouver des <strong>teammates</strong> qui partageront votre passion.</p>


                        <div class="lp-p1b-rightSectionLoginDiv">
                            <a id="lp-loginBtn" href="{{ path('app_login') }}">Connexion</a>
                            <br>
                            <a id="lp-registerBtn" href="{{ path('app_register') }}">Inscription</a>
                        </div>
                    </div>

                </div>


        </div>

        {# Scroll Btn #}
        <div id="lp-scrollBtn" class="landingPageDownBtn">
            <i class="fa-solid fa-chevron-down lpdownBtn1"></i>
            <i class="fa-solid fa-chevron-down lpdownBtn2"></i>
        </div>


    </div>



    {# BACKUP Page 2 #}
    <div id="lp-page2" style="height:100vh; position:relative;">

        {# Partie 1 (50vh) de la page 2 #}
        <div style="display:inline-flex; width:100%; height:50vh;">

            <div class="lp-p2-leftSection">
                {# TODO Serait mieux avec couches de zindex (Mockup passe par dessus sectionRight#}
                {# TODO anim slide/fadeIn droite/gauche#}
                <img src="{{ asset('img/landingPageMockup2.jpg') }}" class="lp-p2-leftSectionImg">

                {# WIP absolute icons #}
                <i class="fa-solid fa-comments lp-p2-icons lp-p2-leftSection-icon1"></i>
                <i class="fa-solid fa-gamepad lp-p2-icons lp-p2-leftSection-icon2"></i>
                <i class="fa-solid fa-headset lp-p2-icons lp-p2-leftSection-icon3"></i>
                {# 
                <i class="fa-solid fa-people-group lp-p2-icons lp-p2-leftSection-icon4"></i>
                <i class="fa-solid fa-face-grin-squint-tears lp-p2-icons lp-p2-leftSection-icon5"></i> #}
            </div>

            <div class="lp-p2-rightSection">
                
                <span class="lp-p2-rightSectionTitle">Le gaming est meilleur en équipe. Rejoignez-nous pour trouver des teammates qui partageront votre passion.</span>

                <div class="lp-p2-rightSectionLoginDiv">
                    <a id="lp-loginBtn" href="{{ path('app_login') }}">Connexion</a>
                    <br>
                    <a id="lp-registerBtn" href="{{ path('app_register') }}">Inscription</a>
                </div>
            </div>

        </div>

        {# Partie 2 (50vh) de la page 2 #}
        <div>
            <div>
                
            </div>
            <div>
            
            </div>
        </div>

        {# Scroll Btn #}
        <div id="lp-scrollBtn2" class="landingPageDownBtn">
            <i class="fa-solid fa-chevron-down lpdownBtn1"></i>
            <i class="fa-solid fa-chevron-down lpdownBtn2"></i>
        </div>

    </div>




    {# Page 3 (Contenu/fonctionalitées du site) #}
    {# TODO Ajax change contenu page 4 (medias,topics,teams) avec loading #}
    {# TODO while load: squeleton (gris avec waves) ? #}
    {# TODO orderBy nbr de publications #}
    {# + background 100% étoiles vers le haut color primary (cf les100cie) #}
    <div id="lp-page3" class="splide" style="height:100vh; position:relative;" aria-labelledby="carousel-heading">

        <h2 id="carousel-heading" class="lp-page3-title">
            <i class="fa-solid fa-down-long choseGameArrow"></i>
            <span style="margin:0 25px;">Choisissez un jeu pour filtrer</span>
            <i class="fa-solid fa-down-long choseGameArrow"></i>
        </h2>

        <div style="position:relative;">

            <div id="lp-page3-container" class="lp-page3-container splide__track"> 

                <div class="splide__list">

                    {% set index = 1 %}

                    {% for game in games %}

                        <div id="lp-page3-slide0{{ index }}" class="lp-gameCard splide__slide" style="background-image: linear-gradient(rgba(0, 0, 255, 0.05), rgba(249, 123, 44, 0.5)),url('{{ asset("img/games/banner/" ~ game.banner )}}');">

                            <span id="lp-gameCardTitle{{ index }}" value="{{ game.title }}" class="lp-gameCardTitle">{{ game.title }}</span>

                        </div>

                        {% set index = index + 1 %}

                    {% endfor %}

                </div>

                
            </div>

            <!-- Add the progress bar element -->
            <div class="my-slider-progress">
                <div class="my-slider-progress-bar"></div>
            </div>

        </div>

        {# TODO Fleche de transition page3 -> page4 si game selected  #}
            
            {# Scroll Btn #}
            <div id="lp-scrollBtn3" class="landingPageDownBtn" style="display:inline-flex; flex-direction:row; gap:25px; transform: translate(50%, 8%); align-items:center; padding:20px 30px;">
                <span style="opacity:0.8; color:grey;">Skip</span>
                <div style="display:inline-flex; flex-direction:column;">
                    <i class="fa-solid fa-chevron-down lpdownBtn1"></i>
                    <i class="fa-solid fa-chevron-down lpdownBtn2"></i>
                </div>
            </div>

    </div>




    {# Page 4 (Contenus associé au jeu sélectionné) #}
    <div id="lp-page4" class ="lp-page4" style="height:100vh; background-image:radial-gradient(circle, rgba(255, 255, 255, 0) 0%, rgba(35, 35, 35, 0.996) 69%), url('{{ asset('img/landingPage4.jpg') }}')">

        <a id="lp-page4-titleLink">
            <div class="lp-page4-titleDivWrapper" style="display:inline-flex;width:100%;justify-content:center;gap:55px;">
                {# title: link gameDetails #}
                    <div id="lp-page4-titleDiv" class="lp-page4-titleDiv">
                        <img id="lp-page4-gameLogo" src=""> 
                        <h2 id="lp-page4-selectedGameTitle"><i class="fa-solid fa-arrow-up" style="margin:0 15px;"></i>Sélectionnez un jeu pour filtrer</h2>
                    </div>
                {# Scroll Btn top #}
            </div>
        </a>

        <div id="lp-scrollBtn4" class="landingPageUpBtn" style="display:none;">
            <i class="fa-solid fa-chevron-up lpdownBtn1inversed"></i>
            <i class="fa-solid fa-chevron-up lpdownBtn2inversed"></i>
        </div>

        <div style="height:1px; width:100%; background:radial-gradient(circle, rgba(255,255,255,1) 11%, rgba(44,243,249,0) 70%);"></div>

        <div class="lp-page4-container"> 
            {# <a id="lp-page4-cardTeams"> #}
                <div class="lp-page4-card lp-page4-cardTeam" style="cursor:default; margin-top:70px;">
                    <h3 class="lp-page4-cardTitle">Teams</h3>
                    {# mini listes ou juste cards ? #}
                    <div class="lp-page4-teamsCardContent">
                        <img src="{{ asset('img/teamCardImg.png') }}" style="width:70%; margin:20px auto; opacity:0.5;">
                        <a id="lp-page4-cardTeams-seek">
                            <span class="lp-page4-cardTeams-btn">Rejoindre une team</span>
                        </a>
                        <a id="lp-page4-cardTeams-create">
                            <span class="lp-page4-cardTeams-btn">Créer votre team</span>
                        </a>
                    </div>
                </div>
            {# </a> #}

            <a href="{{ path('app_allTopicsGlobal') }}" id="lp-page4-cardTopics" style="margin-top:70px;">
                <div class="lp-page4-card">
                    <h3 class="lp-page4-cardTitle">Topics</h3>
                    <img src="{{ asset('img/landingPageTopics_v2.png') }}" class="lp-page4-img" style="width:-webkit-fill-available; margin: 30px auto;">
                </div>
            </a>

            <a href="{{ path('app_allMediasGlobal') }}" id="lp-page4-cardMedias" style="margin-top:70px;">
                <div class="lp-page4-card">
                    <h3 class="lp-page4-cardTitle">Médias</h3>
                <img src="{{ asset('img/landingPageMedias_v2.png') }}" class="lp-page4-img" style="width:-webkit-fill-available; margin: 30px auto;">
                </div>
            </a>
        </div>

        {# TODO: fleche scrollUp -> page3 (choix jeu), au meme endroit #}

    </div>







    {# Ajax get LandingPage game content #}





    <style>
        .my-slider-progress {
            width: 85%;
            margin: 20px auto;
            background: #ccc;
        }
        
        .my-slider-progress-bar {
            background: var(--primary-color);
            height: 4px;
            transition: width 400ms ease;
            width: 0;
        }
    </style>



    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    {# Splide JS carousel games #}
    <script>
        document.addEventListener("DOMContentLoaded", function() {

            new Splide( '.splide' ).mount();

            var splide = new Splide( '.splide', {
                perPage: 5,
            } );

            var bar = splide.root.querySelector( '.my-slider-progress-bar' );

            // Updates the bar width whenever the carousel moves:
            splide.on( 'mounted move', function () {
                var end  = splide.Components.Controller.getEnd() + 1;
                var rate = Math.min( ( splide.index + 1 ) / end, 1 );
                bar.style.width = String( 100 * rate ) + '%';
            } );

            splide.mount();

        });
    </script>


    {# Btn Scroll général #}
    {# TODO: 1er tick de scroll = scroll nextSection ? #}
    <script>
        window.onload = function() {
        
            document.getElementById('lp-scrollBtn').addEventListener('click', function() {
                const element = document.getElementById("lp-page2");
                element.scrollIntoView({behavior: "smooth", block: "end", inline: "nearest"});
            });
            document.getElementById('lp-scrollBtn2').addEventListener('click', function() {
                const element2 = document.getElementById("lp-page3");
                element2.scrollIntoView({behavior: "smooth", block: "end", inline: "nearest"});
            });
            document.getElementById('lp-scrollBtn3').addEventListener('click', function() {
                const element3 = document.getElementById("lp-page4");
                element3.scrollIntoView({behavior: "smooth", block: "end", inline: "nearest"});
            });
            document.getElementById('lp-scrollBtn4').addEventListener('click', function() {
                const element4 = document.getElementById("lp-page3");
                element4.scrollIntoView({behavior: "smooth", block: "end", inline: "nearest"});
            });

            document.getElementById('lp-page4-titleLink').addEventListener('click', function() {
                const element5 = document.getElementById("lp-page3");
                element5.scrollIntoView({behavior: "smooth", block: "end", inline: "nearest"});
            });
        

            var gameSelected = false;

            // {# OnSelect game: scroll page 4 (détails) + anims #}
            {% set index = 1 %}

            {% for game in games %}
                
                document.getElementById('lp-page3-slide0{{ index }}').addEventListener('click', function() {


                    // if(document.getElementById('lp-page3-slide0{{ index }}').getAttribute('selected') == true)
                    document.getElementById('lp-page3-slide0{{ index }}').setAttribute('selected', true);

                    if(gameSelected == false) {
                        gameSelected = !gameSelected;
                    }

                    if(gameSelected) {

                        // si game clické meme que selected: gameSlected = false;


                        document.getElementById('lp-scrollBtn4').style.display = "inline-flex";

                        // BorderColor selon game selected
                        document.querySelectorAll('.lp-page4-card').forEach(element => {
                            element.style.border = "1px solid {{ game.color }};";
                        });

                        // reset Box-shadow + scroll 
                        document.querySelectorAll('.lp-gameCard').forEach(element => {
                            element.classList.remove('lp-gameCard-boxShadow');
                        });

                        // Couleur des btn teamCard (selon jeu)
                        document.querySelectorAll('.lp-page4-cardTeams-btn').forEach(element => {
                            element.style.backgroundColor = "{{ game.color }}";
                        });

                        // Changement backgroundTitle page4
                        document.getElementById('lp-page4').classList.add("lp-gameHeader-fadeOut");
                        setTimeout(() => {
                            document.getElementById('lp-page4').style.backgroundImage = "radial-gradient(circle, rgba(255,255,255,0) 0%, rgba(35,35,35,0.995) 69%), url('/img/games/headerBackground/{{ game.subBanner }}')";
                            document.getElementById('lp-page4').classList.add("lp-gameHeader-fadeIn");
                        }, 500);

                        // Adaptation des liens des cards page4
                        document.getElementById('lp-page4-cardTopics').setAttribute('href', '/allTopics/{{ game.id}}');
                        document.getElementById('lp-page4-cardMedias').setAttribute('href', '/allMedias/{{ game.id}}');
                        document.getElementById('lp-page4-cardTeams-seek').setAttribute('href', '/groupList/{{ game.id}}');
                        document.getElementById('lp-page4-cardTeams-create').setAttribute('href', '/createGroup/{{ game.id}}');
                        document.getElementById('lp-page4-titleLink').setAttribute('href', '/game/{{ game.id }}');
                        document.getElementById('lp-page4-gameLogo').setAttribute('src', '{{ asset("img/games/tinyLogo/" ~ game.tinyLogo ) }}');

                        document.getElementById('lp-page4-selectedGameTitle').innerHTML = "{{ game.title }}";
                        document.getElementById('lp-page4-selectedGameTitle').classList.add("lp-page4-selectedGameTitle");
                        document.getElementById('lp-page4-selectedGameTitle').style.textShadow = "-2px -2px 0 {{ game.color }}, 2px -2px 0 {{ game.color }}, -2px 2px 0 {{ game.color }}, 2px 2px 0 {{ game.color }}";

                        document.getElementById('lp-page3-slide0{{ index }}').classList.add('lp-gameCard-boxShadow');
                        setTimeout(() => {
                            document.getElementById('lp-page4').scrollIntoView({behavior: "smooth", block: "end", inline: "nearest"});
                        }, 200);

                    }
                    else {
                        
                        document.getElementById('lp-scrollBtn4').style.display = "none";

                        // BorderColor neutre / gris
                        document.querySelectorAll('.lp-page4-card').forEach(element => {
                            element.style.border = "1px solid #9a9a9a;";
                        });

                        // reset Box-shadow + scroll 
                        document.querySelectorAll('.lp-gameCard').forEach(element => {
                            element.classList.remove('lp-gameCard-boxShadow');
                        });

                        // Couleur des btn teamCard (selon jeu)
                        document.querySelectorAll('.lp-page4-cardTeams-btn').forEach(element => {
                            element.style.backgroundColor = "{{ game.color }}";
                        });

                        // Changement backgroundTitle page4
                        document.getElementById('lp-page4').classList.add("lp-gameHeader-fadeOut");
                        setTimeout(() => {
                            document.getElementById('lp-page4').style.backgroundImage = "radial-gradient(circle, rgba(255,255,255,0) 0%, rgba(35,35,35,0.995) 69%), url('/img/games/headerBackground/{{ game.subBanner }}')";
                            document.getElementById('lp-page4').classList.add("lp-gameHeader-fadeIn");
                        }, 500);

                        // Adaptation des liens des cards page4
                        document.getElementById('lp-page4-cardTopics').setAttribute('href', '/allTopicsGlobal');
                        document.getElementById('lp-page4-cardMedias').setAttribute('href', '/allMediasGlobal');
                        // document.getElementById('lp-page4-cardTeams-seek').setAttribute('href', '/groupList/{{ game.id}}');
                        // document.getElementById('lp-page4-cardTeams-create').setAttribute('href', '/createGroup/{{ game.id}}');
                        // document.getElementById('lp-page4-titleLink').setAttribute('href', '/game/{{ game.id }}');
                        document.getElementById('lp-page4-gameLogo').setAttribute('src', '');

                        document.getElementById('lp-page4-selectedGameTitle').innerHTML = "Sélectionnez un jeu pour filtrer";
                        document.getElementById('lp-page4-selectedGameTitle').classList.remove("lp-page4-selectedGameTitle");
                        document.getElementById('lp-page4-selectedGameTitle').style.textShadow = "0px 0px 0 white, 0px 0px 0 white, -0px 0px 0 white, 0px 0px 0 white";

                        document.getElementById('lp-page3-slide0{{ index }}').classList.add('lp-gameCard-boxShadow');
                        setTimeout(() => {
                            document.getElementById('lp-page4').scrollIntoView({behavior: "smooth", block: "end", inline: "nearest"});
                        }, 200);


                    }
                
                });
                {% set index = index + 1 %}

            {% endfor %}

        }

    </script>


    
{% endblock %}


