{% extends 'base.html.twig' %}

{% block title %}SquadForge - Find mates for gaming{% endblock %}

{% block body %}

    {# Page 1 #}
    <header class="globalBannerLandingPage" style="background: url('{{ asset('img/banner.jpg') }}' ); height:100vh;">
        <a href="{{ path('app_home') }}"><img src="{{ asset('img/logoSquadForge_v2.png') }}" class="logoPng" /></a>

        <div>
        <h2 class="landingPageSlogan">Forge your squad, Rule the game !</h2>

        <div class="lp-leftSection">
            <div>
                <span class="lp-usersCountLabel">Users</span> 
                <span class="lp-count">{{ usersCount }}</span>
            </div>
            <div>
                <span class="lp-usersCountLabel">Teams</span> 
                <span class="lp-count">{{ teamsCount }}</span>
            </div>
        </div>
        
        <div class="lp-teamsCountLine">
            <div>
                <span class="lp-teamsCountLabel">Games</span> 
                <span class="lp-count">{{ gamesCount }}</span>
            </div>
            <div>
                <span class="lp-teamsCountLabel">Topics</span> 
                <span class="lp-count">{{ topicsCount }}</span>
            </div>
            <div>
                <span class="lp-teamsCountLabel">Médias</span> 
                <span class="lp-count">{{ mediasCount }}</span>
            </div>
        </div>

        <div class="landingPageDownBtn">
            <i class="fa-solid fa-chevron-down lpdownBtn1"></i>
            <i class="fa-solid fa-chevron-down lpdownBtn2"></i>
        </div>

    </header>
    


    {# <div class="headerUnderline marginBottomHeaderLine"></div> #}
    

    {# Page 2 #}
    <div style="height:100vh;">

        <div style="display:inline-flex; width:100%; height:inherit;">

            <div class="lp-p2-leftSection">
                {# TODO Serait mieux avec couches de zindex (Mockup passe par dessus sectionRight#}
                {# TODO anim slide/fadeIn droite/gauche#}
                <img src="{{ asset('img/landinPageMockup.jpg') }}" class="lp-p2-leftSectionImg">

                {# WIP absolute icons #}
                <i class="fa-solid fa-comments lp-p2-icons lp-p2-leftSection-icon1"></i>
                {# <i class="fa-solid fa-headset lp-p2-icons lp-p2-leftSection-icon2"></i>
                <i class="fa-solid fa-gamepad lp-p2-icons lp-p2-leftSection-icon3"></i>
                <i class="fa-solid fa-people-group lp-p2-icons lp-p2-leftSection-icon4"></i>
                <i class="fa-solid fa-face-grin-squint-tears lp-p2-icons lp-p2-leftSection-icon5"></i> #}
            </div>

            <div class="lp-p2-rightSection">
                
                <span class="lp-p2-rightSectionTitle">Le gaming est meilleur en équipe. Rejoignez-nous dès aujourd'hui pour trouver des compagnons de jeu qui partageront votre passion.</span>

                <div class="lp-p2-rightSectionLoginDiv">
                    <a href="{{ path('app_login') }}">Connexion</a>
                    <br>
                    <a href="{{ path('app_register') }}">Inscription</a>
                </div>
            </div>

        </div>

    </div>


    {# Page 3 (Contenu/fonctionalitées du site) #}
    <div style="height:100vh;">

        <h2>Bien plus qu'un simple forum !</h2>

    </div>


    {# Page 4: explorer les jeux ? #}



    
{% endblock %}