
<form id="lp-login" method="post" action="{{ path('app_login') }}">

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}

    <h1 id="loginFormTitle" class="h3 mb-3 font-weight-normal">Connexion</h1>
    <label for="inputEmail" style="font-family:'K2D', sans-serif;">E-mail</label>
    <input type="email" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
    <label for="inputPassword" style="font-family:'K2D', sans-serif;">Mot de passe</label>
    <div style="position:relative;">
        <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
        <i class="far fa-eye" id="togglePassword" style="cursor: pointer;"></i>
    </div>


    <input type="hidden" name="_csrf_token"
        value="{{ csrf_token('authenticate') }}"
    >

        
    {# Remember me: #}
    <div class="checkbox mb-3 rememberMeDiv">
        <label style="font-family: 'K2D', sans-serif;">
            <input type="checkbox" name="_remember_me" class="form-check-input"> Remember me
        </label>
    </div>
   

    <button id="lp-registerFormBtn" class="btn btn-lg btn-primary" type="submit">
        Connexion
    </button>

    <a href="{{ path('app_register') }}"><span style="font-family:'K2D', sans-serif">Pas de compte ?</span> S'inscrire</a>

    {# <a href="{{ linkTwitchOAuth }}" class="twitchLoginBtn">Se connecter avec <span class="twitchWord">Twitch</span></a> #}


</form>


