
<form id="lp-login" method="post" action="{{ path('app_login') }}">

            {% if app.user %}
                <div class="mb-3">
                    You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
                </div>
            {% endif %}

    <h1 class="h3 mb-3 font-weight-normal">Connection</h1>
    <label for="inputEmail" style="font-family:'K2D', sans-serif;">E-mail</label>
    <input type="email" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
    <label for="inputPassword" style="font-family:'K2D', sans-serif;">Mot de passe</label>
    <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

    <input type="hidden" name="_csrf_token"
        value="{{ csrf_token('authenticate') }}"
    >

    {#     
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
    #}

    <button id="lp-registerBtn" class="btn btn-lg btn-primary" type="submit" style="margin:30px auto; width:100%; clip-path:polygon(0% 0, 100% 0, 100% 100%, 0% 100%); padding:10px 100px; font-size:1.2em;">
        Sign in
    </button>

    <a href="{{ path('app_register') }}"><span style="font-family:'K2D', sans-serif">Pas de compte ?</span> S'inscrire</a>

    {# <a  style="position:relative; top:50px;">Inscription</a> #}
</form>

