{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}

    <header>
        <a href="{{ path('app_home') }}"><img src="{{ asset('img/logoSquadForge_Black_Rogned.png') }}" class="logoPng" /></a>
    </header>
    <div class="headerUnderline"></div>


    <div class="main">

        {% for flash_error in app.flashes('verify_email_error') %}
            <div class="alert alert-danger danger" role="alert">{{ flash_error }}</div>
        {% endfor %}

        <h1 style="">Rejoignez la communauté !</h1>

        <div style="display:inline-flex; width:100%; margin-top:30px;">
            <div class="registerLeftDiv">

                <div style="width:95%; margin:0 auto; padding:20px 40px; border:2px solid #f97b2c61; background-color: #f97b2c0a; border-radius:7px;">
                    {{ form_start(registrationForm) }}
                        {{ form_row(registrationForm.email) }}
                        {{ form_row(registrationForm.pseudo) }}
                        {{ form_row(registrationForm.plainPassword, {
                            label: 'Password'
                        }) }}
                        
                        {{ form_row(registrationForm.agreeTerms) }}
                    {{ form_end(registrationForm) }}

                    <a href="{{ path('app_login') }}">Se connecter</a>
                </div>

                
            </div>

            <div class="registerRightDiv">

                <div style="position:relative; display:flex; width:85%; font-family:'K2D', sans-serif; margin:0 auto;">
                    <p style="padding-right:35px; font-size:1.2em; margin-block-end:0;">Créé un compte pour personaliser le contenu du site, pour t'exprimer, participer, et rejoindre ou créer une team qui te correspond !</p>
                    <div class="registerRightShape"></div>
                </div>

                <div style="display:flex; justify-content:center; margin:40px 0;">

                    <div class="register_restrictionsDiv">

                        <span id="registerEmailCriteria" class="registerRestriction">- L'email n'est pas valide</span>

                        <span id="registerPseudoCriteria" class="registerRestriction">.</span>

                        <span>Votre mot de passe doit comporter:</span>
                        <ul style="line-height:20px; margin-top:8px;">
                            <li id="registerRestriction-nbrChar" class="registerRestriction">- Au moins 10 caractères</li>
                            <li id="registerRestriction-nbrMaj" class="registerRestriction">- Au moins 1 majuscule</li>
                            <li id="registerRestriction-nbrMin" class="registerRestriction">- Au moins 1 minuscule</li>
                            <li id="registerRestriction-nbrNum" class="registerRestriction">- Au moins 1 chiffre</li>
                            <li id="registerRestriction-nbrSpecial" class="registerRestriction">- Au moins 1 caractère spécial</li>
                            <li id="registerRestriction-passwordMatch" class="registerRestriction">- Les mots de passe doivent correspondre</li>
                        </ul>
                    </div>

                </div>

            </div>

        </div>

    </div>

    {% block javascripts %}
        <script src="{{ asset('js/registerPage.js') }}"></script>
    {% endblock %}


{% endblock %}
