{% extends 'base.html.twig' %}

{% block title %}Tous les jeux{% endblock %}

{% block body %}

    <header class="gameHeader" style="background: url('{{ asset('img/games/banner/' ~ game.banner ) }}' )">
        <a href="{{ path('app_home') }}"><img src="{{ asset('img/logoSquadForge_White_Rogned.png') }}" class="logoPng" id="logoPng" /></a>
        <nav>
            <a href="{{ path('app_games') }}" style="color:{{ game.fontColor }};">Jeux</a>
        </nav>
        <h2 class="headerGameTitle"  style="border-right:15px solid {{ game.color }};">{{ game.title }}</h2>
    </header>
    <div class="headerUnderline" style="background-color: {{ game.color }}"></div>


    {# Fil d'ariane "breadcrumb" #}
    <ul class="filAriane">
        <li class="arianeLink"><a href="{{ path('app_games') }}">Jeux</a></li>
        <span class="filArianeSepa"> - </span>
        <li class="arianeOnPage">{{ game.title }}</li>
    </ul>






    <div class="main">

        {# Infos du jeu et Btn Favoris #}
        <div class="marginTop marginBottom" style="display:inline-flex; width:100%; justify-content:space-between;">
            <h3 class="gameSubTitle noMarginBottom" style="background-color:{{ game.color }}">Infos</h3>
            {# Bouton Favoris state #}
            {% if app.user %}
                {% if isFavorited %}
                    <a class="favButton" href="{{ path('app_removefav', {'id': game.id}) }}" style="border-top: 1px solid {{ game.color }}; border-bottom: 1px solid {{ game.color }};">Favoris <i  style="color:{{ game.color }};" class="fa-solid fa-heart"></i></a>
                {% else %}
                    <a class="favButton" href="{{ path('app_addfav', {'id': game.id}) }}">Favoris <i class="fa-regular fa-heart"></i></a>
                {% endif %}
            {% else %}
                    <a class="favButton" href="{{ path('app_login') }}">Favoris <i class="fa-regular fa-heart"></i></a>
            {% endif %}
        </div>
        <p>Éditeur: {{ game.editor }}</p>
        <p>Date de sortie: {{ game.publishDate|date('Y-m-d') }}</p>
        <p>Genre: <a class="underlineLink" href="{{ path('app_genreGames', {'id': game.genre.id }) }}">{{ gameGenre }}</a></p>
        


        {# Ligne "Topics" + Bouton "+Créer" #}
        <div class="marginTop" style="display:inline-flex; width:100%; justify-content:space-between;">
            <h3 class="gameSubTitle noMarginBottom" style="background-color:{{ game.color }}">
                Topics
                <span class="gameListCount">&nbsp;({{ gameTopicsCount }})</span>
            </h3>
                
            {# <a id="createTopicBtn" href="{{ path('app_addGameTopic', {'id': game.id }) }}" class="createButton" style="border-top: 1px solid {{ game.color }}; border-bottom: 1px solid {{ game.color }};"><i class="fa-solid fa-plus" style="color:{{ game.color }}"></i>&nbsp;Créer</a> #}
            
            {% if app.user %}
                <span id="createTopicBtn" class="createButton" style="border-top: 1px solid {{ game.color }}; border-bottom: 1px solid {{ game.color }};"><i class="fa-solid fa-plus" style="color:{{ game.color }}"></i>&nbsp;Créer</span>
            {% else %}
                <a href="{{ path('app_login') }}"><span class="createButton" style="border-top: 1px solid {{ game.color }}; border-bottom: 1px solid {{ game.color }};"><i class="fa-solid fa-plus" style="color:{{ game.color }}"></i>&nbsp;Créer</span></a>
            {% endif %}
            
        </div>



        {# Form d'ajout caché, proc JS bouton #}
        <div id="createTopicForm" class="notDisplayed"> 

            {{ form_start(formAddTopic) }}

                <div class="my-custom-class-for-errors">
                    {{ form_errors(formAddTopic) }}
                </div>

                <div class="inline" style="position:relative; margin: 5px auto;">
                    <span class="labelSpan" style="width:100px;">{{ form_label(formAddTopic.title, 'Titre')}}<span id="charCountMsg" style="color:red;"> (au moins 5 mots)</span></span>
                    {{ form_widget(formAddTopic.title) }} 
                </div>

                <span class="submitButton" style="margin: 15px auto;">{{ form_widget(formAddTopic.submit, { 'label': 'Publier' }) }}</span>

                {# A voir: CSRF protection #}
                {{ form_widget(formAddTopic._token) }}
            {{ form_end(formAddTopic) }}
            
        </div>

        {# Script vérif Front 20 mots minimum #}
        <script>
            document.getElementById('topic_submit').disabled = true;

            let charContMsg = document.querySelector("#charCountMsg");
            let textInput = document.querySelector('#topic_title');

            textInput.addEventListener("input", function() {

                console.log("inputText" + textInput.value);

                let text = textInput.value;
                const words = text.split(" ");
                const wordCount = words.length;

                if(wordCount <= 5) {
                    charContMsg.style.color = "red";
                    document.getElementById('topic_submit').disabled = true;

                }
                else {
                    charContMsg.style.color = "#00be00";
                    document.getElementById('topic_submit').disabled = false;

                }

            })
        </script>

        {# Liste des Topics #}
        <div class="gameTopicsDiv marginTop marginBottom">
            {% for topic in gameTopics %}
                <a href="{{ path('app_topicDetail', {'id': topic.id}) }}">
                    <div class="topicCard" style="border-bottom: 4px solid {{ game.color }}">
                        <span>{{ topic.title }}</span>
                        <span>{{ topic.status }}</span>
                        <span>{{ topic.user.pseudo }}</span>
                        <span class="topicCardPublishDate">{{ time_diff(topic.publishDate) }}</span>
                    </div>
                </a>
            {% endfor %}
        </div>
        <span class="seeAllRedirect">
            <a href="{{ path('app_allTopics', {'gameIdFrom': game.id}) }}">Tout voir  <i class="fa-solid fa-chevron-right"></i></a>
        </span>


        {# (JS) Show/Hide form addTopic Btn #}
        <script>
                document.querySelector('#createTopicBtn').addEventListener('click', function() {

                    document.querySelector('#createTopicForm').classList.toggle("notDisplayed");

                    if (document.getElementById('createTopicForm').classList.contains("notDisplayed")) {
                        document.querySelector('#createTopicBtn').innerHTML = '<i class="fa-solid fa-plus" style="color:{{ game.color }}"></i>&nbsp;Créer';
                    }
                    else {
                        document.querySelector('#createTopicBtn').innerHTML = '<i class="fa-solid fa-minus" style="color:{{ game.color }}"></i>&nbsp;Annuler';
                    }
                })
        </script>

    </div>

    <script>
        window.onload = function() {

            // document.querySelector('#logoPng').src = '{{ asset('img/logoSquadForge_White_Rogned.png') }}';
            document.getElementById('authenticationDiv').style.color = "white";

        }
    </script>

{% endblock %}
