{% extends 'base.html.twig' %}

{% block title %}Tous les jeux{% endblock %}

{% block body %}

    <header class="gameHeader" style="background: url('{{ asset('img/games/banner/' ~ game.banner ) }}' )">
        <a href="{{ path('app_home') }}"><img src="{{ asset('img/logoSquadForge_White_Rogned.png') }}" class="logoPng" id="logoPng" /></a>
        <nav>
            <a href="{{ path('app_games') }}" style="color:{{ game.fontColor }};">Jeux</a>
        </nav>
        <a href="{{ path('app_game', {'id': game.id }) }}"><h2 class="headerGameTitle" style="border-right:15px solid {{ game.color }};">{{ game.title }}</h2></a>
    </header>
    <div class="headerUnderline" style="background-color: {{ game.color }}"></div>


    {# Fil d'ariane "breadcrumb" #}
    <ul class="filAriane">
        <li class="arianeLink"><a href="{{ path('app_games') }}">Jeux</a></li>
        <span class="filArianeSepa"> - </span>
        <li class="arianeOnPage">{{ game.title }}</li>
    </ul>


    <div class="main">

        {# Test Image Background BRUT #}
        <div class="gameHeaderInfos" clas="gameSubImgBg" style="background-image: radial-gradient(circle, rgba(255,255,255,0) 0%, rgba(35,35,35,0.97) 65%), url('{{asset("img/games/headerBackground/overwatchHeaderBg.jpg")}}'); background-size:cover; background-repeat:no-repeat;">

            {# Infos du jeu et Btn Favoris #}
            <div class="marginTop marginBottom" style="display:inline-flex; width:100%; justify-content:space-between;">
                <h3 class="gameSubTitle noMarginBottom" style="background-color:{{ game.color }}">Infos</h3>
                {# Bouton Favoris state #}
                {% if app.user %}
                    {% if isFavorited %}
                        <a class="favButton" href="{{ path('app_removefav', {'id': game.id}) }}" style="border-top: 1px solid {{ game.color }}; border-bottom: 1px solid {{ game.color }};">Favoris <i  style="color:{{ game.color }};" class="fa-solid fa-heart"></i></a>
                    {% else %}
                        <a class="favButton" href="{{ path('app_addfav', {'id': game.id}) }}">Favoris <i class="fa-regular fa-heart"></i></a>
                    {% endif %}
                {% else %}
                        <a class="favButton" href="{{ path('app_addfav', {'id': game.id}) }}">Favoris <i class="fa-regular fa-heart"></i></a>
                {% endif %}
            </div>
            <p>Éditeur: {{ game.editor }}</p>
            <p>Date de sortie: {{ game.publishDate|date('Y-m-d') }}</p>
            <p>Genre: <a class="underlineLink" href="{{ path('app_genreGames', {'id': game.genre.id }) }}">{{ gameGenre }}</a></p>
            
            {# Form Notation (Ajax) #}
            <div class="rate">
                <input type="radio" id="star5" name="rate" value="5"/>
                <label for="star5" title="text">5 stars</label>
                <input type="radio" id="star4" name="rate" value="4" />
                <label for="star4" title="text">4 stars</label>
                <input type="radio" id="star3" name="rate" value="3" />
                <label for="star3" title="text">3 stars</label>
                <input type="radio" id="star2" name="rate" value="2" />
                <label for="star2" title="text">2 stars</label>
                <input type="radio" id="star1" name="rate" value="1" />
                <label for="star1" title="text">1 star</label>
            </div>
            {# <p>{{ userGameNotation.note }}</p> #}
            <p>Nbr notes: {{ nbrOfNotations }}</p>
            <p>Moyenne: {{ averageRating }}</p>

        </div>

        <script>

            {% if userGameNotation %}
                const notationValue = {{ userGameNotation.note }};
                if (notationValue !== null) {
                    document.getElementById("star" + notationValue).checked = true;
                }
            {% endif %}

            const rate = document.querySelectorAll('.rate input');

            rate.forEach((radio) => {
            radio.addEventListener('change', (event) => {

                {% if app.user %}

                    const rating = event.target.value;
                    const id = {{ game.id }};
                    fetch('/updateNotation/' + id + '/' + rating, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    }
                    })
                    .then(response => response.json())
                    .then(data => {
                    if (data.success) {
                        document.querySelector('#ajaxFlash').textContent = "Votre note a bien été pris en compte";
                        document.querySelector('#ajaxFlash').classList.add("ajaxFlashAnim", "successAjaxFlash");
                    } else {
                        document.querySelector('#ajaxFlash').textContent = "Il y a eu un problème lors de l'envoi de votre note";
                        document.querySelector('#ajaxFlash').classList.add("ajaxFlashAnim", "errorAjaxFlash");
                    }
                    
                    setTimeout(() => {
                        document.querySelector('#ajaxFlash').className = ""; 
                    }, 3500);
                    })
                    .catch(error => {
                    alert('Erreur lors de la communication avec le serveur : ' + error.message);
                    });

                {% else %} 
                    document.querySelector('#ajaxFlash').textContent = "Vous devez être connecté pour pouvoir noter un jeu";
                    document.querySelector('#ajaxFlash').classList = "";
                    document.querySelector('#ajaxFlash').classList.add("ajaxFlashAnim", "errorAjaxFlash");
                {% endif %}
            });
            });


        </script>


        {# Ligne "Topics" + Bouton "+Créer" #}
        <div class="marginTop" style="display:inline-flex; width:100%; justify-content:space-between;">
            <a href="{{ path('app_allTopics', {'gameIdFrom': game.id}) }}">
                <h3 class="gameSubTitle noMarginBottom" style="background-color:{{ game.color }}">
                    Topics
                    <span class="gameListCount">&nbsp;({{ gameTopicsCount }})</span>
                </h3>
            </a>  
            {# <a id="createTopicBtn" href="{{ path('app_addGameTopic', {'id': game.id }) }}" class="createButton" style="border-top: 1px solid {{ game.color }}; border-bottom: 1px solid {{ game.color }};"><i class="fa-solid fa-plus" style="color:{{ game.color }}"></i>&nbsp;Créer</a> #}
            
            {% if app.user %}
                <span id="createTopicBtn" class="createButton" style="border-top: 1px solid {{ game.color }}; border-bottom: 1px solid {{ game.color }};"><i class="fa-solid fa-plus" style="color:{{ game.color }}"></i>&nbsp;Créer</span>
            {% else %}
                <a href="{{ path('app_login') }}"><span class="createButton" style="border-top: 1px solid {{ game.color }}; border-bottom: 1px solid {{ game.color }};"><i class="fa-solid fa-plus" style="color:{{ game.color }}"></i>&nbsp;Créer</span></a>
            {% endif %}
            
        </div>



        {# Form d'ajout caché Topic, proc JS bouton #}
        <div id="createTopicForm" class="notDisplayed"> 

            {{ form_start(formAddTopic) }}

                <div class="my-custom-class-for-errors">
                    {{ form_errors(formAddTopic) }}
                </div>

                <div style="position:relative; margin: 5px auto;">
                    <span class="labelSpan" style="width:100px;">{{ form_label(formAddTopic.title, 'Titre')}}<span id="charCountMsg" style="color:red;"> (au moins 5 mots)</span></span>
                    {{ form_widget(formAddTopic.title) }} 
                </div>

                <div style="position:relative; margin: 5px auto;">
                    <span class="labelSpan" style="width:100px;">{{ form_label(formAddTopic.firstMsg, 'Introduction')}}</span>
                    {{ form_widget(formAddTopic.firstMsg) }} 
                </div>

                <span class="submitButton" style="margin: 15px auto;">{{ form_widget(formAddTopic.submit, { 'label': 'Publier' }) }}</span>

                {# A voir: CSRF protection #}
                {{ form_widget(formAddTopic._token) }}
            {{ form_end(formAddTopic) }}
            
        </div>

        {# Script vérif Topic Front 5 mots minimum #}
        <script>
            document.getElementById('topic_submit').disabled = true;

            let charContMsg = document.querySelector("#charCountMsg");
            let textInput = document.querySelector('#topic_title');

            textInput.addEventListener("input", function() {

                console.log("inputText" + textInput.value);

                let text = textInput.value;
                const words = text.split(" ");
                const wordCount = words.length;

                if(wordCount <= 5) {
                    charContMsg.style.color = "red";
                    document.getElementById('topic_submit').disabled = true;

                }
                else {
                    charContMsg.style.color = "#00be00";
                    document.getElementById('topic_submit').disabled = false;

                }

            })
        </script>

        {# Liste des Topics #}
        <div class="listContainer topicList marginTop">

            {% for topic in gameTopics %}
                <a href="{{ path('app_topicDetail', {'id': topic.id}) }}">
                    <div class="topicCard" style="border-bottom: 4px solid {{ game.color }}">
                        <img class="tinyLogo" src="{{ asset('img/games/tinyLogo/' ~ topic.game.tinyLogo) }}" />
                        <span class="topicTitle">{{ topic.title|capitalize }}</span>
                        <span>{{ topic.status }}</span>
                        <span>{{ topic.user.pseudo }}</span>
                        <span class="topicCardPublishDate">{{ time_diff(topic.publishDate) }}</span>
                        {% if topic.topicPostsCount == 0 %}
                            <span style="opacity:0.5;">{{ topic.topicPostsCount }} <i class="fa-solid fa-message" style="color:grey;"></i></span>
                        {% else %}
                            <span>{{ topic.topicPostsCount }} <i class="fa-solid fa-message" style="color:{{ topic.game.color }}"></i></span>
                        {% endif %}
                    </div>
                </a>
            {% endfor %}

            <span class="seeAllRedirect">
                <a href="{{ path('app_allTopics', {'gameIdFrom': game.id}) }}">Tout voir  <i class="fa-solid fa-chevron-right"></i></a>
            </span>

        </div>


        <br><br>
        {# Aperçu Section Média #}
        <div class="marginTop" style="display:inline-flex; width:100%; justify-content:space-between;">
            
            <a href=" {{ path('app_allMedias', {'gameIdFrom': game.id}) }}">
                <h3 class="gameSubTitle noMarginBottom" style="background-color:{{ game.color }}">
                    Médias
                    <span class="gameListCount">&nbsp;({{ gameMediasCount }})</span>
                </h3>
            </a>
                
            {# <a id="createTopicBtn" href="{{ path('app_addGameTopic', {'id': game.id }) }}" class="createButton" style="border-top: 1px solid {{ game.color }}; border-bottom: 1px solid {{ game.color }};"><i class="fa-solid fa-plus" style="color:{{ game.color }}"></i>&nbsp;Créer</a> #}
            
            {% if app.user %}
                <span id="createMediaBtn" class="createButton" style="border-top: 1px solid {{ game.color }}; border-bottom: 1px solid {{ game.color }};"><i class="fa-solid fa-plus" style="color:{{ game.color }}"></i>&nbsp;Créer</span>
            {% else %}
                <a href="{{ path('app_login') }}"><span class="createButton" style="border-top: 1px solid {{ game.color }}; border-bottom: 1px solid {{ game.color }};"><i class="fa-solid fa-plus" style="color:{{ game.color }}"></i>&nbsp;Créer</span></a>
            {% endif %}
        </div>

        {# Form d'ajout caché Media, proc JS bouton #}
        <div id="createMediaForm" class="notDisplayed"> 

            {{ form_start(formAddMedia) }}

                <div class="my-custom-class-for-errors">
                    {{ form_errors(formAddMedia) }}
                </div>

                <div style="position:relative; margin: 5px auto;">
                    <span class="labelSpan" style="width:100px;">{{ form_label(formAddMedia.title, 'Titre')}}<span id="charCountMsgMedia" style="color:red;"> (au moins 5 mots)</span></span>
                    {{ form_widget(formAddMedia.title) }} 
                </div>

                <div style="position:relative; margin: 5px auto;">
                    <span class="labelSpan" style="width:100px;">{{ form_label(formAddMedia.url, 'Choisissez un fichier')}}<span class="fileUploadCriteria"><span id="extensionCriteria">(.png .jpg .gif .jpeg)</span> <span id="fileCriteria">(2MB)</span></span></span>
                    {{ form_widget(formAddMedia.url) }} 
                </div>

                <span class="submitButton" style="margin: 15px auto;">{{ form_widget(formAddMedia.submit, { 'label': 'Publier' }) }}</span>

                {{ form_widget(formAddMedia._token) }}
            {{ form_end(formAddMedia) }}
            
        </div>

        <div class="listContainer marginTop mediaListGrid">

            {% for media in gameMedias %}

                <div style="height:fit-content;">

                    {% if app.user and app.user.autoPlayGifs %}
                    <a href="{{ path('app_mediaDetail', {'id': media.id}) }}">
                    {% endif %}
                        
                        <div class="mediaCard">

                            {% if app.user and not app.user.autoPlayGifs %}
                            <a href="{{ path('app_mediaDetail', {'id': media.id}) }}">
                            {% endif %}
                            <div class="mediaCardHeader" style="border-bottom: 5px solid {{ game.color }}">
                                <img class="tinyLogo" src="{{ asset('img/games/tinyLogo/' ~ media.game.tinyLogo) }}" />
                                <span class="mediaTitle">{{ media.title|capitalize }}</span>
                                {# <span>{{ media.status }}</span>
                                <span>{{ media.user.pseudo }}</span> #}
                                <span class="topicCardPublishDate">{{ time_diff(media.publishDate) }}</span>
                            </div>
                            {% if app.user and not app.user.autoPlayGifs %}
                            </a>
                            {% endif %}

                            {# Gif autoplay=false si paramètre user #}
                            {% if app.user %}
                                {% if not app.user.autoPlayGifs %}
                                    <img data-gifffer="{{ asset("img/uploads/" ~ media.url) }}" data-gifffer-alt="media" class="mediaImg" />
                                {% else %}
                                    <img src="{{ asset("img/uploads/" ~ media.url) }}" alt="media" class="mediaImg" />
                                {% endif %}
                            {% else %}
                                <img src="{{ asset("img/uploads/" ~ media.url) }}" alt="media" class="mediaImg" />
                            {% endif %}
                            
                        </div>

                    {% if app.user and app.user.autoPlayGifs %}
                    </a>
                    {% endif %}


                    {% if app.user and not app.user.autoPlayGifs %}
                        <a href="{{ path('app_mediaDetail', {'id': media.id}) }}">Voir</a>
                    {% endif %}



                    {# Upvote/downvote média + score + nbrPosts #}
                    <div class="mediaCardStatsDiv">

                        {# Pas opti: bloucle sur tous les likes du post pour savoir si liké (boucle dans boucle) #}
                        {% if app.user %}

                            {% set liked = "" %}

                            {% for upvote in media.UserUpvote %}

                                {% if upvote == app.user %}
                                    {% set liked = "upBtnLiked" %}
                                {% endif %}

                            {% endfor %}

                        {% endif %}


                        <div class="inline">
                            <i mediaId={{ media.id }} class="likeMedia fa-regular fa-circle-up {{ liked }}"></i>
                            {# <i class="fa-regular fa-circle-down"></i> #}
                            <p id="countLikesMedia{{ media.id }}" value="{{ media.upvoteCount }}"> {{ media.upvoteCount }} </p>
                        </div>
                    
                        {% if media.mediaPostsCount == 0 %}
                            <a href="{{ path('app_mediaDetail', {'id':media.id}) }}">
                                <span style="opacity:0.5;">
                                    {{ media.mediaPostsCount }} 
                                    <i class="fa-solid fa-message" style="color:grey;"></i>
                                </span>
                            </a>
                        {% else %}
                            <a href="{{ path('app_mediaDetail', {'id':media.id}) }}">
                                <span>
                                    {{ media.mediaPostsCount }} 
                                    <i class="fa-solid fa-message" style="color:var(--primary-color)"></i>
                                </span>
                            </a>
                        {% endif %}

                    </div>

                    <br>
                    {# <div style="width:30%; margin: 0 auto; height:1px; background-color: {{ game.color }}; opacity:0.5;"></div> #}
                    <br>

                </div>

            {% endfor %}

        </div>
        <span class="seeAllRedirect">
            <a href="{{ path('app_allMedias', {'gameIdFrom': game.id}) }}">Tout voir  <i class="fa-solid fa-chevron-right"></i></a>
        </span>




        {# Script vérif fileExtension et fileSize #}
        <script>

            var textCriteria = false;
            var fileExtCriteria = false;
            var fileSizeCriteria = false;

            let fileInput = document.getElementById('media_url');
            fileInput.addEventListener('change', function(event) {
                var uploadedFile = event.target.files[0];
                const maxFileSize = 10 * 1024 * 1024; // 10 MB 

                if (uploadedFile && uploadedFile.size > maxFileSize) {
                    // event.target.value = ''; // On supprimer le fichier de l'input
                    document.getElementById('fileCriteria').style.color = 'red';
                    document.getElementById('fileCriteria').innerHTML = "( > 10 MB <i class='fa-solid fa-triangle-exclamation'></i> )";
                    fileSizeCriteria = false;
                }
                else {
                    document.getElementById('fileCriteria').style.color = '#00c600';
                    document.getElementById('fileCriteria').innerHTML = "( 10 MB <i class='fa-solid fa-check'></i> )";
                    fileSizeCriteria = true;
                }

                uploadedFileExt = getFileExtension(uploadedFile.name);

                const allowedExtensions = ['png', 'jpg', 'jpeg', 'gif'];

                if (allowedExtensions.includes(uploadedFileExt.toLowerCase())) {
                    document.getElementById('extensionCriteria').style.color = '#00c600';
                    document.getElementById('extensionCriteria').innerHTML = "( .png .jpg .gif .jpeg <i class='fa-solid fa-check'></i> )";
                    fileExtCriteria = true;
                }
                else {
                    document.getElementById('extensionCriteria').style.color = 'red';
                    document.getElementById('extensionCriteria').innerHTML = "( .png .jpg .gif .jpeg <i class='fa-solid fa-triangle-exclamation'></i> )";
                    fileExtCriteria = false;        
                }
            });

            function getFileExtension(filename) {
                return filename.split('.').pop();
            }


            {# Script vérif Front 5 mots minimum #}

            let charContMsg2 = document.querySelector("#charCountMsgMedia");
            let textInput2 = document.querySelector('#media_title');

            textInput2.addEventListener("input", function() {

                let text = textInput2.value;
                const words = text.split(" ");
                const wordCount = words.length;

                if(wordCount <= 5) {
                    charContMsg2.style.color = "red";
                    textCriteria = false;
                }
                else {
                    charContMsg2.style.color = "#00be00";
                    textCriteria = true;
                }
            })


            // disable du bouton submit si les critères ne sont pas remplis
            document.getElementById('media_submit').disabled = true;

            textInput2.addEventListener("input", function() {
                if (textCriteria && fileExtCriteria && fileSizeCriteria) {
                    document.getElementById('media_submit').disabled = false;
                }
                else {
                    document.getElementById('media_submit').disabled = true;
                }
            });
            fileInput.addEventListener("change", function() {
                if (textCriteria && fileExtCriteria && fileSizeCriteria) {
                    document.getElementById('media_submit').disabled = false;
                }
                else {
                    document.getElementById('media_submit').disabled = true;
                }
            });
        </script>



        {# (JS) Show/Hide form addTopic/addMedia Btn #}
        <script>
                document.querySelector('#createTopicBtn').addEventListener('click', function() {
                    document.querySelector('#createTopicForm').classList.toggle("notDisplayed");
                    if (document.getElementById('createTopicForm').classList.contains("notDisplayed")) {
                        document.querySelector('#createTopicBtn').innerHTML = '<i class="fa-solid fa-plus" style="color:{{ game.color }}"></i>&nbsp;Créer';
                    }
                    else {
                        document.querySelector('#createTopicBtn').innerHTML = '<i class="fa-solid fa-minus" style="color:{{ game.color }}"></i>&nbsp;Annuler';
                    }
                });

                document.querySelector('#createMediaBtn').addEventListener('click', function() {
                    console.log("test");
                    document.querySelector('#createMediaForm').classList.toggle("notDisplayed");
                    if (document.getElementById('createMediaForm').classList.contains("notDisplayed")) {
                        document.querySelector('#createMediaBtn').innerHTML = '<i class="fa-solid fa-plus" style="color:{{ game.color }}"></i>&nbsp;Poster';
                    }
                    else {
                        document.querySelector('#createMediaBtn').innerHTML = '<i class="fa-solid fa-minus" style="color:{{ game.color }}"></i>&nbsp;Annuler';
                    }
                });

        </script>



    </div>

    <script>
        window.onload = function() {

            // document.querySelector('#logoPng').src = '{{ asset('img/logoSquadForge_White_Rogned.png') }}';
            document.getElementById('authenticationDiv').style.color = "white";

        }
    </script>

{% endblock %}
