{% extends 'base.html.twig' %}

{% block title %}Tous les jeux{% endblock %}

{% block body %}

    <header class="globalBanner" style="background: url('{{ asset('img/banner.jpg') }}' )">
        <a href="{{ path('app_home') }}"><img src="{{ asset('img/logoSquadForge_v3.png') }}" class="logoPng" /></a>
        <nav class="navLine">
            <a href="{{ path('app_games') }}">Jeux</a>
            {% if app.user %}
                <a href="{{ path('app_userGroups') }}" style="color:white">TEAMS</a>
                <a href="{{ path('app_showNotifsList') }}">
                    <div style="position:relative; margin-right:10px;">
                        <i class="fa-solid fa-bell notifBell"></i>
                        {# Bulle newNotifCount si > 0#}
                        {% if userNotifCount > 0 %}
                            <span class="newNotifBubbleCount" id="newNotifBubbleCount">{{ userNotifCount }}</span>
                        {% endif %}
                    </div>
                </a>            
                {% endif %}
            {% if app.user and "ROLE_MODO" in app.user.roles %}
                <a href="{{ path('app_moderationDashboard') }}">
                    <div style="position:relative; margin-right:10px;">
                        <span>Modération</span>
                        {% if modoNotifCount > 0 %}
                            <span class="newNotifBubbleCount">{{ modoNotifCount }}</span>
                        {% endif %}
                    </div>
                </a>
            {% endif %}
        </nav>
    </header>
    
    {# HeaderSouligne + Bandeau avertissement muted #}
    {% if app.user and app.user.muted and time_diff_future(app.user.endDateStatus) != false %}
        <div class="headerUnderline"></div>
        <div class="mutedBanner">  
            <span><i class="fa-solid fa-circle-exclamation mutedBannerIcon"></i>Vous êtes actuellement réduit au silence <span class="muteEndDate">( fin dans <span class="strongNbr">{{ time_diff_future(app.user.endDateStatus) }}</span> )</span></span>
        </div>
    {% else %}
        <div class="headerUnderline marginBottomHeaderLine"></div>
    {% endif %}



    <div class="main">

        <div style="display:inline-flex; width: 100%; justify-content:space-between;">
            <h2 class="pageTitle">Parcourir les jeux</h2>

            {# Test form Search asynchrone (Ajax JS) #}
            <form id="search-form" action="{{ path('app_search') }}" method="GET">
                <input type="text" id="search-input" name="query" class="form-control" placeholder="Rechercher...">
                <i id="searchFormLoupe" class="fa-solid fa-magnifying-glass"></i>
            </form>
        </div>

        <script>
            window.onload = function() {

                const searchForm = document.querySelector('#search-form');
                const searchInput = document.querySelector('#search-input');
                const searchResults = document.querySelector('#search-results');

                searchInput.addEventListener('keyup', (event) => {
                    const query = event.target.value.trim();

                    if (query.length >= 1) { // perform search only if query length >= 1

                        // On cache la liste des jeux pendant la recherche
                        document.querySelector('#gamesLists').style.display = "none";
                        document.querySelector('#search-title').style.display = "block";

                        const url = searchForm.getAttribute('action') + '?query=' + encodeURIComponent(query);
                        
                        // make AJAX request to server
                        const xhr = new XMLHttpRequest();
                        xhr.open('GET', url);
                        xhr.setRequestHeader('X-Requested-With', 'XMLHttpRequest');
                        xhr.onload = () => {
                            if (xhr.status === 200) {
                                // Affichage des résultats sur la page
                                const results = JSON.parse(xhr.responseText);
                                let count = results.length;
                                document.querySelector('#searchResultCount').innerHTML = "(" + count + ")";
                                let html = '';
                                if (count >= 1) {
                                    results.forEach((result) => {
                                        html += 
                                        `<a class="gameCardLink" href="game/` + result.id + `" onmouseover="this.style.filter='drop-shadow(0px 0px 6px ` + result.color + `)'" onmouseout="this.style.filter='drop-shadow(0px 0px 5px black)'">` +
                                            `<div class="gameCard">` +
                                                `<img src="` + 'img/games/logo/' + result.logo + `" class="gameLogo" alt="logo ${result.title}">` +
                                                `<div class="gameCardUnderline" style="background-color:` + result.color + `">` +
                                                `</div>` +
                                                `<div class="gameCardInfos">` +
                                                    `<p><span>New</span> Topics <span>0</span></p>` + 
                                                    `<p><span>New</span> Médias <span>0</span></p>` +
                                                `</div>` +
                                            `</div>` +
                                        `</a>`;
                                    });
                                    searchResults.innerHTML = html;
                                }
                                else {
                                    searchResults.innerHTML = "<p style='font-style:italic; opacity: 0.8;'>Aucun résultat</p>";
                                }

                            } else {
                                console.error(xhr.statusText);
                            }
                        };
                        xhr.onerror = () => console.error(xhr.statusText);
                        xhr.send();
                    } else {
                        document.querySelector('#search-title').style.display = "none";
                        document.querySelector('#gamesLists').style.display = "block";
                        searchResults.innerHTML = '';
                    }
                });
            }
        </script>



        <h3 id="search-title">Résultats de recherche <span id="searchResultCount" class="gameListCount"></span></h3>
        <div id="search-results"></div>



        
        <div id="gamesLists">

            {# Liste jeux catégorie "FPS" #}
            <h3 class="genreTitle">FPS <span class="gameListCount">({{ fpsGamesCount }})</span></h3>
            <div class="genreGameList">
                {% for game in fpsGames %}
                    <a class="gameCardLink" href="{{ path('app_game', {'id': game.id} )}}" onmouseover="this.style.filter='drop-shadow(0px 0px 6px {{ game.color }})'" onmouseout="this.style.filter='drop-shadow(0px 0px 5px black)'">
                        <div class="gameCard">

                            <div style="position:relative;">
                                <img src="{{ asset("img/games/logo/" ~ game.logo) }}" class="gameLogo" alt="logo {{ game.title }}"/>
                                {# Si jeu favorisé par l'utilisateur #}
                                {% if app.user is not null and game.favUsers is not empty and app.user in game.favUsers %}
                                    <i class="fa-solid fa-heart gameCardFav"></i>
                                {% endif %}
                            </div>
                            
                            <div class="gameCardUnderline" style="background-color:{{ game.color }}"></div>

                            <div class="gameCardInfos">
                                <p><span>New</span> Topics <span>0</span></p>
                                <p><span>New</span> Medias <span>0</span></p>
                            </div>
                        </div>
                    </a>
                {% endfor %}
            </div>


            {# Liste jeux catégorie "MOBA" #}
            <h3 class="genreTitle">MOBA <span class="gameListCount">({{ mobaGamesCount }})</span></h3>
            <div class="genreGameList">
                {% for game in mobaGames %}
                    <a class="gameCardLink" href="{{ path('app_game', {'id': game.id} )}}" onmouseover="this.style.filter='drop-shadow(0px 0px 6px {{ game.color }})'" onmouseout="this.style.filter='drop-shadow(0px 0px 5px black)'">
                        <div class="gameCard">

                            <div style="position:relative;">
                                <img src="{{ asset("img/games/logo/" ~ game.logo) }}" class="gameLogo" alt="logo {{ game.title }}"/>
                                {# Si jeu favorisé par l'utilisateur #}
                                {% if app.user is not null and game.favUsers is not empty and app.user in game.favUsers %}
                                    <i class="fa-solid fa-heart gameCardFav"></i>
                                {% endif %}
                            </div>
                            
                            <div class="gameCardUnderline" style="background-color:{{ game.color }}"></div>

                            <div class="gameCardInfos">
                                <p><span>New</span> Topics <span>0</span></p>
                                <p><span>New</span> Medias <span>0</span></p>
                            </div>
                        </div>
                    </a>
                {% endfor %}
            </div>


            {# Liste jeux catégorie "Battle royal"" #}
            <h3 class="genreTitle">Battle Royal <span class="gameListCount">({{ brGamesCount }})</span></h3>
            <div class="genreGameList">
                {% for game in battleRoyalGames %}
                    <a class="gameCardLink" href="{{ path('app_game', {'id': game.id} )}}" onmouseover="this.style.filter='drop-shadow(0px 0px 4px {{ game.color }})'" onmouseout="this.style.filter='drop-shadow(0px 0px 4px black)'">
                        <div class="gameCard">

                            <div style="position:relative;">
                                <img src="{{ asset("img/games/logo/" ~ game.logo) }}" class="gameLogo" alt="logo {{ game.title }}"/>
                                {# Si jeu favorisé par l'utilisateur #}
                                {% if app.user is not null and game.favUsers is not empty and app.user in game.favUsers %}
                                    <i class="fa-solid fa-heart gameCardFav"></i>
                                {% endif %}
                            </div>

                            <div class="gameCardUnderline" style="background-color:{{ game.color }}"></div>

                                <div class="gameCardInfos">
                                    <p><span>New</span> Topics <span>0</span></p>
                                    <p><span>New</span> Medias <span>0</span></p>
                                </div>
                        </div>
                    </a>
                {% endfor %}
            </div>

            {# Liste jeux catégorie "jeux indépendants" #}
            <h3 class="genreTitle">Indés <span class="gameListCount">({{ indieGamesCount }})</span></h3>
            <div class="genreGameList">
                {% for game in indieGames %}
                    <a class="gameCardLink" href="{{ path('app_game', {'id': game.id} )}}" onmouseover="this.style.filter='drop-shadow(0px 0px 4px {{ game.color }})'" onmouseout="this.style.filter='drop-shadow(0px 0px 4px black)'">
                        <div class="gameCard">

                            <div style="position:relative;">
                                <img src="{{ asset("img/games/logo/" ~ game.logo) }}" class="gameLogo" alt="logo {{ game.title }}"/>
                                {# Si jeu favorisé par l'utilisateur #}
                                {% if app.user is not null and game.favUsers is not empty and app.user in game.favUsers %}
                                    <i class="fa-solid fa-heart gameCardFav"></i>
                                {% endif %}
                            </div>

                            <div class="gameCardUnderline" style="background-color:{{ game.color }}"></div>

                            <div class="gameCardInfos">
                                <p><span>New</span> Topics <span>0</span></p>
                                <p><span>New</span> Medias <span>0</span></p>
                            </div>

                        </div>
                    </a>
                {% endfor %}
            </div>
        </div>

    </div>


{% endblock %}
