{% extends 'base.html.twig' %}

{% block title %}Tous les jeux{% endblock %}

{% block body %}

    <header class="gameHeader" style="background: url('{{ asset('img/games/banner/' ~ game.banner ) }}' )">
        <a href="{{ path('app_home') }}"><img src="{{ asset('img/logoSquadForge_White_Rogned.png') }}" class="logoPng" id="logoPng" /></a>
        <nav>
            <a href="{{ path('app_games') }}" style="color:{{ game.fontColor }};">Jeux</a>
        </nav>
        <h2 class="headerGameTitle"  style="border-right:15px solid {{ game.color }};">{{ game.title }}</h2>
    </header>
    <div class="headerUnderline" style="background-color: {{ game.color }}"></div>

    {# <h2 class="pageTitle"></h2> #}

    <div class="main">

        {% if app.user %}
            {% if isFavorited %}
                <a href="{{ path('app_removefav', {'id': game.id}) }}">Favoris <i class="fa-solid fa-heart"></i></a>
            {% else %}
                <a href="{{ path('app_addfav', {'id': game.id}) }}">Favoris <i class="fa-regular fa-heart"></i></a>
            {% endif %}
        {% else %}
                <a disabled>Favoris</a>
        {% endif %}

        {{ dump(isFavorited) }}

        <h3>Infos</h3>
        <p>Éditeur: {{ game.editor }}</p>
        <p>Date de sortie: {{ game.publishDate|date('Y-m-d') }}</p>
        <p>Genre: <a class="underlineLink" href="{{ path('app_genreGames', {'id': game.genre.id }) }}">{{ gameGenre }}</a></p>
        

    </div>


    <script>
        window.onload = function() {

            // document.querySelector('#logoPng').src = '{{ asset('img/logoSquadForge_White_Rogned.png') }}';
            document.getElementById('authenticationDiv').style.color = "white";

        }
    </script>

{% endblock %}
