{% extends 'base.html.twig' %}
{% block title %}Créer une team{% endblock %}
{% block meta_description %}
    Créez votre team {{ gameFrom.title }} dès maintenant
{% endblock %}

{% block body %}

    <header class="gameHeader" style="background: url('{{ asset('img/games/banner/' ~ gameFrom.banner ) }}' )">

        <a id="gameHeaderTitle" class="gameHeaderTitle" style="border-bottom: 5px solid {{ gameFrom.color }}; opacity:0;" href="{{ path('app_game',{'slug':gameFrom.slug}) }}">{{ gameFrom.title }}</a>

        <a href="{{ path('app_home') }}"><img src="{{ asset('img/games/headerSiteLogo/' ~ gameFrom.siteLogo ) }}" class="logoPng" id="logoPng" alt='bearded dwarf forging a sword above "SquadForge" title' /></a>

        <nav id="navLine" class="navLine">
            <span id="closeBurgerMobile"><i class="fa-solid fa-xmark"></i></span>
            <a href="{{ path('app_home') }}" class="homeNav"><i class="fa-solid fa-house"></i></a>
            <a href="{{ path('app_games') }}" class="gamesNav caps">jeux</a>
            {% if app.user %}
                <a href="{{ path('app_userGroups') }}" class="teamsNav caps navActive" style="background-color: {{ gameFrom.color }}">teams</a>
                <a href="{{ path('app_showNotifsList') }}" class="notifsNav" style="padding:0;">
                    <div class="navNotifDiv">
                        <i class="fa-solid fa-bell notifBell"></i>
                        {# Bulle newNotifCount si > 0 #}
                        {% if userNotifCount > 0 %}
                            <span class="newNotifBubbleCount bubleNotif" id="newNotifBubbleCount">{{ userNotifCount }}</span>
                        {% endif %}
                    </div>
                </a>
            {% endif %}
            {% if app.user and "ROLE_MODO" in app.user.roles %}
            
                <a href="{{ path('app_moderationDashboard') }}" style="color:{{ gameFrom.fontColor }};" id="modoNav" class="modoNav">
                    <div class="modoNavSubDiv">
                        <span>Modération</span>
                        {% if modoNotifValidationCount > 0 %}
                            <span class="newNotifBubbleCount bubleModo1">{{ modoNotifValidationCount }}</span>
                        {% endif %}
                        {% if modoNotifReportCount > 0 %}
                            <span class="newNotifBubbleCount bubleModo2">{{ modoNotifReportCount }}</span>
                        {% endif %}
                    </div>
                </a>

                <script>
                    // Ajout d'espace libre sur l'onglet Nav "Modération" si bulles (car bulles absolutes)
                    var paddingRightOnglet = 0;
                    if({{modoNotifValidationCount}} > 0) {
                        paddingRightOnglet += 17;
                    }
                    if({{modoNotifReportCount}} > 0) {
                        paddingRightOnglet += 17;
                    }
                    document.getElementById('modoNav').style.paddingRight = paddingRightOnglet + "px";
                </script>

            {% endif %}

            {# Profil + deco #}
            <div id="profilBurgerMobile">
                {% if app.user %}
                    <a href="{{ path('app_user') }}" class="profil" id="profilBtnNav"><i class="fa-solid fa-user profilIcon"></i>  {{ app.user.pseudo|capitalize }}</a>
                    <a href="{{ path('app_logout') }}" class="decoBtn"><i class="fa-solid fa-power-off decoBtnMobile"></i></a>
                {% else %}
                    <a href="{{ path('app_login') }}" class="profil" id="loginBtnNav" style="border-right:2px solid #80808061">Connexion</a>
                    <a href="{{ path('app_register') }}" class="profil" id="registerBtnNav" style="border-bottom-left-radius:0px;">S'inscrire</a>
                {% endif %}
            </div>

        </nav>

        <a href="{{ path('app_game', {'slug': gameFrom.slug }) }}"><h2 id="headerGameTitle" class="headerGameTitle" style="border-right:10px solid {{ gameFrom.color }}; border-bottom:2px solid {{ gameFrom.color }};">{{ gameFrom.title }}</h2></a>
    
        {# Show menu Burger (mobile) #}
        <span id="showBurgerMenu"><i class="fa-solid fa-bars"></i></span>
    
    </header>

    {# HeaderSouligne + Bandeau avertissement muted #}
    {% if app.user and app.user.muted and time_diff_future(app.user.endDateStatus) != false %}
        <div class="headerUnderline" style="background-color: {{ gameFrom.color }}"></div>
        <div class="mutedBanner">  
            <span><i class="fa-solid fa-circle-exclamation mutedBannerIcon"></i>Vous êtes actuellement réduit au silence <span class="muteEndDate">( fin dans <span class="strongNbr">{{ time_diff_future(app.user.endDateStatus) }}</span> )</span></span>
        </div>
    {% else %}
        <div class="headerUnderline marginBottomHeaderLine" style="background-color: {{ gameFrom.color }}"></div>
    {% endif %}



    <main class="main">

        {# Fil d'Ariane #}
        <p class="breadcrumbs">
            <a class="underlineLink" href="{{ path('app_games') }}">Jeux</a>
            <i class="fa-solid fa-angle-right arianeArrow"></i>
            <a class="underlineLink" href="{{ path('app_game', {'slug': gameFrom.slug }) }}">{{ gameFrom.title }}</a>
            <i class="fa-solid fa-angle-right arianeArrow"></i>
            <span>Créer une team</span>
        </p>

        <section>

            <h2 class="pageTitle">Créer une team</h2>

            <div class="createTeamContent">

                <div class="formAddGroup" style="width:50%;">
                    {{ form_start(formAddGroup) }}

                        <div style="margin:20px auto;">
                            {{ form_row(formAddGroup.title) }} 
                            {{ form_row(formAddGroup.description) }} 
                        </div>

                        <div style="margin:20px auto; display:inline-flex; width:100%; justify-content:center;">
                            <div style="padding-right:20px; border-right:1px solid grey;">
                                {{ form_row(formAddGroup.nbrPlaces) }} 
                            </div>
                            <div style="padding-left:20px;">
                                {{ form_row(formAddGroup.restriction_18) }} 
                                {{ form_row(formAddGroup.restriction_mic) }} 
                                {{ form_row(formAddGroup.status) }} 
                            </div>
                        </div>

                        <div style="margin:20px auto;">
                            {{ form_row(formAddGroup.imgUrl) }} 
                        </div>

                        <div style="text-align:right; margin-top:30px;">
                            {{ form_row(formAddGroup.submit) }}
                        </div>

                    {{ form_end(formAddGroup) }}

                </div>


                <div id="teamImgPreviewContainer" class="teamImgContainer" style="width:50%;">
                </div>


            </div>

        </section>

    </main>



    {# Script aperçu imgTeam upload #}
    <script>
        // Sélectionnez votre élément d'entrée de type fichier (input file)
        const input = document.getElementById('group_imgUrl');

        // Ajoutez un écouteur d'événements "change" sur l'élément d'entrée
        input.addEventListener('change', (e) => {
            // Obtenez le fichier sélectionné
            const file = e.target.files[0];

            if (file) {
                // Créez un objet FileReader
                const reader = new FileReader();

                // Définissez l'événement onload du FileReader
                reader.onload = (e) => {
                    // Créez une balise d'image pour afficher la prévisualisation
                    const img = document.createElement('img');
                    img.src = e.target.result;
                    img.style.width = "100%";
                    img.style.borderRadius = "3px";
                    img.style.maxHeight = "50vh";

                    // Ajoutez l'image prévisualisée à un élément de votre choix dans le DOM
                    const previewContainer = document.getElementById('teamImgPreviewContainer');
                    previewContainer.innerHTML = '';
                    previewContainer.prepend(img);
                };

                // Lisez le contenu du fichier en tant que données URL
                reader.readAsDataURL(file);
            }
        });

    </script>




    {# // Adaptation couleur borderBottom HeaderFixed #}
    <script>
        {% if app.user %}
             document.getElementsByClassName('profilIcon')[0].style.color = "{{gameFrom.color}}";
        {% endif %}

        if (document.getElementById('landingPageBool') == null) {
            window.addEventListener('scroll', () => {
                    if (window.scrollY > 0) {
                        if(document.getElementsByClassName('headerFixed')[0] !== null && document.getElementsByClassName('headerFixed')[0] !== undefined) {
                            document.getElementsByClassName('headerFixed')[0].style.borderColor = "{{gameFrom.color}}";

                            document.getElementById('gameHeaderTitle').style.opacity = "1";
                        }
                    }
                    else {
                        document.getElementById('gameHeaderTitle').style.opacity = "0";
                    }

            })
        }
    </script>




{% endblock %}
