{% extends 'base.html.twig' %}

{% block title %}Topics{% endblock %}

{% block body %}


    <header class="gameHeader" style="background: url('{{ asset('img/games/banner/' ~ gameFrom.banner ) }}' )">
        <a href="{{ path('app_home') }}"><img src="{{ asset('img/games/headerSiteLogo/' ~ gameFrom.siteLogo ) }}" class="logoPng" id="logoPng" /></a>
        <nav class="navLine">
            <a href="{{ path('app_home') }}" class="homeNav"><i class="fa-solid fa-house"></i></a>
            <a href="{{ path('app_games') }}" class="gamesNav caps">jeux</a>
            {% if app.user %}
                <a href="{{ path('app_userGroups') }}" class="teamsNav caps navActive" style="background-color: {{ gameFrom.color }}">teams</a>
                <a href="{{ path('app_showNotifsList') }}" class="notifsNav" style="padding:0;">
                    <div class="navNotifDiv">
                        <i class="fa-solid fa-bell notifBell"></i>
                        {# Bulle newNotifCount si > 0 #}
                        {% if userNotifCount > 0 %}
                            <span class="newNotifBubbleCount bubleNotif" id="newNotifBubbleCount">{{ userNotifCount }}</span>
                        {% endif %}
                    </div>
                </a>
            {% endif %}
            {% if app.user and "ROLE_MODO" in app.user.roles %}
            
                <a href="{{ path('app_moderationDashboard') }}" style="color:{{ gameFrom.fontColor }};" id="modoNav" class="modoNav">
                    <div class="modoNavSubDiv">
                        <span>Modération</span>
                        {% if modoNotifValidationCount > 0 %}
                            <span class="newNotifBubbleCount bubleModo1">{{ modoNotifValidationCount }}</span>
                        {% endif %}
                        {% if modoNotifReportCount > 0 %}
                            <span class="newNotifBubbleCount bubleModo2">{{ modoNotifReportCount }}</span>
                        {% endif %}
                    </div>
                </a>

                <script>
                    // Ajout d'espace libre sur l'onglet Nav "Modération" si bulles (car bulles absolutes)
                    var paddingRightOnglet = 0;
                    if({{modoNotifValidationCount}} > 0) {
                        paddingRightOnglet += 17;
                    }
                    if({{modoNotifReportCount}} > 0) {
                        paddingRightOnglet += 17;
                    }
                    document.getElementById('modoNav').style.paddingRight = paddingRightOnglet + "px";
                </script>

            {% endif %}

        </nav>

        <a href="{{ path('app_game', {'id': gameFrom.id }) }}"><h2 id="headerGameTitle" class="headerGameTitle" style="border-right:10px solid {{ gameFrom.color }}; border-bottom:2px solid {{ gameFrom.color }};">{{ gameFrom.title }}</h2></a>
    
    </header>

    {# HeaderSouligne + Bandeau avertissement muted #}
    {% if app.user and app.user.muted and time_diff_future(app.user.endDateStatus) != false %}
        <div class="headerUnderline" style="background-color: {{ gameFrom.color }}"></div>
        <div class="mutedBanner">  
            <span><i class="fa-solid fa-circle-exclamation mutedBannerIcon"></i>Vous êtes actuellement réduit au silence <span class="muteEndDate">( fin dans <span class="strongNbr">{{ time_diff_future(app.user.endDateStatus) }}</span> )</span></span>
        </div>
    {% else %}
        <div class="headerUnderline marginBottomHeaderLine" style="background-color: {{ gameFrom.color }}"></div>
    {% endif %}



    <div class="main">

        {# Fil d'Ariane #}
        <p class="breadcrumbs">
            <a class="underlineLink" href="{{ path('app_games') }}">Jeux</a>
             - <a class="underlineLink" href="{{ path('app_game', {'id': gameFrom.id }) }}">{{ gameFrom.title }}</a>
             - <a class="underlineLink" href="{{ path('app_groupList', {'gameIdFrom': gameFrom.id }) }}">Teams</a>
             - <a class="underlineLink" href="{{ path('app_groupDetails', {'groupId': group.id }) }}">{{ group.title }}</a>
             - Candidature
        </p>

        <h2>Candidature</h2>

        <br>

        <h3 class="candidatureTeamName" style="border-color:{{ gameFrom.color }}">{{ group.title }}</h3>

        <br>

        {# Mix CandidatureType et GroupQuestion #}
        {{ form_start(formCandidature) }}

            <h5>{{ form_label(formCandidature.text)}}</h5>
            {{ form_widget(formCandidature.text) }} 

            {# Pour chaque question: afficher un fomulaire GroupRéponseType (comment link l'entité Réponse à groupQuestion) #}
            {% if (groupQuestions is not null) and (groupQuestions|length > 0) %}

                <h5>Questions</h5>

                <div class="questionsContainer">

                    {% set index = 0 %}

                    {% for question in groupQuestions %}

                        {% if question.isRequired %}
                            {% set required = "required" %}
                        {% else %}
                            {% set required = "" %}
                        {% endif %}

                        {% set index = index + 1 %}
                        
                        <div class="questionAndAnswer">
                            <div class="questionLine">
                                <label for="question{{ question.id }}" style="font-family:'K2D', sans-serif;">{{ question.text|capitalize }}</label>
                                {% if question.required %}
                                    <span class="requiredStar">
                                        <i class="fa-solid fa-star-of-life"></i>
                                    </span>
                                {% endif %}
                            </div>
                            
                            <input {{ required }} type="text" id="answer{{ index }}" name="answer{{ index }}" placeholder="Entrez votre réponse..." class="form-control" />
                        </div>

                    {% endfor %}
                </div>
            {% elseif (groupQuestions|length == 0) %}
                <p class="emptyListMsg" style="margin: 30px auto 50px auto;">Il n'y a aucune question</p>
            {% endif %}

            <div class="gameTeamBtn candidatureSubmitBtn" style="margin:0 auto !important;">
                {{ form_row(formCandidature.submit, 
                    { 
                        'label': 'Envoyer&nbsp;<i class="fa-solid fa-paper-plane"></i>', 
                        'label_html' : true, 
                        'id': 'candidatureSubmitBg',
                        'attr': { 
                            'class': 'candidatureSubmitBg', 
                        } 
                    }) 
                }}
            </div>

        {{ form_end(formCandidature) }}

        {# Couleur du bouton adapté au jeu #}
        <span id="gameColor" hidden>{{ gameFrom.color }}</span>
        <script>
            window.onload = function() {
                document.getElementById('candidatureSubmitBg').style.backgroundColor = document.getElementById('gameColor').textContent;
            }
        </script>
        
    </div>


{% endblock %}