{% extends 'base.html.twig' %}

{% block title %}Topics{% endblock %}

{% block body %}

    <header class="gameHeader" style="background: url('{{ asset('img/games/banner/' ~ gameFrom.banner ) }}' )">
        <a href="{{ path('app_home') }}"><img src="{{ asset('img/games/headerSiteLogo/' ~ gameFrom.siteLogo ) }}" class="logoPng" id="logoPng" /></a>
        <nav class="navLine">
            <a href="{{ path('app_home') }}" class="homeNav"><i class="fa-solid fa-house"></i></a>
            <a href="{{ path('app_games') }}" class="gamesNav caps">jeux</a>
            {% if app.user %}
                <a href="{{ path('app_userGroups') }}" class="teamsNav caps navActive" style="background-color: {{ gameFrom.color }}">teams</a>
                <a href="{{ path('app_showNotifsList') }}" class="notifsNav" style="padding:0;">
                    <div class="navNotifDiv">
                        <i class="fa-solid fa-bell notifBell"></i>
                        {# Bulle newNotifCount si > 0 #}
                        {% if userNotifCount > 0 %}
                            <span class="newNotifBubbleCount bubleNotif" id="newNotifBubbleCount">{{ userNotifCount }}</span>
                        {% endif %}
                    </div>
                </a>
            {% else %}
                <a href="{{ path('app_allGroupList') }}" class="teamsNav caps">teams</a>
            {% endif %}
            {% if app.user and "ROLE_MODO" in app.user.roles %}
            
                <a href="{{ path('app_moderationDashboard') }}" style="color:white;" id="modoNav" class="modoNav">
                    <div class="modoNavSubDiv">
                        <span>Modération</span>
                        {% if modoNotifValidationCount > 0 %}
                            <span class="newNotifBubbleCount bubleModo1">{{ modoNotifValidationCount }}</span>
                        {% endif %}
                        {% if modoNotifReportCount > 0 %}
                            <span class="newNotifBubbleCount bubleModo2">{{ modoNotifReportCount }}</span>
                        {% endif %}
                    </div>
                </a>

                <script>
                    // Ajout d'espace libre sur l'onglet Nav "Modération" si bulles (car bulles absolutes)
                    var paddingRightOnglet = 0;
                    if({{modoNotifValidationCount}} > 0) {
                        paddingRightOnglet += 17;
                    }
                    if({{modoNotifReportCount}} > 0) {
                        paddingRightOnglet += 17;
                    }
                    document.getElementById('modoNav').style.paddingRight = paddingRightOnglet + "px";
                </script>

            {% endif %}

        </nav>

        <a href="{{ path('app_game', {'id': gameFrom.id }) }}"><h2 id="headerGameTitle" class="headerGameTitle" style="border-right:10px solid {{ gameFrom.color }}; border-bottom:2px solid {{ gameFrom.color }};">{{ gameFrom.title }}</h2></a>
    
    </header>

    {# HeaderSouligne + Bandeau avertissement muted #}
    {% if app.user and app.user.muted and time_diff_future(app.user.endDateStatus) != false %}
        <div class="headerUnderline" style="background-color: {{ gameFrom.color }}"></div>
        <div class="mutedBanner">  
            <span><i class="fa-solid fa-circle-exclamation mutedBannerIcon"></i>Vous êtes actuellement réduit au silence <span class="muteEndDate">( fin dans <span class="strongNbr">{{ time_diff_future(app.user.endDateStatus) }}</span> )</span></span>
        </div>
    {% else %}
        <div class="headerUnderline marginBottomHeaderLine" style="background-color: {{ gameFrom.color }}"></div>
    {% endif %}



    <div class="main">

        {# Fil d'Ariane #}
        <p class="breadcrumbs">
            <a class="underlineLink" href="{{ path('app_games') }}">Jeux</a>
             - <a class="underlineLink" href="{{ path('app_game', {'id': gameFrom.id }) }}">{{ gameFrom.title }}</a>
             - <a class="underlineLink" href="{{ path('app_groupList', {'gameIdFrom': gameFrom.id }) }}">Teams</a>
             - {{ group.title }}
        </p>

        
        <div class="groupHeader" style="background-image: linear-gradient(to right, {{ gameFrom.color }}8c, {{ gameFrom.color }}50, #232323ba, #101010f7), url('../img/testMotif2.jpg'); background-size:contain; border-bottom:3px solid {{ gameFrom.color }};">

            <div style="width:60%; position:relative;">
                <h2 style="color:black; backdrop-filter:blur(4px); width:fit-content; padding:4px 15px; border-radius:5px; border:1px solid {{ gameFrom.color }}; border-left: 4px solid var(--background-color); background-color:{{ gameFrom.color }}78; border-top-left-radius:2px; text-transform:uppercase;"> <i class="fa-solid fa-users-rays"></i> Team</h2>

                <h3 class="groupTitle" style="border-top:1px solid {{group.game.color}}; border-bottom:1px solid {{group.game.color}};">{{ group.title }}</h3>

                <p class="groupDescription">
                    <i class="fa-solid fa-quote-left"></i>
                    <span style="font-family:'K2D', sans-serif;">{{ group.description|capitalize }}</span>
                    <i class="fa-solid fa-quote-right"></i>

                    {# // Btn modif description Leader: #}
                    {% if app.user == group.leader %}
                        <span id="editDescriptionTeam">
                            <i class="fa-solid fa-pen-to-square editDescriptionTeam"></i>
                        </span>
                    
                        <dialog class="modalDialog" id="editDescriptionTeamModal">
                            <form method="post" action="{{ path('app_updateTeamDescription', {'groupId': group.id}) }}">
                                <p style="font-size:1.3em;">Modifiez la description de la team:</p>

                                <textarea rows="5" cols="33" name="newTeamDescription" class="form-control" style="margin-bottom:20px;">{{ group.description }}</textarea>

                                <button type="submit" class="confirmModal">Mettre à jour</button>
                                <span class="cancelModal" onclick="editDescriptionTeamModal.close()">Annuler</span>                            
                            </form>
                        </dialog>

                        <script>
                            document.getElementById('editDescriptionTeam').addEventListener("click", function() {
                                document.getElementById('editDescriptionTeamModal').showModal();
                            })
                        </script>


                    {% endif %}
                </p>

                <p style="position:absolute; bottom:0; font-family:'K2D', sans-serif; margin-bottom:5px; backdrop-filter:blur(30px); color:black;">Ancienneté: <span>{{ time_diff(group.creationDate) }}</span></p>
        
            </div>

            <div id="teamImgContainer" class="teamImgContainer" style="width:40%;">
                {% if group.imgUrl is not null %}
                    <img src="../img/uploads/{{ group.imgUrl }}" id="teamImg" class="teamImg">
                {% else %}
                    <img src="../img/teamDefaultPic_dark.jpg" id="teamImg" class="teamImg">
                {% endif %}

                {# Modification de l'img si leader: #}
                <span class="editTeamImgIcon"><i class="fa-solid fa-pen-to-square"></i></span>
                {% if group.leader == app.user %}
                <script>
                    document.getElementById('teamImg').classList.add('hoverTeamImg');
                    document.getElementById('teamImgContainer').classList.add('teamImgContainerHover');
                    document.getElementById('teamImg').addEventListener('click', function() {
                        // Modal input file
                        document.getElementById('changeTeamPicModal').showModal();
                    })
                </script>
                {% endif %}
                
            </div>
        
        </div>

        {# Modal change teamPic #}
        <dialog class="modalDialog" id="changeTeamPicModal">
            <form method="post" action="{{ path('app_updateTeamPic', {'groupId': group.id}) }}" enctype="multipart/form-data">
            
                <p style="font-size:1.3em;">Sélectionnez la nouvelle image:</p>

                <input type="file" name="newTeamPic" accept="image/png, image/jpeg">
            
                <button type="submit" class="confirmModal">Mettre à jour</button>
                <span class="cancelModal" onclick="changeTeamPicModal.close()">Annuler</span>
            </form>
        </dialog>


        {# Liste des membres du groupe #}
        <div class="sectionContainer" style="border: 1px solid {{ gameFrom.color }}50; border-top:2px solid {{ gameFrom.color }}; border-left:1px solid {{ gameFrom.color }};">

            <div>
                <div class="gameInfosSubTitleBg" style="background-color: {{ gameFrom.color }}"></div>
                <h3 class="gameSubTitle noMarginBottom"><i class="fa-solid fa-user-group"></i> Membres</h3>
            </div>

            <div class="sectionContent">

                {# Modifier le nbr de places (leader) #}
                {% if app.user == group.leader %}
                    <span id="editNbrPlacesTeam">
                        <i class="fa-solid fa-pen-to-square editNbrPlacesTeam"></i>
                    </span>
                
                    <dialog class="modalDialog" id="editNbrPlacesTeamModal">
                        <form method="post" action="{{ path('app_updateTeamNbrPlaces', {'groupId': group.id}) }}">
                            <p style="font-size:1.3em;">Changez le nombre de places disponibles:</p>

                            <input type="number" name="newTeamNbrPlaces" value="{{ group.nbrPlaces }}" class="form-control" style="margin-bottom:20px;" min="2" max="10">

                            <button type="submit" class="confirmModal">Mettre à jour</button>
                            <span class="cancelModal" onclick="editNbrPlacesTeamModal.close()">Annuler</span>                            
                        </form>
                    </dialog>

                    <script>
                        document.getElementById('editNbrPlacesTeam').addEventListener("click", function() {
                            document.getElementById('editNbrPlacesTeamModal').showModal();
                        })
                    </script>

                {% endif %}



                <ul id="membersList" class="membersList">

                    <li class="nbrPlacesTeam">
                        <span>{{ group.members|length }}<span>/</span>{{ group.nbrPlaces }}</span>
                    </li>

                    {# Card Leader (position 1) #}
                    {% if group.leader == app.user %}
                        {% set leaderPseudo = "Vous" %}
                    {% else %}
                        {% set leaderPseudo = group.leader.pseudo %}
                    {% endif %}

                    <li class="memberCard leaderCard" style="background-color: {{ gameFrom.color }}">
                        {{ leaderPseudo|capitalize }}
                        <span style="text-align:center; color:#ffe039;filter:drop-shadow(2px 4px 6px black);"><i class="fa-solid fa-crown"></i></span>
                    </li>
                    

                    {% set indexMember = 0 %}
                    {% for member in members %}
                
                        {% if member != group.leader %}
                        
                            {# Leader Card #}
                            {% if member == app.user %}
                                {% set memberPseudo = "Vous" %}
                            {% else %}
                                {% set memberPseudo = member.pseudo|capitalize %}
                            {% endif %}
                            
                            <li class="memberCard" style="background-color: {{ gameFrom.color }}">{{ memberPseudo }}
                            {% if app.user == group.leader and app.user != member %}    
                                <span class="kickMemberBtn" onclick="kickMemberModal{{indexMember}}.showModal()">
                                    <i class="fa-solid fa-user-xmark"></i>
                                </span> 

                                <dialog class="modalDialog" id="kickMemberModal{{indexMember}}">
                                    <p>Êtes-vous sûr de vouloir éjecter {{ member.pseudo|capitalize }} de la team ?</p>
                                    <a class="confirmModal" href="{{ path('app_kickGroupMember',{'memberId': member.id, 'groupId': group.id, 'type':"normal"}) }}">Oui</a>
                                    <a class="confirmModal" href="{{ path('app_kickGroupMember',{'memberId': member.id, 'groupId': group.id, 'type':"blacklisted"}) }}">Oui et blacklister</a>
                                    <span class="cancelModal" onclick="kickMemberModal{{indexMember}}.close()">Annuler</span>
                                </dialog>

                            {% endif %}
                            </li>
                        
                        {% endif %}

                        {% set indexMember = indexMember + 1 %}
                            
                    {% endfor %}

                </ul>

            </div>

        </div>



        {# Emplacements de membre vides (TODO: remplacer par var Twig) #}
        <span id="nbrPlacesGroup" hidden>{{ group.nbrPlaces }}</span>
        <span id="groupColor" hidden>{{ gameFrom.color }}</span>
        <script>
            window.onload = function() {
                var nbrPlaces = parseInt(document.getElementById("nbrPlacesGroup").textContent);
                var membresCount = document.getElementById("membersList").childElementCount;

                for (let index = -1; index < (nbrPlaces - membresCount); index++) {
                    {% if app.user in members %}
                        var voidMember = document.createElement("li");
                        voidMember.className = "voidMemberNoClick";
                        voidMember.innerHTML = "<i class='fa-regular fa-circle-user'></i>";
                    {% else %}
                        var voidMember = document.createElement("a");
                        voidMember.href = "{{ path('app_showCandidatureForm', {'groupId':group.id}) }}";
                        voidMember.className = "voidMember";
                        voidMember.innerHTML = "<i class='fa-solid fa-plus'></i>";
                    {% endif %}
                    
                    
                    // voidMember.style.backgroundColor = document.getElementById("groupColor").innerText;
                    voidMember.style.backgroundColor = "#3f3f3f";
                    voidMember.style.color = document.getElementById("groupColor").innerText;

                    document.getElementById("membersList").append(voidMember);
                }
            }
        </script>



        {% if app.user in group.members %}

            {% if group.leader == app.user %}

                <p style="font-family:'K2D', sans-serif;">Section visible seulement pour le leader :</p>

                <span id="groupId" hidden>{{ group.id }}</span>
                {# Toggle Visibilité du group #}
                {% if group.status == "public" %}
                    {% set visibilityState = "checked" %}
                {% else %}
                    {% set visibilityState = "" %}
                {% endif %}

                {% if group.restriction18 %}
                    {% set restriction18State = "checked" %}
                {% else %}
                    {% set restriction18State = "" %}
                {% endif %}

                {% if group.restrictionMic %}
                    {% set restrictionMicState = "checked" %}
                {% else %}
                    {% set restrictionMicState = "" %}
                {% endif %}

                {% if group.restrictionImgProof %}
                    {% set restrictionImgProofState = "checked" %}
                {% else %}
                    {% set restrictionImgProofState = "" %}
                {% endif %}


                <div class="sectionContainer" style="border: 1px solid {{ gameFrom.color }}50; border-top:2px solid {{ gameFrom.color }}; border-left:1px solid {{ gameFrom.color }};">

                    <div>
                        <div class="gameInfosSubTitleBgParam" style="background-color: {{ gameFrom.color }}"></div>
                        <h3 class="gameSubTitle noMarginBottom"><i class="fa-solid fa-users-gear"></i> Paramètres</h3>
                    </div>

                    <div class="sectionContent sectionTeamParam">

                        <div style="margin-right:35px; border-right:1px solid {{ gameFrom.color }}70">
                            {# Leader: Passer le lead #}
                            {% if members|length > 1 %}
                                <p style="margin-top:15px; width:auto;">Passer le leadership</p>
                                <div class="passLeadLine" style="display:inline-flex; width:100%;">
                                    <form id="switchTeamLeader" action="{{ path('app_switchTeamLeader',{ 'groupId':group.id }) }}" method="post" style="display:inline-flex;">
                                        <select id="memberLeadSelect" class="form-select" name="memberId" style="font-family: 'K2D', sans serif;">
                                            <option id="voidSelect" value="">-- Choisir</option>
                                            {% for member in group.members %}
                                                {% if member != app.user %}
                                                    <option value="{{member.id}}">{{member.pseudo|capitalize}}</option>
                                                {% endif %}
                                            {% endfor %}
                                        </select>
                                        <button id="memberLeadSubmit" type="submit" value="" class="btn btn-primary" style="background-color:{{ gameFrom.color }}" disabled> 
                                            <i class='fa-solid fa-crown'></i><i class='fa-solid fa-arrow-right'></i><i class='fa-solid fa-user'></i>
                                        </button>
                                    </form>
                                </div>
                            {% else %}
                                <p style="margin-top:15px; width:auto;">Passer le leadership</p>
                                <div class="passLeadLine" style="display:inline-flex; width:100%; opacity:0.5;">
                                    <form id="switchTeamLeader" style="display:inline-flex;">
                                        <select disabled id="memberLeadSelect" class="form-select" name="memberId" style="font-style:italic; color:grey; font-family: 'K2D', sans serif;">
                                            <option id="voidSelect" style="" value="">Aucun membre</option>
                                        </select>
                                        <button id="memberLeadSubmit" type="submit" value="" class="btn btn-primary" style="background-color:{{ gameFrom.color }}" disabled> 
                                            <i class='fa-solid fa-crown'></i><i class='fa-solid fa-arrow-right'></i><i class='fa-solid fa-user'></i>
                                        </button>
                                    </form>
                                </div>
                            {% endif %}
                                
                                
                                <script>    
                                    document.getElementById("memberLeadSelect").addEventListener("change", function() {
                                        if (document.getElementById("voidSelect").selected) {
                                            document.getElementById("memberLeadSubmit").disabled = true;
                                        }
                                        else {
                                            document.getElementById("memberLeadSubmit").disabled = false;
                                        }
                                    })
                                </script>

                                {# Bouton liste blacklistedUsers #}
                                {% if group.blacklistedUsers|length > 0 %}
                                    <a href="{{ path('app_groupBlacklist',{'groupId': group.id}) }}">
                                        <div class="blacklistBtn">
                                            <i class="fa-solid fa-users-slash"></i>
                                            <span>Blacklist ({{ blacklistedNbr }})</span>
                                        </div>
                                    </a>
                                {% else %}
                                    <div class="blacklistBtn" style="border-color: grey; opacity:0.7; border-width:1px; cursor:default;">
                                        <i class="fa-solid fa-users-slash"></i>
                                        <span>Blacklist ({{ blacklistedNbr }})</span>
                                    </div>
                                {% endif %}

                            </div>


                            <div>
                                <p style="margin-top:15px; width:auto;">Options</p>
                                <div class="togglesContainer">

                                    {# Asynch toggleGroupVisibility #}
                                    <div style="display:inline-flex;">
                                        <p style="margin-right: 15px;">Privé</p>
                                        <form id="toggleGroupVisibilityForm" action="{{ path('app_toggleGroupVisibility',{ 'groupId':group.id }) }}" method="post">
                                            <label class="toggleAutoPlay">
                                                <input type="checkbox" {{ visibilityState }} name="autoPlay" id="toggleVisi">
                                                <span class="slider"></span>
                                            </label>
                                        </form>
                                        <p style="margin-left: 15px;">Public</p>
                                    </div>

                                    <script>
                                        document.getElementById('toggleGroupVisibilityForm').addEventListener('change', function(event) {
                                            
                                            event.preventDefault(); // Empêche la soumission normale du formulaire

                                            const groupId = parseInt(document.getElementById("groupId").textContent);
                                            fetch('/toggleGroupVisibility/' + groupId, {
                                            method: 'POST',
                                            headers: {
                                                'Content-Type': 'application/json'
                                            }})
                                            .then(response => response.json())
                                            .then(data => {
                                                if (data.success) {
                                                    window.FlashMessage.success(data.newState);                                                    
                                                } else {
                                                    window.FlashMessage.error('Vous devez être le leader du groupe pour changer sa visibilité');
                                                }
                                            });
                                        });
                                    </script>

                                    {# Asynch toggleRestriction18 #}
                                    <div style="display:inline-flex;">
                                        <p style="margin-right:15px;">Majorité obligatoire</p>
                                        <form id="toggleGroupRestriction18Form" action="{{ path('app_toggleGroupRestriction18',{ 'groupId':group.id }) }}" method="post">
                                            <label class="toggleAutoPlay">
                                                <input type="checkbox" {{ restriction18State }} name="autoPlay" id="toggleVisi">
                                                <span class="slider"></span>
                                            </label>
                                        </form>
                                    </div>

                                    <script>
                                        document.getElementById('toggleGroupRestriction18Form').addEventListener('change', function(event) {
                                            
                                            event.preventDefault(); // Empêche la soumission normale du formulaire

                                            const groupId = parseInt(document.getElementById("groupId").textContent);
                                            fetch('/toggleGroupRestriction18/' + groupId, {
                                            method: 'POST',
                                            headers: {
                                                'Content-Type': 'application/json'
                                            }})
                                            .then(response => response.json())
                                            .then(data => {
                                                if (data.success) {
                                                    window.FlashMessage.success(data.newState);   
                                                } else {
                                                    window.FlashMessage.error('Vous devez être le leader du groupe pour changer ce critère');
                                                }
                                            });
                                        });
                                    </script>

                                    {# Asynch toggleRestrictionMic #}
                                    <div style="display:inline-flex;">
                                        <p style="margin-right:15px;">Micro obligatoire</p>
                                        <form id="toggleGroupRestrictionMicForm" action="{{ path('app_toggleGroupRestrictionMic',{ 'groupId':group.id }) }}" method="post">
                                            <label class="toggleAutoPlay">
                                                <input type="checkbox" {{ restrictionMicState }} name="autoPlay" id="toggleVisi">
                                                <span class="slider"></span>
                                            </label>
                                        </form>
                                    </div>

                                    <script>
                                        document.getElementById('toggleGroupRestrictionMicForm').addEventListener('change', function(event) {
                                            
                                            event.preventDefault(); // Empêche la soumission normale du formulaire

                                            const groupId = parseInt(document.getElementById("groupId").textContent);
                                            fetch('/toggleGroupRestrictionMic/' + groupId, {
                                            method: 'POST',
                                            headers: {
                                                'Content-Type': 'application/json'
                                            }})
                                            .then(response => response.json())
                                            .then(data => {
                                                if (data.success) {
                                                    window.FlashMessage.success(data.newState); 
                                                } else {
                                                    window.FlashMessage.error('Vous devez être le leader du groupe pour changer ce critère');
                                                }
                                            });
                                        });
                                    </script>

                                    {# Asynch toggleRestrictionImgProof (Autoriser l'upload d'une image pour prouver un Lvl par exemple, à accompagner d'une description du screen attendu) #}
                                    <div style="display:inline-flex;">
                                        <p style="margin-right:15px;">Autoriser pièce jointe</p>
                                        <form id="toggleRestrictionImgProof" action="{{ path('app_toggleRestrictionImgProof',{ 'groupId':group.id }) }}" method="post">
                                            <label class="toggleAutoPlay">
                                                <input type="checkbox" {{ restrictionImgProofState }} name="autoPlay" id="toggleVisi">
                                                <span class="slider"></span>
                                            </label>
                                        </form>
                                    </div>

                                    <script>
                                        document.getElementById('toggleRestrictionImgProof').addEventListener('change', function(event) {
                                            
                                            event.preventDefault(); // Empêche la soumission normale du formulaire

                                            const groupId = parseInt(document.getElementById("groupId").textContent);
                                            fetch('/toggleRestrictionImgProof/' + groupId, {
                                            method: 'POST',
                                            headers: {
                                                'Content-Type': 'application/json'
                                            }})
                                            .then(response => response.json())
                                            .then(data => {
                                                if (data.success) {
                                                    window.FlashMessage.success(data.newState); 
                                                } else {
                                                    window.FlashMessage.error('Vous devez être le leader du groupe pour changer ce critère');
                                                }
                                            });
                                        });
                                    </script>

                                </div>

                            </div>

                        </div>

                </div>





                {# Planification des sessions (FullCalendar JS) #}
                <div class="sectionContainer" style="border: 1px solid {{ gameFrom.color }}50; border-top:2px solid {{ gameFrom.color }}; border-left:1px solid {{ gameFrom.color }};">
    
                    <div>
                        <div class="gameInfosSubTitleBg" style="background-color: {{ gameFrom.color }}"></div>
                        <h3 class="gameSubTitle noMarginBottom"><i class="fa-solid fa-calendar-days"></i> Planning</h3>
                    </div>

                    <div class="sectionContent">

                        <div class="planningInfos">
                            {% if incomingSessionsCount > 0 %}
                            
                                <div style="display:inline-flex; flex-direction:column;">
                                    <span style="display:inline-flex; align-items:center; justify-content:center;">Sessions à venir: <span class="incomingSessionsNbr">{{ incomingSessionsCount }}</span></span>
                                    <span>Prochaine session prévue: dans {{ time_diff_future(nextSession.dateStart) }}</span>
                                </div>

                            {% else %}
                                
                                <span>Sessions à venir: <span class="emptyListMsg">Aucune session à venir.</span></span>

                            {% endif %}
                        </div>

                        <div id='calendar'></div>

                    </div>


                    <div id="addSessionBtn" style="text-align:center;">
                        <button class="btn btn-primary"><i class="fa-solid fa-plus"></i> Ajouter une session</button>
                    </div>

                    <div id="addSessionForm" class="notDisplayed">

                        {# ids pour flatPickr #}
                        {{ form_start(formAddSession)}}
                            {{ form_row(formAddSession.title) }}
                            {{ form_label(formAddSession.dateStart, 'Début') }}
                            {{ form_widget(formAddSession.dateStart, {'id': 'date_start_picker'}) }}
                            {{ form_label(formAddSession.dateEnd, 'Fin') }}
                            {{ form_widget(formAddSession.dateEnd, {'id': 'date_end_picker'}) }}
                            {# {{ form_row(formAddSession.comfirmNeeded) }} #}
                            
                            {{ form_widget(formAddSession._token) }}
                            {{ form_errors(formAddSession) }}
                        
                            <br>
                            <div style="display:inline-flex;margin:10px auto;">
                                {{ form_row(formAddSession.submit) }}
                                <button id="cancelAddSession" class="btn btn-primary">Annuler</button>
                            </div>

                        {{ form_end(formAddSession)}}

                        <script>
                            document.addEventListener('DOMContentLoaded', function() {
                                console.log('DOMContentLoaded');
                                flatpickr('#date_start_picker', {
                                    enableTime: true,
                                    minDate: 'today',
                                    dateFormat: 'Y-m-d H:i',
                                });

                                flatpickr('#date_end_picker', {
                                    enableTime: true,
                                    minDate: 'today',
                                    dateFormat: 'Y-m-d H:i',
                                });
                            });
                        </script>
                    
                    </div>


                    <div id="eventDetailDiv" class="notDisplayed" style="border-color: {{ gameFrom.color }}; background-color: {{ gameFrom.color }}08;">
                        <h5>Détail de la session</h5>                              
                        <span id="eventTitle"></span>
                        <a id="cancelEventBtn">Annuler la session</a>
                        <h5>Disponibilités</h5>
                        <div style="display:inline-flex; width:100%; justify-content:center;">
                            <div style="display:inline-flex; flex-direction:column; margin:0 10px;">
                                <i id="member{{ app.user.id }}" class="fa-solid fa-user" style="color:#008926;"></i>
                                <span>Vous</span>
                            </div>
                            {% for member in members %}
                                {% if member != group.leader %}
                                    <div style="display:inline-flex; flex-direction:column; margin:0 10px;">
                                        <i id="member{{ member.id }}" class="fa-solid fa-user"></i>
                                        <span>{{ member.pseudo|capitalize }}</span>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>



                    {# Click sur session Calendrier/Callendar (ajax récup de la disponibilité des membres) #}
                    <script>
                        document.addEventListener('DOMContentLoaded', function() {

                            let calendarEl = document.getElementById('calendar');
                            let data = '{{ groupSessionsArray | raw }}';
                            let res = JSON.parse(data);

                            var calendar = new FullCalendar.Calendar(calendarEl, {
                                eventClick: function(info) {

                                    document.getElementById("eventDetailDiv").classList.remove("notDisplayed");

                                    // scroll detail Session
                                    const element = document.getElementById("eventDetailDiv");
                                    element.scrollIntoView({behavior: "smooth", block: "center", inline: "nearest"});

                                    // console.log(info.event.title)
                                    // console.log(info.event.extendedProps.sessionId)
                                    // console.log(info.event.extendedProps.confirmRequired)
                                    // console.log(info.event.start)
                                    // console.log(info.event.end)

                                    // Url des boutons de disponibilité
                                    document.getElementById("cancelEventBtn").setAttribute("href", "/cancelSession/" + info.event.extendedProps.sessionId);

                                    document.getElementById("eventTitle").textContent = '"' + info.event.title + '"';


                                    // Ajax get les dispoState des membres pour la session cliquée 
                                    $.ajax({
                                        url: '/getSessionMembersDispo/' + info.event.extendedProps.sessionId,
                                        type: 'GET',
                                        success: function(response) {
                                            console.log(response.memberDispoArray);
                                            for (let i = 0; i < response.memberDispoArray.length; i++) {
                                                if(response.memberDispoArray[i]["disponibility"] == "dispo") {
                                                    document.getElementById("member" + response.memberDispoArray[i]["id"]).style.color = "#008926";
                                                }
                                                else if (response.memberDispoArray[i]["disponibility"] == "perhaps") {
                                                    document.getElementById("member" + response.memberDispoArray[i]["id"]).style.color = "#a6490f";
                                                }
                                                else if (response.memberDispoArray[i]["disponibility"] == "notdispo") {
                                                    document.getElementById("member" + response.memberDispoArray[i]["id"]).style.color = "#890035";
                                                }
                                            }
                                        },
                                        error: function(xhr, status, error) {
                                            window.FlashMessage.error('Une erreur est survenue');
                                        }
                                    });

                                },
                                initialView: 'dayGridWeek',
                                locale: 'fr',
                                timeZone: 'Europe/Paris',
                                firstDay: 1,
                                headerToolbar: {
                                    start: 'prev next today',
                                    center: 'title',
                                    end: 'dayGridMonth listMonth listYear',
                                },
                                buttonText: {
                                    'today' : 'Aujourd\'hui',
                                    'week' : 'semaine',
                                    'month' : 'Grille',
                                    'listMonth' : 'Mois',
                                    'listYear' : 'Année',
                                },
                                events: res,
                            });

                            calendar.render();

                            // toggle affichage du formulaire d'ajout de session
                            document.getElementById('addSessionBtn').addEventListener('click', function() {
                                document.getElementById('addSessionBtn').classList.toggle('notDisplayed');
                                document.getElementById('addSessionForm').classList.toggle('notDisplayed');
                            });
                            document.getElementById('cancelAddSession').addEventListener('click', function() {
                                document.getElementById('addSessionBtn').classList.toggle('notDisplayed');
                                document.getElementById('addSessionForm').classList.toggle('notDisplayed');
                            });
                        });
                    </script>

                </div>

                                        




                {# Customisation des candidature #}
                <div class="sectionContainer" style="border: 1px solid {{ gameFrom.color }}50; border-top:2px solid {{ gameFrom.color }}; border-left:1px solid {{ gameFrom.color }};">
                    
                    <div>
                        <div class="gameInfosSubTitleBg" style="background-color: {{ gameFrom.color }}"></div>
                        <h3 class="gameSubTitle noMarginBottom"><i class="fa-solid fa-clipboard-user"></i> Candidature</h3>
                    </div>

                    <div class="sectionContent">

                        {% if candidatureCount == 0 %}
                            <span class="candidaturesListBtn" style="border-color: grey; opacity:0.7; border-width:1px; cursor:default;"><i class="fa-regular fa-clock"></i> En attente ({{ candidatureCount }})</span>
                        {% else %}
                            <a href="{{ path('app_candidatureList',{'groupId':group.id}) }}" class="candidaturesListBtn" style="border-color: {{ gameFrom.color }}", onmouseover="this.style.backgroundColor = '{{ gameFrom.color }}';" onmouseout="this.style.backgroundColor = 'rgb(56 56 56)';"><i class="fa-regular fa-clock"></i> En attente <span class="bulleWaitingCandidature" style="background-color:{{gameFrom.color}}">{{ candidatureCount }}</span></a>
                        {% endif %}


                        <div style="padding-top:20px; border-top:1px solid {{ gameFrom.color }}50;">

                            <div style="display:inline-flex;">
                                <h5>Message de l'offre</h5>
                                <span id="editCandidatureOfferTxt">
                                    <i class="fa-solid fa-pen-to-square editCandidatureOfferTxt"></i>
                                </span>
                            </div>

                            <p style="font-family:'K2D', sans-serif; font-size:1.2em">{{ group.candidatureTxt }}</p>

                            {# Modal change teamPic #}
                            <dialog class="modalDialog" id="changeCandidatureTxtModal">
                                <form method="post" action="{{ path('app_updateTeamCandidatureTxt', {'groupId': group.id}) }}" enctype="multipart/form-data">
                                
                                    <p style="font-size:1.3em;">Décrivez quel profil de joueur vous recherchez:</p>

                                    <textarea rows="5" cols="33" name="newTeamCandidatureTxt" class="form-control" style="margin-bottom:20px;">{{ group.candidatureTxt }}</textarea>
                                
                                    <button type="submit" class="confirmModal">Mettre à jour</button>
                                    <span class="cancelModal" onclick="changeCandidatureTxtModal.close()">Annuler</span>
                                </form>
                            </dialog>

                            <script>
                                document.getElementById('editCandidatureOfferTxt').addEventListener("click", function() {
                                    document.getElementById('changeCandidatureTxtModal').showModal();
                                })
                            </script>


                            <p style="font-family:'K2D';">{{ group.candidatureDescription|capitalize }}</p>

                            <h5>Questions posés</h5> 
                            {# Liste des questions #}
                            <div class="questionsContainer">
                            {% if questions|length > 0 %}
                            
                                {% for question in questions %}
                                    <div class="questionLineList">
                                        <div style="display:inline-flex; line-height:0;">
                                            <p>{{ question.text }}</p>
                                            {% if question.required %}
                                                <span class="requiredStar"><i class="fa-solid fa-star-of-life"></i></span>
                                            {% endif %}
                                        </div>
                                        <a class="deleteQuestion" href="{{ path('app_deleteGroupQuestion',{'groupId': group.id, 'questionId': question.id}) }}" class="deleteQuestionBtn"><i class="fa-solid fa-trash"></i></a>
                                    </div>
                                {% endfor %}

                            {% else %}
                                
                                <span class="emptyListMsg">Aucune question posée pour l'instant</span>

                            {% endif %}
                            </div>

                            {# Ajouter une question #}    
                            {% if questions|length >= 5 %}
                                <p class="emptyListMsg">Vous avez atteint la limite de question (5/5)</p>
                            {% else %}
                                <form id="questionsContainer" action="{{ path('app_addGroupQuestion',{'groupId': group.id}) }}" method="post">
                                    <div class="inputQuestionLine">
                                        <i class="fa-solid fa-plus addQuestionIcon" style="color:{{gameFrom.color}}"></i>
                                        <input type="text" id="questionText" name="questionText" placeholder="Entrez une question de candidature..." class="form-control" required></input>
                                        <div title="Rendre la question obligatoire" class="requiredQuestionDiv">
                                            <label for="required"><span class="requiredStar"><i class="fa-solid fa-star-of-life"></i></span></label>
                                            <input checked type="checkbox" name="required" value="checked" class="questionRequired form-check-input"></input>
                                        </div>
                                    </div>
                                    <input type="submit" class="btn btn-primary" value="Ajouter"></input>
                                </form>
                            {% endif %}
                        </div>
                        
                    {% else %}

                        {# // Planning (lecture seul) #}
                        {# Planification des sessions (FullCalendar JS) #}
                        <div class="sectionContainer" style="border: 1px solid {{ gameFrom.color }}50; border-top:2px solid {{ gameFrom.color }}; border-left:1px solid {{ gameFrom.color }};">
            
                            <div>
                                <div class="gameInfosSubTitleBg" style="background-color: {{ gameFrom.color }}"></div>
                                <h3 class="gameSubTitle noMarginBottom"><i class="fa-solid fa-calendar-days"></i> Planning</h3>
                            </div>

                            <div class="sectionContent">

                                <div class="planningInfos">
                                    {% if incomingSessionsCount > 0 %}
                                    
                                        <div style="display:inline-flex; flex-direction:column;">
                                            <span style="display:inline-flex; align-items:center; justify-content:center;">Sessions à venir: <span class="incomingSessionsNbr">{{ incomingSessionsCount }}</span></span>
                                            <span>Prochaine session prévue: dans {{ time_diff_future(nextSession.dateStart) }}</span>
                                        </div>

                                    {% else %}
                                        
                                        <span>Sessions à venir: <span class="emptyListMsg">Aucune session à venir.</span></span>

                                    {% endif %}
                                </div>

                                <div id='calendar'></div>

                            </div>

                            <div id="eventDetailDiv" class="notDisplayed" style="border-color: {{ gameFrom.color }}; background-color: {{ gameFrom.color }}08;">
                                <div class="">
                                    <h5>Détail de la session</h5>
                                    <span id="eventTitle"></span>
                                </div>

                                <div class="">
                                    <h5>Disponibilité</h5>
                                    <div class="eventDispoOptions">
                                        <span id="eventDispoBtn">Disponible</span>
                                        <span id="eventPerhapsBtn">Peut-être</span>
                                        <span id="eventNotDispoBtn">Indisponible</span>
                                    </div>
                                </div>
                                {# Ajax: Affichage des membres et leur dispo #}
                                {# Leader: btn envoi notif relance sous membre #}
                            </div>


                            {# Click sur session Calendrier/Callendar (ajax récup de la disponibilité du membre connecté et btn toggles) #}
                            <script>
                                document.addEventListener('DOMContentLoaded', function() {

                                    let calendarEl = document.getElementById('calendar');
                                    let data = '{{ groupSessionsArray | raw }}';
                                    let res = JSON.parse(data);

                                    var calendar = new FullCalendar.Calendar(calendarEl, {
                                        eventClick: function(info) {

                                            // reset des state dispo Btn
                                            document.getElementById("eventDispoBtn").classList.remove("dispoState");
                                            document.getElementById("eventPerhapsBtn").classList.remove("perhapsState");
                                            document.getElementById("eventNotDispoBtn").classList.remove("notdispoState");

                                            // Ajax get la dispoState pour la session cliquée et le membre connecté
                                            $.ajax({
                                                url: '/getSessionSelfDispo/' + info.event.extendedProps.sessionId,
                                                type: 'GET',
                                                success: function(response) {
                                                    if (response.selfDisponibility == "dispo") {
                                                        document.getElementById("eventDispoBtn").classList.add("dispoState");
                                                    } else if (response.selfDisponibility == "perhaps") {
                                                        document.getElementById("eventPerhapsBtn").classList.add("perhapsState");
                                                    } else if (response.selfDisponibility == "notdispo") {
                                                        document.getElementById("eventNotDispoBtn").classList.add("notdispoState");
                                                    }

                                                    // Affichage + scroll detail Session
                                                    const element = document.getElementById("eventDetailDiv");
                                                    element.classList.remove("notDisplayed");
                                                    element.scrollIntoView({ behavior: "smooth", block: "center", inline: "nearest" });
                                                },
                                                error: function(xhr, status, error) {
                                                    window.FlashMessage.error('Une erreur est survenue');
                                                }
                                            });

                                            // console.log(info.event.extendedProps.sessionId)
                                            document.getElementById("eventTitle").textContent = '"' + info.event.title + '"';

                                            document.getElementById('eventDispoBtn').onclick = function() {
                                                toggleDispo(info.event.extendedProps.sessionId, 'dispo');
                                            };
                                            document.getElementById('eventPerhapsBtn').onclick = function() {
                                                toggleDispo(info.event.extendedProps.sessionId, 'perhaps');
                                            };
                                            document.getElementById('eventNotDispoBtn').onclick = function() {
                                                toggleDispo(info.event.extendedProps.sessionId, 'notdispo');
                                            };
                                        },
                                        initialView: 'dayGridWeek',
                                        locale: 'fr',
                                        timeZone: 'Europe/Paris',
                                        firstDay: 1,
                                        headerToolbar: {
                                            start: 'prev next today',
                                            center: 'title',
                                            end: 'dayGridMonth listMonth listYear',
                                        },
                                        buttonText: {
                                            'today' : 'Aujourd\'hui',
                                            'week' : 'semaine',
                                            'month' : 'Grille',
                                            'listMonth' : 'Mois',
                                            'listYear' : 'Année',
                                        },
                                        events: res,
                                    });

                                    calendar.render();

                                    // toggle de la disponibilité
                                    function toggleDispo(sessionId, disponibility) {
                                        $.ajax({
                                            url: '/updateSessionMemberDispo/' + sessionId + "/" + disponibility,
                                            type: 'GET',
                                            cache: false,
                                            success: function(response) {
                                                window.FlashMessage.success('Disponibilité mise à jour');

                                                if (disponibility === 'dispo') {
                                                    document.getElementById('eventNotDispoBtn').classList.remove("notdispoState");
                                                    document.getElementById('eventPerhapsBtn').classList.remove("perhapsState");
                                                    document.getElementById('eventDispoBtn').classList.add("dispoState");
                                                } else if (disponibility === 'perhaps') {
                                                    document.getElementById('eventNotDispoBtn').classList.remove("notdispoState");
                                                    document.getElementById('eventPerhapsBtn').classList.add("perhapsState");
                                                    document.getElementById('eventDispoBtn').classList.remove("dispoState");
                                                } else if (disponibility === 'notdispo') {
                                                    document.getElementById('eventNotDispoBtn').classList.add("notdispoState");
                                                    document.getElementById('eventPerhapsBtn').classList.remove("perhapsState");
                                                    document.getElementById('eventDispoBtn').classList.remove("dispoState");
                                                }
                                            },
                                            // error: function(xhr, status, error) {
                                            //     window.FlashMessage.error('Une erreur est survenue');
                                            // }
                                        });
                                    }
                                });
                            </script>

                        </div>

                    {% endif %}

                </div>

            </div>


            {# Quitter le groupe + modal #}
            <span id="leaveGroupBtn" onclick="leaveGroupModal.showModal()">
                <div style="display:inline-flex; justify-content:space-between;">
                    <span>Quitter le groupe</span>
                    <i class="fa-solid fa-person-walking-arrow-right leaveGroupBtnIcon"></i>
                </div>
            </span>

            <dialog class="modalDialog" id="leaveGroupModal">
                {# Si lastMember: warning team delete #}
                <p>Êtes-vous sûr de vouloir quitter la team ?</p>

                {% if members|length == 1 %}
                    <p><i class="fa-solid fa-circle-exclamation"></i> &nbsp; La team sera supprimée</p>
                {% elseif members|length > 1 and group.leader == app.user %}
                    <p><i class="fa-solid fa-circle-exclamation"></i> &nbsp; Le lead du group sera donné à un membre aléatoire</p>
                {% endif %}
                
                <a class="confirmModal" href="{{ path('app_leaveGroup', {'groupId': group.id} )}}">Oui</a>
                <span class="cancelModal" onclick="leaveGroupModal.close()">Annuler</span>
            </dialog>
            
        {% else %}

            {# si candidature en attente #}
            {% if waitingCandidature is not null and waitingCandidature %}
                <span>Candidature en attente</span>
                {# Récup l'id de la candidature (findBy User/group + getOneResult) #}
                <a href="{{ path('app_cancelCandidature',{'candidatureId':candidature.id}) }}">Annuler</a>
            {% else %}
                {% if app.user in group.blacklistedUsers %}
                        <span class="emptyListMsg">Vous ne pouvez plus candidater</span>
                {% else %}   
                    {% if group.members|length == group.NbrPlaces %}
                        <p class="emptyListMsg">Le groupe est plein, vous ne pouvez pas candidater pour l'instant</p>
                    {% else %}
                        <a href="{{ path('app_showCandidatureForm',{'groupId': group.id}) }}">Candidater</a>
                    {% endif %}
                {% endif %}
            {% endif %}

        {% endif %}
        
    </div>


    {# // Adaptation couleur borderBottom HeaderFixed #}
    <script>
        document.getElementsByClassName('profilIcon')[0].style.color = "{{gameFrom.color}}";

        if (document.getElementById('landingPageBool') == null) {
            window.addEventListener('scroll', () => {
                if (window.scrollY > 0) {
                    if(document.getElementsByClassName('headerFixed')[0] !== null) {
                        document.getElementsByClassName('headerFixed')[0].style.borderColor = "{{gameFrom.color}}";
                    }
                }
            })
        }
    </script>


{% endblock %}