{% extends 'base.html.twig' %}

{% block title %}Topics{% endblock %}

{% block body %}


    <header class="gameHeader" style="background: url('{{ asset('img/games/banner/' ~ gameFrom.banner ) }}' )">
        <a href="{{ path('app_home') }}"><img src="{{ asset('img/logoSquadForge_White_Rogned.png') }}" class="logoPng" id="logoPng" /></a>
        <nav>
            <a href="{{ path('app_games') }}" style="color:{{ gameFrom.fontColor }};">Jeux</a>
            {% if app.user %}
                <a href="{{ path('app_userGroups') }}" style="color:{{ gameFrom.fontColor }};">TEAMS</a>
            {% endif %}
            {% if app.user and "ROLE_MODO" in app.user.roles %}
                <a href="{{ path('app_moderationDashboard') }}" style="color:{{ gameFrom.fontColor }};">Modération</a>
            {% endif %}
        </nav>
        <a href="{{ path('app_game', {'id': gameFrom.id }) }}"><h2 class="headerGameTitle"  style="border-right:15px solid {{ gameFrom.color }};">{{ gameFrom.title }}</h2></a>
    </header>
    <div class="headerUnderline" style="background-color: {{ gameFrom.color }}"></div>


    <div class="main">

        {# Fil d'Ariane #}
        <p>
            <a class="underlineLink" href="{{ path('app_games') }}">Jeux</a>
             - <a class="underlineLink" href="{{ path('app_game', {'id': gameFrom.id }) }}">{{ gameFrom.title }}</a>
             - <a class="underlineLink" href="{{ path('app_groupList', {'gameIdFrom': gameFrom.id }) }}">Teams</a>
             - {{ group.title }}
        </p>

        <h2>TEAMS</h2>

        <br>
        <h3 style="text-align:center; width:100%;">{{ group.title }}</h3>

        <p class="groupDescription">
            <i class="fa-solid fa-quote-left"></i>
            {{ group.description }}
            <i class="fa-solid fa-quote-right"></i>
        </p>
        <p class="groupLeader">Leader: <span>{{ group.leader.pseudo }}</span></p>

        <div>
            <div class="gameInfosSubTitleBg" style="background-color:#ff4655;"></div>
            <h3 class="gameSubTitle noMarginBottom">Membres ( {{ group.members|length }} / {{ group.nbrPlaces }} )</h3>
        </div>

        <ul class="membersList">
        {% for member in members %}
            <li>{{ member.pseudo }}</li>
        {% endfor %}
        </ul>

        {# Reste des emplacements vides (compte nbrPlaces - members:length) #}

        <br><br>

        {% if app.user in group.members %}
            {% if group.leader == app.user %}
                <p>Leader</p>
                <p>Passer le lead</p>
            {% else %}
                <p>Membre Standard</p>
            {% endif %}
            
           
            <a href="{{ path('app_leaveGroup', {'groupId':group.id} )}}">Quitter le groupe</a>
        {% else %}
            <p>Candidater</p>
        {% endif %}
        


    </div>


{% endblock %}