{% extends 'base.html.twig' %}

{% block title %}Topics{% endblock %}

{% block body %}


    <header class="gameHeader" style="background: url('{{ asset('img/games/banner/' ~ gameFrom.banner ) }}' )">
        <a href="{{ path('app_home') }}"><img src="{{ asset('img/logoSquadForge_White_Rogned.png') }}" class="logoPng" id="logoPng" /></a>
        <nav>
            <a href="{{ path('app_games') }}" style="color:{{ gameFrom.fontColor }};">Jeux</a>
            {% if app.user %}
                <a href="{{ path('app_userGroups') }}" style="color:{{ gameFrom.fontColor }};">TEAMS</a>
            {% endif %}
            {% if app.user and "ROLE_MODO" in app.user.roles %}
                <a href="{{ path('app_moderationDashboard') }}" style="color:{{ gameFrom.fontColor }};">Modération</a>
            {% endif %}
        </nav>
        <a href="{{ path('app_game', {'id': gameFrom.id }) }}"><h2 class="headerGameTitle"  style="border-right:15px solid {{ gameFrom.color }};">{{ gameFrom.title }}</h2></a>
    </header>
    <div class="headerUnderline" style="background-color: {{ gameFrom.color }}"></div>


    <div class="main">

        {# Fil d'Ariane #}
        <p>
            <a class="underlineLink" href="{{ path('app_games') }}">Jeux</a>
             - <a class="underlineLink" href="{{ path('app_game', {'id': gameFrom.id }) }}">{{ gameFrom.title }}</a>
             - <a class="underlineLink" href="{{ path('app_groupList', {'gameIdFrom': gameFrom.id }) }}">Teams</a>
             - {{ group.title }}
        </p>

        <h2>TEAMS</h2>

        <br>
        <h3 style="text-align:center; width:100%;">{{ group.title }}</h3>

        <p class="groupDescription">
            <i class="fa-solid fa-quote-left"></i>
            {{ group.description }}
            <i class="fa-solid fa-quote-right"></i>
        </p>
        <p class="groupLeader">Leader: <span>{{ group.leader.pseudo }}</span></p>

        <div>
            <div class="gameInfosSubTitleBg" style="background-color:#ff4655;"></div>
            <h3 class="gameSubTitle noMarginBottom">Membres ( {{ group.members|length }} / {{ group.nbrPlaces }} )</h3>
        </div>

        <ul class="membersList">
        {% for member in members %}
            <li>{{ member.pseudo }}</li>
        {% endfor %}
        </ul>

        {# Reste des emplacements vides (compte nbrPlaces - members:length) #}

        <br><br>

        {% if app.user in group.members %}

            {% if group.leader == app.user %}

                <span id="groupId" hidden>{{ group.id }}</span>
                {# Toggle Lecture automatique des Gifs #}
                {% if group.status == "public" %}
                    {% set checked = "checked" %}
                {% else %}
                    {% set checked = "" %}
                {% endif %}

                <p>Leader</p>
                <p>Passer le lead</p>
                <div style="display:inline-flex;">
                    <p>Visibilité: </p>
                    <form id="toggleGroupVisibilityForm" action="{{ path('app_toggleGroupVisibility',{ 'groupId':group.id }) }}" method="post">
                        <label class="toggleAutoPlay">
                            <input type="checkbox" {{ checked }} name="autoPlay" id="toggleVisi">
                            <span class="slider"></span>
                        </label>
                    </form>
                </div>

                {# Asynch toggleGroupVisibility #}
                <script>
                    document.getElementById('toggleGroupVisibilityForm').addEventListener('change', function(event) {
                        
                        event.preventDefault(); // Empêche la soumission normale du formulaire

                        const groupId = parseInt(document.getElementById("groupId").textContent);
                        fetch('/toggleGroupVisibility/' + groupId, {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        }})
                        .then(response => response.json())
                        .then(data => {
                            if (data.success) {
                                document.querySelector('#ajaxFlash').textContent = "La team est désormais " + data.newState;
                                document.querySelector('#ajaxFlash').classList.add("ajaxFlashAnim", "successAjaxFlash");
                            } else {
                                document.querySelector('#ajaxFlash').textContent = "Vous devez être le leader du groupe pour changer sa visibilité";
                                document.querySelector('#ajaxFlash').classList.add("ajaxFlashAnim", "errorAjaxFlash");
                            }
                        });
                    });

                </script>

            {% else %}

                <p>Membre Standard</p>

            {% endif %}

            <br>
            <a id="leaveGroupBtn" href="{{ path('app_leaveGroup', {'groupId':group.id} )}}">Quitter le groupe</a>

        {% else %}

            <p>Candidater</p>

        {% endif %}
        


    </div>


{% endblock %}