{% extends 'base.html.twig' %}

{% block title %}Topics{% endblock %}

{% block body %}


    <header class="gameHeader" style="background: url('{{ asset('img/games/banner/' ~ gameFrom.banner ) }}' )">
        <a href="{{ path('app_home') }}"><img src="{{ asset('img/logoSquadForge_White_Rogned.png') }}" class="logoPng" id="logoPng" /></a>
        <nav>
            <a href="{{ path('app_games') }}" style="color:{{ gameFrom.fontColor }};">Jeux</a>
            {% if app.user %}
                <a href="{{ path('app_userGroups') }}" style="color:{{ gameFrom.fontColor }};">TEAMS</a>
            {% endif %}
            {% if app.user and "ROLE_MODO" in app.user.roles %}
                <a href="{{ path('app_moderationDashboard') }}" style="color:{{ gameFrom.fontColor }};">Modération</a>
            {% endif %}
        </nav>
        <a href="{{ path('app_game', {'id': gameFrom.id }) }}"><h2 class="headerGameTitle"  style="border-right:15px solid {{ gameFrom.color }};">{{ gameFrom.title }}</h2></a>
    </header>
    <div class="headerUnderline" style="background-color: {{ gameFrom.color }}"></div>


    <div class="main">

        {# Fil d'Ariane #}
        <p>
            <a class="underlineLink" href="{{ path('app_games') }}">Jeux</a>
             - <a class="underlineLink" href="{{ path('app_game', {'id': gameFrom.id }) }}">{{ gameFrom.title }}</a>
             - <a class="underlineLink" href="{{ path('app_groupList', {'gameIdFrom': gameFrom.id }) }}">Teams</a>
             - {{ group.title }}
        </p>

        <h2>TEAMS</h2>

        <br>
        <h3 style="text-align:center; width:100%;">{{ group.title }}</h3>

        <p class="groupDescription">
            <i class="fa-solid fa-quote-left"></i>
            {{ group.description }}
            <i class="fa-solid fa-quote-right"></i>
        </p>
        <p class="groupLeader">Leader: <span>{{ group.leader.pseudo }}</span></p>

        {# Liste des membres du groupe #}
        <div>
            <div class="gameInfosSubTitleBg" style="background-color: {{ gameFrom.color }}"></div>
            <h3 class="gameSubTitle noMarginBottom">Membres ( {{ group.members|length }} / {{ group.nbrPlaces }} )</h3>
        </div>

        <ul id="membersList" class="membersList">
        {% for member in members %}
                <li class="memberCard" style="background-color: {{ gameFrom.color }}">{{ member.pseudo }}
                {% if app.user == group.leader %}    
                    <a href="{{ path('app_kickGroupMember',{'memberId': member.id, 'groupId': group.id}) }}">Expulser</a>        
                {% endif %}
                </li>
        {% endfor %}
        </ul>

        {# Emplacements de membre vides #}
        <span id="nbrPlacesGroup" hidden>{{ group.nbrPlaces }}</span>
        <span id="groupColor" hidden>{{ gameFrom.color }}</span>
        <script>
            window.onload = function() {
                var nbrPlaces = parseInt(document.getElementById("nbrPlacesGroup").textContent);
                var membresCount = document.getElementById("membersList").childElementCount;

                for (let index = 0; index < (nbrPlaces - membresCount); index++) {
                    var voidMember = document.createElement("li");
                    voidMember.className = "voidMember";
                    voidMember.innerHTML = "+";
                    voidMember.style.backgroundColor = document.getElementById("groupColor").innerText;

                    document.getElementById("membersList").append(voidMember);
                }
            }
        </script>

        <br><br>

        {% if app.user in group.members %}

            {% if group.leader == app.user %}

                <p>Leader</p>

                <span id="groupId" hidden>{{ group.id }}</span>
                {# Toggle Visibilité du group #}
                {% if group.status == "public" %}
                    {% set visibilityState = "checked" %}
                {% else %}
                    {% set visibilityState = "" %}
                {% endif %}

                {% if group.restriction18 %}
                    {% set restriction18State = "checked" %}
                {% else %}
                    {% set restriction18State = "" %}
                {% endif %}

                {% if group.restrictionMic %}
                    {% set restrictionMicState = "checked" %}
                {% else %}
                    {% set restrictionMicState = "" %}
                {% endif %}
                

                <h4>Paramètres</h4>
                {# Leader: Passer le lead #}
                <div style="display:inline-flex; width:100%;">
                    <p style="width:auto;">Passer le lead</p>
                    <form id="switchTeamLeader" action="{{ path('app_switchTeamLeader',{ 'groupId':group.id }) }}" method="post" style="display:inline-flex;">
                        <select id="memberLeadSelect" class="form-select" name="memberId" style="font-family: 'K2D', sans serif;">
                            <option id="voidSelect" value="">-- Choisir</option>
                            {% for member in group.members %}
                                {% if member != app.user %}
                                    <option value="{{member.id}}">{{member.pseudo}}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                        <input id="memberLeadSubmit" type="submit" value="Valider" class="btn btn-primary" style="background-color:{{ gameFrom.color }}" disabled> 
                    </form>
                </div>

                <script>    
                    document.getElementById("memberLeadSelect").addEventListener("change", function() {
                        if (document.getElementById("voidSelect").selected) {
                            document.getElementById("memberLeadSubmit").disabled = true;
                        }
                        else {
                            document.getElementById("memberLeadSubmit").disabled = false;
                        }
                    })

                </script>

                <br>

                {# Asynch toggleGroupVisibility #}
                <div style="display:inline-flex;">
                    <p>Visibilité: </p>
                    <form id="toggleGroupVisibilityForm" action="{{ path('app_toggleGroupVisibility',{ 'groupId':group.id }) }}" method="post">
                        <label class="toggleAutoPlay">
                            <input type="checkbox" {{ visibilityState }} name="autoPlay" id="toggleVisi">
                            <span class="slider"></span>
                        </label>
                    </form>
                </div>

                <script>
                    document.getElementById('toggleGroupVisibilityForm').addEventListener('change', function(event) {
                        
                        event.preventDefault(); // Empêche la soumission normale du formulaire

                        const groupId = parseInt(document.getElementById("groupId").textContent);
                        fetch('/toggleGroupVisibility/' + groupId, {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        }})
                        .then(response => response.json())
                        .then(data => {
                            if (data.success) {
                                document.querySelector('#ajaxFlash').textContent = data.newState;
                                document.querySelector('#ajaxFlash').classList.add("ajaxFlashAnim", "successAjaxFlash");
                                
                            } else {
                                document.querySelector('#ajaxFlash').textContent = "Vous devez être le leader du groupe pour changer sa visibilité";
                                document.querySelector('#ajaxFlash').classList.add("ajaxFlashAnim", "errorAjaxFlash");
                            }
                        });
                    });
                </script>

                {# Asynch toggleRestriction18 #}
                <div style="display:inline-flex;">
                    <p>Majorité obligatoire: </p>
                    <form id="toggleGroupRestriction18Form" action="{{ path('app_toggleGroupRestriction18',{ 'groupId':group.id }) }}" method="post">
                        <label class="toggleAutoPlay">
                            <input type="checkbox" {{ restriction18State }} name="autoPlay" id="toggleVisi">
                            <span class="slider"></span>
                        </label>
                    </form>
                </div>

                <script>
                    document.getElementById('toggleGroupRestriction18Form').addEventListener('change', function(event) {
                        
                        event.preventDefault(); // Empêche la soumission normale du formulaire

                        const groupId = parseInt(document.getElementById("groupId").textContent);
                        fetch('/toggleGroupRestriction18/' + groupId, {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        }})
                        .then(response => response.json())
                        .then(data => {
                            if (data.success) {
                                document.querySelector('#ajaxFlash').textContent = data.newState;
                                document.querySelector('#ajaxFlash').classList.add("ajaxFlashAnim", "successAjaxFlash");
                            } else {
                                document.querySelector('#ajaxFlash').textContent = "Vous devez être le leader du groupe pour changer ce critère";
                                document.querySelector('#ajaxFlash').classList.add("ajaxFlashAnim", "errorAjaxFlash");
                            }
                        });
                    });
                </script>

                {# Asynch toggleRestrictionMic #}
                <div style="display:inline-flex;">
                    <p>Micro obligatoire: </p>
                    <form id="toggleGroupRestrictionMicForm" action="{{ path('app_toggleGroupRestrictionMic',{ 'groupId':group.id }) }}" method="post">
                        <label class="toggleAutoPlay">
                            <input type="checkbox" {{ restrictionMicState }} name="autoPlay" id="toggleVisi">
                            <span class="slider"></span>
                        </label>
                    </form>
                </div>

                <script>
                    document.getElementById('toggleGroupRestrictionMicForm').addEventListener('change', function(event) {
                        
                        event.preventDefault(); // Empêche la soumission normale du formulaire

                        const groupId = parseInt(document.getElementById("groupId").textContent);
                        fetch('/toggleGroupRestrictionMic/' + groupId, {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        }})
                        .then(response => response.json())
                        .then(data => {
                            if (data.success) {
                                document.querySelector('#ajaxFlash').textContent = data.newState;
                                document.querySelector('#ajaxFlash').classList.add("ajaxFlashAnim", "successAjaxFlash");
                            } else {
                                document.querySelector('#ajaxFlash').textContent = "Vous devez être le leader du groupe pour changer ce critère";
                                document.querySelector('#ajaxFlash').classList.add("ajaxFlashAnim", "errorAjaxFlash");
                            }
                        });
                    });
                </script>

                {# Customisation des candidature #}
                <h4>Candidature</h4>
                <h5>Message de l'offre<h5>

                {# + checkbox bool obligatoire #}
                <div style="display:inline-flex; width:100%; justify-content:space-between;">
                    <h5>Questions posés</h5> 
                    <span style="opacity:0.5; position:relative; left:4px;">(<span style="color:red; font-size:0.8em;"><i class="fa-solid fa-star-of-life"></i></span>)</span>
                </div>

                {# *******************************************************************   #}
                    {# // Remplacer par formType entity:group qui add/upgrade juste les question 1, 2 et 3 (ajouter les paramètre doctrine à Group) #}
                    {# Du coup remove Entity:group_question et repo #}

                    {# <form id="questionsContainer" action="{{ path('app_updateGroupQuestions',{'groupId': group.id}) }}" method="post">
                        <div class="questionLine">
                            <input type="text" name="question1" placeholder="Question de candidature n°1" class="form-control"></input>
                            <input type="checkbox" name="question1required" class="questionRequired form-check-input"></input>
                        </div>
                        <div class="questionLine">
                            <input type="text" name="question2" placeholder="Question de candidature n°2" class="form-control"></input>
                            <input type="checkbox" name="question1required" class="questionRequired form-check-input"></input>
                        </div>
                        <div class="questionLine">
                            <input type="text" name="question3" placeholder="Question de candidature n°3" class="form-control"></input>
                            <input type="checkbox" name="question1required" class="questionRequired form-check-input"></input>
                        </div>

                        <input type="submit" value="Mettre à jour" class="btn btn-primary"/>
                    </form> #}
                {# *******************************************************************   #}


            {% else %}

                <p>Membre Standard</p>

            {% endif %}

            <br>
            <a id="leaveGroupBtn" href="{{ path('app_leaveGroup', {'groupId':group.id} )}}">Quitter le groupe</a>

        {% else %}

            <p>Candidater</p>

        {% endif %}
        


    </div>


{% endblock %}