{% extends 'base.html.twig' %}

{% block title %}Profil utilisateur{% endblock %}

{% block body %}

    
    <header class="globalBanner" style="background: url('{{ asset('img/banner.jpg') }}' )">
        <a href="{{ path('app_home') }}"><img src="{{ asset('img/logoSquadForge_White_Rogned.png') }}" class="logoPng" /></a>
        <nav class="navLine">
            <a href="{{ path('app_games') }}">JEUX</a>
            {% if app.user %}
                <a href="{{ path('app_userGroups') }}" style="white;">TEAMS</a>
                <a href="{{ path('app_showNotifsList') }}">
                    <div style="position:relative; margin-right:10px;">
                        <i class="fa-solid fa-bell notifBell"></i>
                        {# Bulle newNotifCount si > 0#}
                        {% if userNotifCount > 0 %}
                            <span class="newNotifBubbleCount" id="newNotifBubbleCount">{{ userNotifCount }}</span>
                        {% endif %}
                    </div>
                </a>
            {% endif %}
            {% if app.user and "ROLE_MODO" in app.user.roles %}
                <a href="{{ path('app_moderationDashboard') }}">
                    <div style="position:relative; margin-right:10px;">
                        <span>Modération</span>
                        {% if modoNotifCount > 0 %}
                            <span class="newNotifBubbleCount">{{ modoNotifCount }}</span>
                        {% endif %}
                    </div>
                </a>
            {% endif %}
        </nav>
    </header>
    <div class="headerUnderline"></div>



    <div class="main">


        <h2>Espace Modération</h2>


        <div class="sectionContainer modoSection" >

            <h3>Topics en attente</h3>

            {% if lastWaitingTopics|length == 0 %}

                <p class="emptyListMsg">Aucun topic en attente de validation</p>
                
            {% else %}
                        
                {% for topic in lastWaitingTopics %}

                    <div id="topicCard{{ topic.id }}" class="topicCard" style="border-bottom: 4px solid {{ topic.game.color }}; cursor:pointer;">
                        <img class="tinyLogo" src="{{ asset('img/games/tinyLogo/' ~ topic.game.tinyLogo) }}" />
                        <span id="topicTitle{{ topic.id }}" class="topicTitle">{{ topic.title|capitalize }}</span>
                        <span>{{ topic.validated }}</span>
                        <span class="topicCardAuthor">{{ topic.user.pseudo }}</span>
                        <span class="topicCardPublishDate">{{ time_diff(topic.publishDate) }}</span>
                        {% if topic.topicPostsCount == 0 %}
                            <span style="opacity:0.5;">{{ topic.topicPostsCount }} <i class="fa-solid fa-message" style="color:grey;"></i></span>
                        {% else %}
                            <span>{{ topic.topicPostsCount }} <i class="fa-solid fa-message" style="color:{{ topic.game.color }}"></i></span>
                        {% endif %}
                    </div>
                    <div id="topicSubCard{{ topic.id }}" class="topicSubCard notDisplayed">
                        <p>{{ topic.firstMsg }}</p>
                        <div class="mediaApprovalLine">
                            <a href="{{ path('app_validateTopic', {'id': topic.id}) }}">
                                <span class="mediaApproveBtn"><i class="fa-solid fa-check"></i></span>
                            </a>
                            <a href="{{ path('app_refuseTopic', {'id': topic.id}) }}">
                                <span class="mediaRefuseBtn"><i class="fa-solid fa-xmark"></i></span>
                            </a>
                        </div>

                    </div>

                    {# OnClick TopicCard: détails et boutons validation/refus #}
                    <script>
                        document.getElementById('topicCard{{ topic.id }}').addEventListener('click', function() {
                            document.getElementById('topicSubCard{{ topic.id }}').classList.toggle('notDisplayed');
                        });
                    </script>
                {% endfor %}
            {% endif %} 
        </div>




        <div class="sectionContainer modoSection" >

            <h3>Médias en attente</h3>

            {% if lastWaitingMedias|length == 0 %}

                <p class="emptyListMsg">Aucun média en attente de validation</p>

            {% else %}

                <div class="listContainer marginTop mediaList">

                    {% for media in lastWaitingMedias %}

                        <div id="mediaCard{{ media.id }}" class="mediaCard" style="cursor:pointer;">
                            <div class="mediaCardHeader" style="border-bottom: 4px solid {{ media.game.color }}">
                                <img class="tinyLogo" src="{{ asset('img/games/tinyLogo/' ~ media.game.tinyLogo) }}" />
                                <span id="mediaCardTitle{{ media.id }}" class="mediaTitle" style="font-family:'K2D',sans-serif;">{{ media.title|capitalize }}</span>
                                <span id="topicStatusValidate{{ media.id }}">{{ media.validated }}</span>
                                {# <span>{{ media.user.pseudo }}</span> #}
                                <span class="topicCardPublishDate">{{ time_diff(media.publishDate) }}</span>
                            </div>
                            <img src="{{ asset("img/uploads/" ~ media.url) }}" alt="media" class="mediaImg" />
                        </div>

                        <div id="mediaSubCard{{ media.id }}" class="mediaApprovalLine notDisplayed">
                            <a href="{{ path('app_validateMedia', {'id': media.id}) }}">
                                <span class="mediaApproveBtn"><i class="fa-solid fa-check"></i></span>
                            </a>
                            <a href="{{ path('app_refuseMedia', {'id': media.id}) }}">
                                <span class="mediaRefuseBtn"><i class="fa-solid fa-xmark"></i></span>
                            </a>
                        </div>

                        {# OnClick MediaCard: détails et boutons validation/refus #}
                        <script>
                            document.getElementById('mediaCard{{ media.id }}').addEventListener('click', function() {
                                document.getElementById('mediaSubCard{{ media.id }}').classList.toggle('notDisplayed');
                                document.getElementById('mediaCard{{ media.id }}').classList.toggle('mediaCard');
                                document.getElementById('mediaCardTitle{{ media.id }}').classList.toggle('mediaTitle');
                                document.getElementById('topicStatusValidate{{ media.id }}').classList.toggle('mediaStatusValidate');
                            });
                        </script>

                    {% endfor %}
                </div>
            {% endif %}
        </div>






        <div class="sectionContainer modoSection" >
            <h3>Signalements</h3>

            <div class="reportsDiv">
                {% for report in reports %}
                    <span>{{ report.reportMotif.text }}, type: {{ report.objectType }}, ancienneté: {{ time_diff(report.creationDate) }} </span>
                {% endfor %}
            </div>

        </div>








        <div class="sectionContainer modoSection" >

            <h3>Mots censurés</h3>
            
            <div class="censuredWordsList">
                {% for censureWord in censureWords %}
                    <div style="display:inline-flex; justify-content:space-around; padding: 5px 0; border-bottom:1px solid rgba(255,255,255,0.2);">
                        <span style="width:100px;">"{{ censureWord.word }}"</span>
                        <span style="width:100px;">{{ time_diff(censureWord.creationDate) }}</span>
                        <pspan style="width:100px;">par {{ censureWord.user.pseudo }}</span>
                        <a href="{{ path('app_deleteCensure', {'id': censureWord.id }) }}">
                            <i class="fa-solid fa-xmark"></i>
                        </a>
                    </div>
                {% endfor %}

            </div>

            {{ form_start(formAddCensoredWord) }}
                <div class="inline" style="position:relative; margin: 5px auto;">
                    {{ form_widget(formAddCensoredWord.word) }} 
                    {{ form_widget(formAddCensoredWord.submit) }}
                </div>
            {{ form_end(formAddCensoredWord) }}

        </div>



        

        








    </div>

{% endblock %}
