{% extends 'base.html.twig' %}

{% block title %}Profil utilisateur{% endblock %}

{% block body %}

    
    <header class="globalBanner" style="background: url('{{ asset('img/banner.jpg') }}' )">
        <a href="{{ path('app_home') }}"><img src="{{ asset('img/logoSquadForge_v2.png') }}" class="logoPng" /></a>
        <nav class="navLine">
            <a href="{{ path('app_games') }}">JEUX</a>
            {% if app.user %}
                <a href="{{ path('app_userGroups') }}" style="white;">TEAMS</a>
                <a href="{{ path('app_showNotifsList') }}">
                    <div style="position:relative; margin-right:10px;">
                        <i class="fa-solid fa-bell notifBell"></i>
                        {# Bulle newNotifCount si > 0#}
                        {% if userNotifCount > 0 %}
                            <span class="newNotifBubbleCount" id="newNotifBubbleCount">{{ userNotifCount }}</span>
                        {% endif %}
                    </div>
                </a>
            {% endif %}
            {% if app.user and "ROLE_MODO" in app.user.roles %}
                <a href="{{ path('app_moderationDashboard') }}">
                    <div style="position:relative; margin-right:10px;">
                        <span>Modération</span>
                        {% if modoNotifCount > 0 %}
                            <span class="newNotifBubbleCount">{{ modoNotifCount }}</span>
                        {% endif %}
                    </div>
                </a>
            {% endif %}
        </nav>
    </header>
    
    {# HeaderSouligne + Bandeau avertissement muted #}
    {% if app.user and app.user.muted and time_diff_future(app.user.endDateStatus) != false %}
        <div class="headerUnderline"></div>
        <div class="mutedBanner">  
            <span><i class="fa-solid fa-circle-exclamation mutedBannerIcon"></i>Vous êtes actuellement réduit au silence <span class="muteEndDate">( fin dans <span class="strongNbr">{{ time_diff_future(app.user.endDateStatus) }}</span> )</span></span>
        </div>
    {% else %}
        <div class="headerUnderline marginBottomHeaderLine"></div>
    {% endif %}



    <div class="main">


        <h2>Espace Modération</h2>


        <div class="sectionContainer modoSection" >

            <h3>Topics en attente</h3>

            {% if lastWaitingTopics|length == 0 %}

                <p class="emptyListMsg">Aucun topic en attente de validation</p>
                
            {% else %}
                        
                {% for topic in lastWaitingTopics %}

                    <div id="topicCard{{ topic.id }}" class="topicCard" style="border-bottom: 4px solid {{ topic.game.color }}; cursor:pointer;">
                        <img class="tinyLogo" src="{{ asset('img/games/tinyLogo/' ~ topic.game.tinyLogo) }}" />
                        <span id="topicTitle{{ topic.id }}" class="topicTitle">{{ topic.title|capitalize }}</span>
                        <span>{{ topic.validated }}</span>
                        <span class="topicCardAuthor">{{ topic.user.pseudo }}</span>
                        <span class="topicCardPublishDate">{{ time_diff(topic.publishDate) }}</span>
                        {% if topic.topicPostsCount == 0 %}
                            <span style="opacity:0.5;">{{ topic.topicPostsCount }} <i class="fa-solid fa-message" style="color:grey;"></i></span>
                        {% else %}
                            <span>{{ topic.topicPostsCount }} <i class="fa-solid fa-message" style="color:{{ topic.game.color }}"></i></span>
                        {% endif %}
                    </div>
                    <div id="topicSubCard{{ topic.id }}" class="topicSubCard notDisplayed">
                        <p>{{ topic.firstMsg }}</p>
                        <div class="mediaApprovalLine">
                            <a href="{{ path('app_validateTopic', {'id': topic.id}) }}">
                                <span class="mediaApproveBtn"><i class="fa-solid fa-check"></i></span>
                            </a>
                            <a href="{{ path('app_refuseTopic', {'id': topic.id}) }}">
                                <span class="mediaRefuseBtn"><i class="fa-solid fa-xmark"></i></span>
                            </a>
                        </div>

                    </div>

                    {# OnClick TopicCard: détails et boutons validation/refus #}
                    <script>
                        document.getElementById('topicCard{{ topic.id }}').addEventListener('click', function() {
                            document.getElementById('topicSubCard{{ topic.id }}').classList.toggle('notDisplayed');
                        });
                    </script>
                {% endfor %}
            {% endif %} 
        </div>




        <div class="sectionContainer modoSection" >

            <h3>Médias en attente</h3>

            {% if lastWaitingMedias|length == 0 %}

                <p class="emptyListMsg">Aucun média en attente de validation</p>

            {% else %}

                <div class="listContainer marginTop mediaList">

                    {% for media in lastWaitingMedias %}

                        <div id="mediaCard{{ media.id }}" class="mediaCard" style="cursor:pointer;">
                            <div class="mediaCardHeader" style="border-bottom: 4px solid {{ media.game.color }}">
                                <img class="tinyLogo" src="{{ asset('img/games/tinyLogo/' ~ media.game.tinyLogo) }}" />
                                <span id="mediaCardTitle{{ media.id }}" class="mediaTitle" style="font-family:'K2D',sans-serif;">{{ media.title|capitalize }}</span>
                                {# <span id="topicStatusValidate{{ media.id }}">{{ media.validated }}</span> #}
                                {# <span>{{ media.user.pseudo }}</span> #}
                                <span class="topicCardPublishDate">{{ time_diff(media.publishDate) }}</span>
                            </div>
                            <img src="{{ asset("img/uploads/" ~ media.url) }}" alt="media" class="mediaImg" />
                        </div>

                        <div id="mediaSubCard{{ media.id }}" class="mediaApprovalLine notDisplayed">
                            <a href="{{ path('app_validateMedia', {'id': media.id}) }}">
                                <span class="mediaApproveBtn"><i class="fa-solid fa-check"></i></span>
                            </a>
                            <a href="{{ path('app_refuseMedia', {'id': media.id}) }}">
                                <span class="mediaRefuseBtn"><i class="fa-solid fa-xmark"></i></span>
                            </a>
                        </div>

                        {# OnClick MediaCard: détails et boutons validation/refus #}
                        <script>
                            document.getElementById('mediaCard{{ media.id }}').addEventListener('click', function() {
                                document.getElementById('mediaSubCard{{ media.id }}').classList.toggle('notDisplayed');
                                document.getElementById('mediaCard{{ media.id }}').classList.toggle('mediaCard');
                                document.getElementById('mediaCardTitle{{ media.id }}').classList.toggle('mediaTitle');
                                // document.getElementById('topicStatusValidate{{ media.id }}').classList.toggle('mediaStatusValidate');
                            });
                        </script>

                    {% endfor %}
                </div>
            {% endif %}
        </div>





        {# Section Signalements/Reports #}
        {# Ajax apercu on clic #}
        <div class="sectionContainer modoSection" >
            <h3>Signalements</h3>

            <div class="reportsDiv">

                {% if reports|length > 0 %}
                
                    {% set index = 0 %}

                    {% for report in reports %}
                    
                        <div id="reportPreviewBtn{{ index }}" class="reportPreviewBtn" onmouseover="document.getElementById('reportPreviewFacticeTxt{{ index }}').style.color = '#ff5656';" onmouseout="document.getElementById('reportPreviewFacticeTxt{{ index }}').style.color = 'white';">

                            <div class="reportDivHeader">
                                <div id="reportPreviewHeader{{ index }}">

                                    {% if report.objectType == "topicPost" or report.objectType == "mediaPost" %}
                                        {% set objectType = "post" %}
                                    {% else %}
                                        {% set objectType = report.objectType %}
                                    {% endif %}
                                    <span id="reportPreviewType{{ index }}" value="{{ report.objectType}}">{{ objectType|capitalize }}</span>

                                    <span id="reportPreviewId{{ index }}" value="{{ report.objectId }}">#{{ report.objectId }}</span>
                                    <br>
                                    <span style="margin-right:7px;">Signalements: <span class="strongNbr">{{ report.nbrReports }}</span></span>
                                    
                                </div>
                                <div id="reportPreviewFactice{{ index }}" class="reportPreviewFactice">
                                    <span id="reportPreviewFacticeTxt{{ index }}" class="reportPreviewFacticeTxt">VOIR</span>
                                </div>
                            </div>

                            {# Partie cachée de la reportCard (Ajax) #}
                            <div id="preview{{ index }}" class="notDisplayed">
                                <div >
                                    <p id="detailText{{ index }}" class="reportCardText"></p>
                                    <img id="detailImg{{ index }}" src="" class="reportDetailImg" >
                                    <div class="reportDateAndAuthorDiv">
                                        <span id="detailPublishDate{{ index }}"></span>
                                        <span id="detailObjectAuthor{{ index }}"></span>
                                    </div>
                                </div>

                                <div id="clickableContainer{{ index }}" class="clickableContainer">

                                    <a href="{{ path('app_removeReports',{'objectType':report.objectType, 'objectId':report.objectId }) }}" class="innocenterBtn">Innocenter</a>

                                    <div>
                                        {# Status author si actuellement muted/banned #}
                                        <div id="authorStatus{{ index }}" style="text-align:center;"></div>

                                        {# Toggle mute/ban modes #}
                                        <div style="display:inline-flex; justify-content:center; width:100%;">
                                            <span id="toggleMute{{ index }}" class="toggleSentence">
                                                <i class="fa-solid fa-volume-xmark"></i>
                                                <span> Mute</span>
                                            </span>
                                            <span id="toggleBan{{ index }}" class="toggleSentence">
                                                <i class="fa-solid fa-ban"></i>
                                                <span> Ban</span>
                                            </span>
                                            <span id="toggleNoPunish{{ index }}" class="toggleSentence sentenceActif">
                                                <i class="fa-solid fa-empty-set"></i>
                                                <span> Aucun</span>
                                            </span>
                                        </div>

                                        {# censure form #}
                                        <form class="reportCardCensureForm" action="{{ path('app_censureObject',{'objectType':report.objectType, 'objectId':report.objectId }) }}" method="post">

                                            {# Mode ban/mute JS #}
                                            <input id="sentenceType{{ index }}" type="hidden" name="mode" value="void" />

                                            <br> 

                                            {# Date fin de ban/mute si mode != aucun #}
                                            <div id="sentenceEndDateDiv{{ index }}" style="width:100%; text-align:center;">
                                                <label id="inputPunishEndDateLabel{{ index }}" for="endDate">Aucune pénalité</label>
                                                <input id="inputPunishEndDate{{ index }}" name="endDate" type="date" min="" value="" disabled>
                                            </div>

                                            <br>

                                            {% if report.objectType == "topicPost" or report.objectType == "mediaPost" %}
                                                {% set objectType = "post" %}
                                            {% else %}
                                                {% set objectType = report.objectType %}
                                            {% endif %}

                                            <input type="submit" value="Censurer le {{ objectType }}" class="censureBtn"></input>
                                        </form>

                                        {# Toggle mute/ban modes #}
                                        <script>

                                        </script>

                                    </div>
                                </div>
                            </div>
                        </div>

                        {% set index = index + 1 %}
                    {% endfor %}

                {% else %}

                    <p class="emptyListMsg">Aucun signalement en attente</p>
                    
                {% endif %}
            </div>

        </div>



        {# Ajax Preview cible reportCard + btn décisions #}
        <script>

                {% set index = 0 %}
                {% for report in reports %}

                    // DateFinSentence minimum et defaut = aujourd'hui (backend:TODO)
                    var now = new Date();
                    var timezoneOffset = now.getTimezoneOffset() * 60000; 
                    var today = new Date(now - timezoneOffset).toISOString().split('T')[0];
                    var tomorrow = new Date(now.getTime() + 86400000);
                    var tomorrowFormatted = tomorrow.toISOString().split('T')[0];

                    document.getElementById('inputPunishEndDate{{ index }}').value = tomorrowFormatted;
                    document.getElementById('inputPunishEndDate{{ index }}').setAttribute("min", tomorrowFormatted);

                    // Toggle Affichage du détail de l'objet signalé (+ boutons décisions)
                    document.getElementById('reportPreviewBtn{{ index }}').addEventListener('click', function() {

                        document.getElementById('preview{{ index }}').classList.toggle('notDisplayed');
                        document.getElementById('reportPreviewFactice{{ index }}').classList.toggle('notDisplayed');

                        // Marche mais pb à cause du "innerHTML +=" dans responseAjax
                        // document.querySelectorAll('.nbrReportsDetail{{ index}}').forEach(element => {
                        //     element.classList.toggle('notDisplayed');
                        // });

                        if(!document.getElementById('preview{{ index }}').classList.contains('notDisplayed')) {

                            // (Z-index inputDainputPunishEndDate marche pas) Fix:
                            document.getElementById('clickableContainer{{ index }}').addEventListener('click', function(event) {
                                event.stopPropagation();
                            });

                            // Toggle du mode Ban/Mute
                            document.getElementById('toggleMute{{ index }}').addEventListener('click', function() {
                                document.getElementById('sentenceType{{ index }}').value = "mute";
                                document.getElementById('inputPunishEndDateLabel{{ index }}').innerText = "Fin du mute: ";
                                document.getElementById('sentenceEndDateDiv{{ index }}').style.display = 'block';
                                document.getElementById('inputPunishEndDate{{ index }}').disabled = false;

                                document.getElementById('toggleNoPunish{{ index }}').classList.remove('sentenceActif');
                                document.getElementById('toggleBan{{ index }}').classList.remove('sentenceActif');
                                document.getElementById('toggleMute{{ index }}').classList.add('sentenceActif');
                            });
                            document.getElementById('toggleBan{{ index }}').addEventListener('click', function() {
                                document.getElementById('sentenceType{{ index }}').value = "ban";
                                document.getElementById('inputPunishEndDateLabel{{ index }}').innerText = "Fin du ban: ";
                                document.getElementById('sentenceEndDateDiv{{ index }}').style.display = 'block';
                                document.getElementById('inputPunishEndDate{{ index }}').disabled = false;

                                document.getElementById('toggleNoPunish{{ index }}').classList.remove('sentenceActif');
                                document.getElementById('toggleBan{{ index }}').classList.add('sentenceActif');
                                document.getElementById('toggleMute{{ index }}').classList.remove('sentenceActif');
                            });
                            document.getElementById('toggleNoPunish{{ index }}').addEventListener('click', function() {
                                document.getElementById('sentenceType{{ index }}').value = "void";
                                document.getElementById('inputPunishEndDateLabel{{ index }}').innerText = "Aucune pénalité";
                                document.getElementById('inputPunishEndDate{{ index }}').disabled = true;

                                document.getElementById('toggleNoPunish{{ index }}').classList.add('sentenceActif');
                                document.getElementById('toggleBan{{ index }}').classList.remove('sentenceActif');
                                document.getElementById('toggleMute{{ index }}').classList.remove('sentenceActif');
                            });


                            // Récup des id et type de l'objet
                            var objectType = document.getElementById('reportPreviewType{{ index }}').getAttribute('value');
                            var objectId = document.getElementById('reportPreviewId{{ index }}').getAttribute('value');

                            // Ajax:
                            $.ajax({
                                url: '/reportDetails/' + objectType + '/' + objectId,
                                type: 'GET',
                                success: function(response) {

                                    // Détails des reports (par motif)
                                    document.getElementById('reportPreviewHeader{{ index }}').innerHTML += "(";

                                    Object.entries(response.nbrReportsPerMotifArray).forEach(([key, value]) => {
                                        document.getElementById('reportPreviewHeader{{ index }}').innerHTML += "<span class='nbrReportsDetail{{ index }}' style='margin: 0 5px;'>" + `${key}:` + "<span class='strongNbr'> " + `${value}` + "</span></span>";
                                    });

                                    document.getElementById('reportPreviewHeader{{ index }}').innerHTML += ")";


                                    switch (response.objectType) {
                                        case "media":
                                            document.getElementById('detailText{{ index }}').innerText = response.object["title"];
                                            document.getElementById('detailPublishDate{{ index }}').innerText = publishDateDelay(response.object["date"]["date"]);
                                            // document.getElementById('detailGame{{ index }}').innerText = response.object["game"];
                                            document.getElementById('detailObjectAuthor{{ index }}').innerHTML = "par " + response.object["author"] + " (Censures: " + "<span class='strongNbr'>" + response.object["authorNbrCensures"] + "</span>)";
                                            document.getElementById('detailImg{{ index }}').src = "/img/uploads/" + response.object["img"];
                                            break;

                                        case "topic":
                                            document.getElementById('detailText{{ index }}').innerText = response.object["title"];
                                            document.getElementById('detailPublishDate{{ index }}').innerText = publishDateDelay(response.object["date"]["date"]);
                                            // document.getElementById('detailGame{{ index }}').innerText = response.object["game"];
                                            document.getElementById('detailObjectAuthor{{ index }}').innerHTML = "par " + response.object["author"] + " (Censures: " + "<span class='strongNbr'>" + response.object["authorNbrCensures"] + "</span>)";
                                            break;

                                        case "topicPost":
                                            document.getElementById('detailText{{ index }}').innerText = response.object["title"];
                                            document.getElementById('detailPublishDate{{ index }}').innerText = publishDateDelay(response.object["date"]["date"]);
                                            // document.getElementById('detailGame{{ index }}').innerText = response.object["game"];
                                            document.getElementById('detailObjectAuthor{{ index }}').innerHTML = "par " + response.object["author"] + " (Censures: " + "<span class='strongNbr'>" + response.object["authorNbrCensures"] + "</span>)";
                                            break;

                                        case "mediaPost":
                                            document.getElementById('detailText{{ index }}').innerText = response.object["title"];
                                            document.getElementById('detailPublishDate{{ index }}').innerText = publishDateDelay(response.object["date"]["date"]);
                                            // document.getElementById('detailGame{{ index }}').innerText = response.object["game"];
                                            document.getElementById('detailObjectAuthor{{ index }}').innerHTML = "par " + response.object["author"] + " (Censures: " + "<span class='strongNbr'>" + response.object["authorNbrCensures"] + "</span>)";
                                            break;
                                    
                                        default:
                                            break;
                                    }

                                    // Récupération du status Author si actif (today < endDateStatus)
                                    if(response.authorStatus == "muted" && response.authorDateEndStatus > today) {
                                        document.getElementById("authorStatus{{ index }}").innerHTML = "<span style='position:relative; top:5px;'>Status: <span class='strongNbr'>muted</span> (" + futureEndDateStatus(response.authorDateEndStatus.date) + ")</span>";
                                    }
                                    else if(response.authorStatus == "banned" && response.authorDateEndStatus > today)  {
                                        document.getElementById("authorStatus{{ index }}").innerHTML = "<span style='position:relative; top:5px;'>Status: <span class='strongNbr'>banned</span> (" + futureEndDateStatus(response.authorDateEndStatus.date) + ")</span>";
                                    }
                                
                                },
                                error: function(xhr, status, error) {
                                    window.FlashMessage.error('Erreur lors du chargement du signalement');
                                }
                            });

                        }


                    });
                    {% set index = index + 1 %}
                {% endfor %}


                // Transfo simmple dates -> il y a ...
                function publishDateDelay(dateSqlToCompare) {

                    var dateActuelle = new Date();
                    var dateComparaison = new Date(dateSqlToCompare);
                    var difference = dateActuelle - dateComparaison;
                    // milisecondes -> jour
                    var differenceEnJours = Math.floor(difference / (1000 * 60 * 60 * 24));

                    var phrase;
                    if (differenceEnJours === 0) {
                        phrase = "publié aujourd'hui";
                    } else if (differenceEnJours === 1) {
                        phrase = "publié hier";
                    } else {
                        phrase = "publié il y a " + differenceEnJours + " jours";
                    }

                    return phrase;
                }


                // Transfo simmple dates -> nbr de jours restants
                function futureEndDateStatus(dateSqlToCompare) {

                    var dateActuelle = new Date();
                    var dateComparaison = new Date(dateSqlToCompare);
                    var difference =  dateComparaison - dateActuelle;
                    // milisecondes -> jour
                    var differenceEnJours = Math.floor(difference / (1000 * 60 * 60 * 24));

                    var phrase;
                    if (differenceEnJours === 0) {
                        phrase = "Fin aujourd'hui";
                    } else if (differenceEnJours === 1) {
                        phrase = "Fin demain";
                    } else {
                        phrase = "Fin dans " + differenceEnJours + " jours";
                    }

                    return phrase;
                }

        </script>









        <div class="sectionContainer modoSection" >

            <h3>Mots censurés</h3>
            
            <div class="censuredWordsList">
                {% for censureWord in censureWords %}
                    <div style="display:inline-flex; justify-content:space-around; padding: 5px 0; border-bottom:1px solid rgba(255,255,255,0.2);">
                        <span style="width:100px; font-family:'K2D', sans-serif;">"{{ censureWord.word }}"</span>
                        <span style="width:100px;">{{ time_diff(censureWord.creationDate) }}</span>
                        <pspan style="width:100px;">par {{ censureWord.user.pseudo }}</span>
                        <a href="{{ path('app_deleteCensure', {'id': censureWord.id }) }}">
                            <i class="fa-solid fa-xmark"></i>
                        </a>
                    </div>
                {% endfor %}

            </div>

            {{ form_start(formAddCensoredWord) }}
                <div class="inline" style="position:relative; margin: 5px auto;">
                    {{ form_widget(formAddCensoredWord.word) }} 
                    {{ form_widget(formAddCensoredWord.submit) }}
                </div>
            {{ form_end(formAddCensoredWord) }}

        </div>



        

        








    </div>

{% endblock %}
