<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# META description SEO #}
        <meta name="description" content="Créez ou rejoignez une team amateur ou esportive ! Partagez votre contenu ou du gameplay, et plus encore ..." />
        <link rel="icon" type="image/jpg" href="{{ asset('img/favicon.ico') }}" />
        <meta name="keywords" content="Gaming, esport, Teams, Games, Forum">
        <meta name="author" content="Basile Kuntz">
        {# Font Awesome: #}
        <script src="https://kit.fontawesome.com/698848973e.js" crossorigin="anonymous"></script>
        {# Jquery: #}
        <script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
        {# Bootstrap: #}
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
        {# Font 'Julius Sans One' #}
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap" rel="stylesheet">
        {# Font K2D #}
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=K2D:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">
        {# Library "Giffer" player/stop-autoPlay(https://github.com/krasimir/gifffer) #}
        <script type="text/javascript" src="{{ asset('js/gifffer.min.js') }}"></script>
        {# ScrollReveal JS #}
        <script src="https://unpkg.com/scrollreveal"></script>
        {# Flash.js (popUp msg) #}
        <script src="{{ asset('flash.js/flash.min.js') }}"></script>
        {# Splide JS (slider/caroussel landingPage) #}
        <script src="{{ asset('js/splide.min.js') }}"></script>
        <link rel="stylesheet" href="{{ asset('css/splide.min.css') }}">
        {# FullCalendar #}
        <script src="{{ asset('js/fullCalendar.global.min.js') }}"></script>
        {# FlatPickr (= DateTime picker UX) #}
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
        <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
        {# fullpage.js (onScroll nav section smooth) #}
        <link rel="stylesheet" href="{{ asset('css/aos.css') }}">
        <script src="{{ asset('js/aos.js') }}"></script>

        {# CSS #}
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/style.css') }}">
            <link rel="stylesheet" href="{{ asset('flash.js/flash.min.css') }}">
            <link rel="stylesheet" href="{{ asset('css/phone.css') }}">
        {% endblock %}

        {# JS #}
        {% block javascripts %}
            <script src="{{ asset('js/script.js') }}"></script>
        {% endblock %}

        {# Tarte au citron #}
        <script src="{{asset('tarteaucitron.js/tarteaucitron.js') }}"></script>

        <script type="text/javascript">
            tarteaucitron.init({
            "privacyUrl": "/privacy", /* Privacy policy url */
            "bodyPosition": "bottom", /* or top to bring it as first element for accessibility */

            "hashtag": "#tarteaucitron", /* Open the panel with this hashtag */
            "cookieName": "tarteaucitron", /* Cookie name */
        
            "orientation": "bottom", /* Banner position (top - bottom) */
        
            "groupServices": false, /* Group services by category */
            "showDetailsOnClick": true, /* Click to expand the description */
            "serviceDefaultState": "wait", /* Default state (true - wait - false) */
                            
            "showAlertSmall": false, /* Show the small banner on bottom right */
            "cookieslist": false, /* Show the cookie list */
                            
            "closePopup": false, /* Show a close X on the banner */

            "showIcon": true, /* Show cookie icon to manage cookies */
            //"iconSrc": "", /* Optionnal: URL or base64 encoded image */
            "iconPosition": "BottomRight", /* BottomRight, BottomLeft, TopRight and TopLeft */

            "adblocker": false, /* Show a Warning if an adblocker is detected */
                            
            "DenyAllCta" : true, /* Show the deny all button */
            "AcceptAllCta" : true, /* Show the accept all button when highPrivacy on */
            "highPrivacy": true, /* HIGHLY RECOMMANDED Disable auto consent */
                            
            "handleBrowserDNTRequest": false, /* If Do Not Track == 1, disallow all */

            "removeCredit": false, /* Remove credit link */
            "moreInfoLink": true, /* Show more info link */

            "useExternalCss": false, /* If false, the tarteaucitron.css file will be loaded */
            "useExternalJs": false, /* If false, the tarteaucitron.js file will be loaded */

            //"cookieDomain": ".my-multisite-domaine.fr", /* Shared cookie for multisite */
                            
            "readmoreLink": "", /* Change the default readmore link */

            "mandatory": true, /* Show a message about mandatory cookies */
            "mandatoryCta": true /* Show the disabled accept button when mandatory on */
            });
            (tarteaucitron.job = tarteaucitron.job || []).push('twitch');
            tarteaucitron.user.googleFonts = 'families';
            (tarteaucitron.job = tarteaucitron.job || []).push('googlefonts');
        </script>
    </head>



    <body>

        <div class="authenticationDiv" id="authenticationDiv">
            {% if app.user %}
                <a href="{{ path('app_user') }}" class="profil" id="profilBtnNav"><i class="fa-solid fa-user profilIcon"></i>  {{ app.user.pseudo|capitalize }}</a>
                <a href="{{ path('app_logout') }}" class="decoBtn"><i class="fa-solid fa-power-off"></i></a>
            {% else %}
                <a href="{{ path('app_login') }}" class="profil" style="border-right:2px solid #80808061">Connexion</a>
                <a href="{{ path('app_register') }}" style="font-size:0.75em; color:white; padding:5px 14px 5px 14px">S'inscrire</a>
            {% endif %}
        </div>


        {% block body %}
        {% endblock %}

        {# Messages Falsh Symfony Controller #}
        {% for type, messages in app.flashes() %}
            {% for message in messages %}
                
                    {% if type == "success" %}
                        <script>
                            window.FlashMessage.success("{{ message }}");
                        </script>
                    {% elseif type == "error" %}
                        <script>
                            window.FlashMessage.error("{{ message }}");
                        </script>
                    {% endif %}
                    
            {% endfor %}
        {% endfor %}


        <script type="text/javascript">
        tarteaucitron.user.googleFonts = 'families';
        (tarteaucitron.job = tarteaucitron.job || []).push('googlefonts');
        </script>


        <footer>
            
            <span>SquadForge</span>
        </footer>

    </body>


</html>
