{% extends 'base.html.twig' %}

{% block title %}Topics{% endblock %}

{% block body %}


    <header class="gameHeader" style="background: url('{{ asset('img/games/banner/' ~ gameFrom.banner ) }}' )">
        <a href="{{ path('app_home') }}"><img src="{{ asset('img/games/headerSiteLogo/' ~ gameFrom.siteLogo ) }}" class="logoPng" id="logoPng" /></a>
        <nav class="navLine">
            <a href="{{ path('app_games') }}" style="color:{{ gameFrom.fontColor }};">Jeux</a>
            {% if app.user %}
                <a href="{{ path('app_userGroups') }}" style="color:{{ gameFrom.fontColor }};">TEAMS</a>
                <a href="{{ path('app_showNotifsList') }}">
                    <div style="position:relative; margin-right:10px;">
                        <i class="fa-solid fa-bell notifBell"></i>
                        {# Bulle newNotifCount si > 0#}
                        {% if userNotifCount > 0 %}
                            <span class="newNotifBubbleCount" id="newNotifBubbleCount">{{ userNotifCount }}</span>
                        {% endif %}
                    </div>
                </a>
            {% endif %}
            {% if app.user and "ROLE_MODO" in app.user.roles %}
                <a href="{{ path('app_moderationDashboard') }}" style="color:{{ gameFrom.fontColor }};">
                    <div style="position:relative; margin-right:10px;">
                        <span>Modération</span>
                        {% if modoNotifCount > 0 %}
                            <span class="newNotifBubbleCount">{{ modoNotifCount }}</span>
                        {% endif %}
                    </div>
                </a>
            {% endif %}
        </nav>
        <a href="{{ path('app_game', {'id': gameFrom.id }) }}"><h2 class="headerGameTitle" style="border-right:10px solid {{ gameFrom.color }}; border-bottom:2px solid {{ gameFrom.color }};">{{ gameFrom.title }}</h2></a>
    </header>

    {# HeaderSouligne + Bandeau avertissement muted #}
    {% if app.user and app.user.muted and time_diff_future(app.user.endDateStatus) != false %}
        <div class="headerUnderline" style="background-color: {{ gameFrom.color }}"></div>
        <div class="mutedBanner">  
            <span><i class="fa-solid fa-circle-exclamation mutedBannerIcon"></i>Vous êtes actuellement réduit au silence <span class="muteEndDate">( fin dans <span class="strongNbr">{{ time_diff_future(app.user.endDateStatus) }}</span> )</span></span>
        </div>
    {% else %}
        <div class="headerUnderline marginBottomHeaderLine" style="background-color: {{ gameFrom.color }}"></div>
    {% endif %}


    <div class="main">

        {# Fil d'Ariane #}
        <p class="breadcrumbs"><a class="underlineLink" href="{{ path('app_games') }}">Jeux</a> - <a class="underlineLink" href="{{ path('app_game', {'id': gameFrom.id }) }}">{{ gameFrom.title }}</a> - Topics</p>

        <h2>TOPICS</h2>

        {# Boutons toggle entrer list des topicsGlobaux et ceux du jeu #}
        <div style="display:inline-flex; width:100%; justify-content:center;">
            <h3 id="allTopicsToggle" class="toggleTopicFilter">TOUS <span class="gameListCount">({{ allTopicsCount }})</span></h3>
            <h3 id="gameTopicsToggle" class="toggleTopicFilter" style="background-color:{{ gameFrom.color }}">{{ gameFrom.title }} <span class="gameListCount">({{ gameTopicsCount }})</span></h3>
        </div>

        {# Liste topics globaux  #}
        <div id="allTopicsDiv" class="listContainer topicList marginTop" style="display:none;">
            {% for topic in allTopicsDesc %}
                <a href="{{ path('app_topicDetail', {'id': topic.id}) }}">
                    <div class="topicCardGlobal" style="border-bottom: 4px solid {{ topic.game.color }}">
                        <img class="tinyLogo" src="{{ asset('img/games/tinyLogo/' ~ topic.game.tinyLogo) }}" />
                        <span class="topicTitle">{{ topic.title|capitalize }}</span>
                        <div class="topicCardSubInfos">
                            {# <span>{{ topic.status }}</span>
                            <span class="topicCardAuthor">{{ topic.user.pseudo }}</span> #}
                            <span class="topicCardPublishDate">{{ time_diff(topic.publishDate) }}</span>
                            {% if topic.topicPostsCount == 0 %}
                                <span style="opacity:0.5;">{{ topic.topicPostsCount }} <i class="fa-solid fa-message" style="color:grey;"></i></span>
                            {% else %}
                                <span>{{ topic.topicPostsCount }} <i class="fa-solid fa-message" style="color:{{ topic.game.color }}"></i></span>
                            {% endif %}
                        </div>
                    </div>
                </a>
            {% endfor %}
        </div>

        {# Liste topics du jeu  #}
        <div id="listContainer" class="listContainer topicList marginTop">
            {% for topic in gameTopicsDesc %}
                <a href="{{ path('app_topicDetail', {'id': topic.id}) }}">
                    <div class="topicCardGlobal" style="border-bottom: 4px solid {{ topic.game.color }}">
                        <img class="tinyLogo" src="{{ asset('img/games/tinyLogo/' ~ topic.game.tinyLogo) }}" />
                        <span class="topicTitle">{{ topic.title|capitalize }}</span>
                        <div class="topicCardSubInfos">
                            {# <span>{{ topic.status }}</span>
                            <span class="topicCardAuthor">{{ topic.user.pseudo }}</span> #}
                            <span class="topicCardPublishDate">{{ time_diff(topic.publishDate) }}</span>
                            {% if topic.topicPostsCount == 0 %}
                                <span style="opacity:0.5;">{{ topic.topicPostsCount }} <i class="fa-solid fa-message" style="color:grey;"></i></span>
                            {% else %}
                                <span>{{ topic.topicPostsCount }} <i class="fa-solid fa-message" style="color:{{ topic.game.color }}"></i></span>
                            {% endif %}
                        </div>
                    </div>
                </a>
            {% endfor %}
        </div>

    </div>


    <script>

        // Changement de liste affiché selon l'option de filtre choisie
        // Si from game: filter Game par defaut
        window.onload = function() {

            document.querySelector('#allTopicsToggle').addEventListener('click', function() {
                
                // Style des boutons toggleFilter
                document.querySelector('#allTopicsToggle').style.backgroundColor = "#131313";
                document.querySelector('#allTopicsToggle').style.color = "white";
                document.querySelector('#gameTopicsToggle').style.backgroundColor = "white";

                // Switch display entre les 2 listes de Topics
                document.querySelector('#listContainer').style.display = "none";
                document.querySelector('#allTopicsDiv').style.display = "block";
            })

            document.querySelector('#gameTopicsToggle').addEventListener('click', function() {
                
                // Style des boutons toggleFilter
                document.querySelector('#allTopicsToggle').style.backgroundColor = "white";
                document.querySelector('#allTopicsToggle').style.color = "black";
                document.querySelector('#gameTopicsToggle').style.backgroundColor = "{{ gameFrom.color }}";

                // Switch display entre les 2 listes de Topics
                document.querySelector('#allTopicsDiv').style.display = "none";
                document.querySelector('#listContainer').style.display = "block";
            })

        }
    </script>

{% endblock %}
