{% extends 'base.html.twig' %}
{% block title %}Topics du jeu {{ gameFrom.title }}{% endblock %}
{% block meta_description %}
    Parcourez les topics du jeu {{ gameFrom.title }}
{% endblock %}

{% block body %}


    <header class="gameHeader" style="background: url('{{ asset('img/games/banner/' ~ gameFrom.banner ) }}' )">
        <a href="{{ path('app_home') }}"><img src="{{ asset('img/games/headerSiteLogo/' ~ gameFrom.siteLogo ) }}" class="logoPng" id="logoPng" alt='bearded dwarf forging a sword above "SquadForge" title' /></a>
        <nav id="navLine" class="navLine">
            <span id="closeBurgerMobile"><i class="fa-solid fa-xmark"></i></span>
            <a href="{{ path('app_home') }}" class="homeNav"><i class="fa-solid fa-house"></i></a>
            <a href="{{ path('app_games') }}" class="gamesNav caps navActive" style="background-color: {{ gameFrom.color }}">jeux</a>
            {% if app.user %}
                <a href="{{ path('app_userGroups') }}" class="teamsNav caps">teams</a>
                <a href="{{ path('app_showNotifsList') }}" class="notifsNav" style="padding:0;">
                    <div class="navNotifDiv">
                        <i class="fa-solid fa-bell notifBell"></i>
                        {% if userNotifCount > 0 %}
                            <span class="newNotifBubbleCount bubleNotif" id="newNotifBubbleCount">{{ userNotifCount }}</span>
                        {% endif %}
                    </div>
                </a>
            {% else %}
                <a href="{{ path('app_allGroupList') }}" class="teamsNav caps">teams</a>
            {% endif %}
            {% if app.user and "ROLE_MODO" in app.user.roles %}
            
                <a href="{{ path('app_moderationDashboard') }}" id="modoNav" class="modoNav">
                    <div class="modoNavSubDiv">
                        <span>Modération</span>
                        {% if modoNotifValidationCount > 0 %}
                            <span class="newNotifBubbleCount bubleModo1">{{ modoNotifValidationCount }}</span>
                        {% endif %}
                        {% if modoNotifReportCount > 0 %}
                            <span class="newNotifBubbleCount bubleModo2">{{ modoNotifReportCount }}</span>
                        {% endif %}
                    </div>
                </a>

                <script>
                    // Ajout d'espace libre sur l'onglet Nav "Modération" si bulles (car bulles absolutes)
                    var paddingRightOnglet = 0;
                    if({{modoNotifValidationCount}} > 0) {
                        paddingRightOnglet += 17;
                    }
                    if({{modoNotifReportCount}} > 0) {
                        paddingRightOnglet += 17;
                    }
                    document.getElementById('modoNav').style.paddingRight = paddingRightOnglet + "px";
                </script>

            {% endif %}

            {# Profil + deco #}
            <div id="profilBurgerMobile">
                {% if app.user %}
                    <a href="{{ path('app_user') }}" class="profil" id="profilBtnNav"><i class="fa-solid fa-user profilIcon"></i>  {{ app.user.pseudo|capitalize }}</a>
                    <a href="{{ path('app_logout') }}" class="decoBtn"><i class="fa-solid fa-power-off decoBtnMobile"></i></a>
                {% else %}
                    <a href="{{ path('app_login') }}" class="profil" id="loginBtnNav" style="border-right:2px solid #80808061">Connexion</a>
                    <a href="{{ path('app_register') }}" class="profil" id="registerBtnNav" style="border-bottom-left-radius:0px;">S'inscrire</a>
                {% endif %}
            </div>

        </nav>

        <a href="{{ path('app_game', {'slug': gameFrom.slug }) }}"><h2 id="headerGameTitle" class="headerGameTitle" style="border-right:10px solid {{ gameFrom.color }}; border-bottom:2px solid {{ gameFrom.color }};">{{ gameFrom.title }}</h2></a>
    
        {# Show menu Burger (mobile) #}
        <span id="showBurgerMenu"><i class="fa-solid fa-bars"></i></span>
        
    </header>

    {# HeaderSouligne + Bandeau avertissement muted #}
    {% if app.user and app.user.muted and time_diff_future(app.user.endDateStatus) != false %}
        <div class="headerUnderline" style="background-color: {{ gameFrom.color }}"></div>
        <div class="mutedBanner">  
            <span><i class="fa-solid fa-circle-exclamation mutedBannerIcon"></i>Vous êtes actuellement réduit au silence <span class="muteEndDate">( fin dans <span class="strongNbr">{{ time_diff_future(app.user.endDateStatus) }}</span> )</span></span>
        </div>
    {% else %}
        <div class="headerUnderline marginBottomHeaderLine" style="background-color: {{ gameFrom.color }}"></div>
    {% endif %}


    <main class="main">

        {# Fil d'Ariane #}
        <p class="breadcrumbs">
            <a class="underlineLink" href="{{ path('app_games') }}">Jeux</a>
            <i class="fa-solid fa-angle-right arianeArrow"></i>
            <a class="underlineLink" href="{{ path('app_game', {'slug': gameFrom.slug }) }}">{{ gameFrom.title }}</a>
            <i class="fa-solid fa-angle-right arianeArrow"></i>
            <span>Topics</span>
        </p>

        <section>

            <header>
                <h3 class="gameSubTitle noMarginBottom" style="background-color:{{ gameFrom.color }}">
                    Topics
                    <span class="gameListCount">&nbsp;({{ gameTopicsCount }})</span>
                </h3>

                {# Boutons toggle entrer list des topicsGlobaux et ceux du jeu #}
                <div style="display:inline-flex; width:100%; justify-content:center;">
                    <h3 id="allTopicsToggle" class="toggleTopicFilter">TOUS <span class="gameListCount">({{ allTopicsCount }})</span></h3>
                    <h3 id="gameTopicsToggle" class="toggleTopicFilter" style="background-color:{{ gameFrom.color }}">{{ gameFrom.title }} <span class="gameListCount">({{ gameTopicsCount }})</span></h3>
                </div>
            </header>

            {# Liste topics globaux  #}
            <section id="allTopicsDiv" class="listContainer topicList marginTop" style="display:none;">
                {% for topic in allTopicsDesc %}
                    <a href="{{ path('app_topicDetail', {'slug': topic.slug}) }}">
                        <article class="topicCardGlobal" style="border-bottom: 4px solid {{ topic.game.color }}">
                            <img class="tinyLogo" src="{{ asset('img/games/tinyLogo/' ~ topic.game.tinyLogo) }}" alt="logo du jeu {{ topic.game.title }}" />
                            <span class="topicTitle">{{ topic.title|capitalize }}</span>
                            <div class="topicCardSubInfos">
                                <span class="topicCardPublishDate">{{ time_diff(topic.publishDate) }}</span>
                                {% if topic.topicPostsCount == 0 %}
                                    <span style="opacity:0.5;">{{ topic.topicPostsCount }} <i class="fa-solid fa-message msgIconColor" style="color:#1da8b7d4;"></i></span>
                                {% else %}
                                    <span>{{ topic.topicPostsCount }} <i class="fa-solid fa-message msgIconColor" style="color:#1da8b7d4;"></i></span>
                                {% endif %}
                            </div>
                        </article>
                    </a>
                {% endfor %}
            </section>

            {# Liste topics du jeu  #}
            <section id="listContainer" class="listContainer topicList marginTop">
                {% for topic in gameTopicsDesc %}
                    <a href="{{ path('app_topicDetail', {'slug': topic.slug}) }}">
                        <article class="topicCardGlobal" style="border-bottom: 4px solid {{ topic.game.color }}">
                            <img class="tinyLogo" src="{{ asset('img/games/tinyLogo/' ~ topic.game.tinyLogo) }}" alt="logo du jeu {{ topic.game.title }}" />
                            <span class="topicTitle">{{ topic.title|capitalize }}</span>
                            <div class="topicCardSubInfos">
                                <span class="topicCardPublishDate">{{ time_diff(topic.publishDate) }}</span>
                                {% if topic.topicPostsCount == 0 %}
                                    <span style="opacity:0.5;">{{ topic.topicPostsCount }} <i class="fa-solid fa-message msgIconColor" style="color:#1da8b7d4;"></i></span>
                                {% else %}
                                    <span>{{ topic.topicPostsCount }} <i class="fa-solid fa-message msgIconColor" style="color:#1da8b7d4;"></i></span>
                                {% endif %}
                            </div>
                        </article>
                    </a>
                {% endfor %}
            </section>

        </section>

    </main>


    <script>

        // Changement de liste affiché selon l'option de filtre choisie
        // Si from game: filter Game par defaut
        window.onload = function() {

            document.querySelector('#allTopicsToggle').addEventListener('click', function() {
                
                // Style des boutons toggleFilter
                document.querySelector('#allTopicsToggle').style.backgroundColor = "#131313";
                document.querySelector('#allTopicsToggle').style.color = "white";
                document.querySelector('#gameTopicsToggle').style.backgroundColor = "white";

                // Switch display entre les 2 listes de Topics
                document.querySelector('#listContainer').style.display = "none";
                document.querySelector('#allTopicsDiv').style.display = "block";
            })

            document.querySelector('#gameTopicsToggle').addEventListener('click', function() {
                
                // Style des boutons toggleFilter
                document.querySelector('#allTopicsToggle').style.backgroundColor = "white";
                document.querySelector('#allTopicsToggle').style.color = "black";
                document.querySelector('#gameTopicsToggle').style.backgroundColor = "{{ gameFrom.color }}";

                // Switch display entre les 2 listes de Topics
                document.querySelector('#allTopicsDiv').style.display = "none";
                document.querySelector('#listContainer').style.display = "block";
            })

        }
    </script>


    {# // Adaptation couleur borderBottom HeaderFixed #}
    <script>
        {% if app.user %}
             document.getElementsByClassName('profilIcon')[0].style.color = "{{gameFrom.color}}";
        {% endif %}

        if (document.getElementById('landingPageBool') == null) {
            window.addEventListener('scroll', () => {
                if (window.scrollY > 0) {
                    if(document.getElementsByClassName('headerFixed')[0] !== null) {
                        document.getElementsByClassName('headerFixed')[0].style.borderColor = "{{gameFrom.color}}";
                    }
                }
            })
        }
    </script>

{% endblock %}
