{% extends 'base.html.twig' %}

{% block title %}Topics{% endblock %}

{% block body %}


    <header class="gameHeader" style="background: url('{{ asset('img/games/banner/' ~ gameFrom.banner ) }}' )">
        <a href="{{ path('app_home') }}"><img src="{{ asset('img/logoSquadForge_White_Rogned.png') }}" class="logoPng" id="logoPng" /></a>
        <nav>
            <a href="{{ path('app_games') }}" style="color:{{ gameFrom.fontColor }};">Jeux</a>
        </nav>
        <a href="{{ path('app_game', {'id': gameFrom.id }) }}"><h2 class="headerGameTitle"  style="border-right:15px solid {{ gameFrom.color }};">{{ gameFrom.title }}</h2></a>
    </header>
    <div class="headerUnderline" style="background-color: {{ gameFrom.color }}"></div>


    <div class="main">

        <p><a class="underlineLink" href="{{ path('app_games') }}">Jeux</a> - <a class="underlineLink" href="{{ path('app_game', {'id': gameFrom.id }) }}">{{ gameFrom.title }}</a> - Topics</p>

        <h2>TOPICS</h2>

        {# Boutons toggle entrer list des topicsGlobaux et ceux du jeu #}
        <div style="display:inline-flex; width:100%; justify-content:center;">
            <h3 id="allTopicsToggle" class="toggleTopicFilter">TOUS <span class="gameListCount">({{ allTopicsCount }})</span></h3>
            <h3 id="gameTopicsToggle" class="toggleTopicFilter" style="background-color:{{ gameFrom.color }}">{{ gameFrom.title }} <span class="gameListCount">({{ gameTopicsCount }})</span></h3>
        </div>

        {# Liste topics globaux  #}
        <div id="allTopicsDiv" class="listContainer marginTop marginBottom" style="display:none;">
            {% for topic in allTopicsDesc %}
                <a href="{{ path('app_topicDetail', {'id': topic.id}) }}">
                    <div class="topicCard" style="border-bottom: 4px solid {{ topic.game.color }}">
                        <img class="tinyLogo" src="{{ asset('img/games/tinyLogo/' ~ topic.game.tinyLogo) }}" />
                        <span class="topicTitle">{{ topic.title|capitalize }}</span>
                        <span>{{ topic.status }}</span>
                        <span>{{ topic.user.pseudo }}</span>
                        <span class="topicCardPublishDate">{{ time_diff(topic.publishDate) }}</span>
                    </div>
                </a>
            {% endfor %}
        </div>

        {# Liste topics du jeu  #}
        <div id="listContainer" class="listContainer marginTop marginBottom">
            {% for topic in gameTopicsDesc %}
                <a href="{{ path('app_topicDetail', {'id': topic.id}) }}">
                    <div class="topicCard" style="border-bottom: 4px solid {{ topic.game.color }}">
                        <img class="tinyLogo" src="{{ asset('img/games/tinyLogo/' ~ topic.game.tinyLogo) }}" />
                        <span class="topicTitle">{{ topic.title|capitalize }}</span>
                        <span>{{ topic.status }}</span>
                        <span>{{ topic.user.pseudo }}</span>
                        <span class="topicCardPublishDate">{{ time_diff(topic.publishDate) }}</span>
                    </div>
                </a>
            {% endfor %}
        </div>

    </div>


    <script>

        // Changement de liste affiché selon l'option de filtre choisie
        // Si from game: filter Game par defaut
        window.onload = function() {

            document.querySelector('#allTopicsToggle').addEventListener('click', function() {
                
                // Style des boutons toggleFilter
                document.querySelector('#allTopicsToggle').style.backgroundColor = "#131313";
                document.querySelector('#allTopicsToggle').style.color = "white";
                document.querySelector('#gameTopicsToggle').style.backgroundColor = "white";

                // Switch display entre les 2 listes de Topics
                document.querySelector('#listContainer').style.display = "none";
                document.querySelector('#allTopicsDiv').style.display = "block";
            })

            document.querySelector('#gameTopicsToggle').addEventListener('click', function() {
                
                // Style des boutons toggleFilter
                document.querySelector('#allTopicsToggle').style.backgroundColor = "white";
                document.querySelector('#allTopicsToggle').style.color = "black";
                document.querySelector('#gameTopicsToggle').style.backgroundColor = "{{ gameFrom.color }}";

                // Switch display entre les 2 listes de Topics
                document.querySelector('#allTopicsDiv').style.display = "none";
                document.querySelector('#listContainer').style.display = "block";
            })

        }
    </script>

{% endblock %}
