{% extends 'base.html.twig' %}

{% block title %}Topics{% endblock %}

{% block body %}

    <header class="gameHeader" style="background: url('{{ asset('img/games/banner/' ~ game.banner ) }}' )">
        <a href="{{ path('app_home') }}"><img src="{{ asset('img/logoSquadForge_White_Rogned.png') }}" class="logoPng" id="logoPng" /></a>
        <nav>
            <a href="{{ path('app_games') }}" style="color:{{ game.fontColor }};">Jeux</a>
        </nav>
        <a href="{{ path('app_game', {'id': game.id }) }}"><h2 class="headerGameTitle"  style="border-right:15px solid {{ game.color }};">{{ game.title }}</h2></a>
    </header>
    <div class="headerUnderline" style="background-color: {{ game.color }}"></div>


    {# Fil d'ariane "breadcrumb" #}
    <ul class="filAriane">
        <li class="arianeLink"><a href="{{ path('app_games') }}">Jeux</a></li>
        <span class="filArianeSepa"> - </span>
        <li class="arianeLink"><a href="{{ path('app_game', {'id': game.id}) }}">{{ game.title }}</a></li>
        <span class="filArianeSepa"> - </span>
        <li class="arianeLink"><a href="{{ path('app_allTopics', {'gameIdFrom': game.id}) }}">Topics</a></li>
        <span class="filArianeSepa"> - </span>
        <li class="arianeOnPage ellispsis1">{{ topic.title|capitalize}}</li>
    </ul>


    <div class="main">

        <div style="display:inline-flex;">
            <h2 style="font-weight:bold; color:{{game.color}}">Topic</h2>
            {# TODO: status ouvert/fermé par auteur ou modo/admin (hardCoded pour l'instant) #}
            {% if topic.status == "closed" %}
                <span class="topicStatus topicClosed">fermé</span>
            {% elseif topic.status == "open" %}
                <span class="topicStatus topicOpen">ouvert</span>
            {% endif %}
        </div>

        <div class="listContainer">
            <p style="color: {{ topic.game.color }}">{{ topic.title|capitalize }}</p>
            <div class="topicFirstMsg">{{ topic.firstMsg }}</div>
            <div style="display:inline-flex; justify-content:space-between; width:100%; font-family:'K2D', sans-serif; font-size:90%; opacity:0.8;">
                <span>Par {{ topic.user.pseudo|capitalize }}</span>
                <span>Il y a {{ time_diff(topic.publishDate) }}</span>
            </div>
            {# <p>Intro</p> #}
        </div>

        {# Si auteur du topic: Btn fermer/ouvrir le topic (A voir: si fermer par Admin, pas possible de rouvrir en tant qu'author) #}
        {% if app.user == topic.user %}

            {% if topic.status == "closed" %}
                <p>Auteur: <a href="{{ path('app_openTopic', {'id': topic.id}) }}"><span>Rouvrir le topic</span></a></p>
            {% elseif topic.status == "open" %}
                <p>Auteur: <a href="{{ path('app_closeTopic', {'id': topic.id}) }}"><span>Fermer le topic</span></a></p>
            {% endif %}
            
        {% endif %}
        

        <h4 style="font-weight:bold; color:{{game.color}}; margin-top: 40px;">Messages ({{ topic.topicPostsCount }})</h4>

        {# Messages triés par nbr d'upvote et sinon par publishDate (récent en haut) [différent d'un chat] #}
        <div class="listContainer">


            {# form de publication de post sur le topic #}
            {% if topic.status == "open" %}
            
                {{ form_start(formAddTopicPost) }}
                    <div class="inline" style="position:relative; margin: 5px auto;">
                        {{ form_widget(formAddTopicPost.text) }} 
                        {{ form_widget(formAddTopicPost.submit) }}
                    </div>
                    
                {{ form_end(formAddTopicPost) }}
                <script>
                    document.querySelector('#topic_post_submit').style.color = "{{ topic.game.color }}";
                </script>

            {% elseif topic.status == "closed" %}
                
                <p class="emptyListMsg">Le topic a été fermé</p>

            {% endif %}

            <div style="width:60%; margin:10px auto; height:1px; background-color:{{ topic.game.color }}"></div>




            {# Liste des posts (à trier selon nbr Upvotes + date dans le Repo) #}
            {% if topicPosts is empty %}
                <p class="emptyListMsg">Aucun commentaire. Soyez le premier à commenter !</p>
            {% else %}
                {% for post in topicPosts %}
                    <div class="topicPost">
                        <p>{{ post.text }}</p>
                        <div>
                            {% if post.postLike.contains(app.user) %}
                                <span style="margin: 0 5px;">{{ post.postLikeCount }}</span><a href="{{ path('app_unlikeTopicPost', {'id': post.id }) }}"><i class="fa-solid fa-thumbs-up"></i></a>
                            {% else %}
                                <span style="margin: 0 5px;">{{ post.postLikeCount }}</span><a href="{{ path('app_likeTopicPost', {'id': post.id }) }}"><i class="fa-regular fa-thumbs-up"></i></a>
                            {% endif %}

                            {% if post.user == app.user %}
                                <span>par Vous</span>
                            {% else %}
                                <span>par {{ post.user.pseudo }}</span>
                            {% endif %}
                            {# <span>par {{ post.user.pseudo }}</span> #}

                        </div>
                    </div>
                {% endfor %}
            {% endif %}

            
        </div>

    </div>


{% endblock %}
