{% extends 'base.html.twig' %}

{% block title %}Topic{% endblock %}

{% block body %}

    <header class="gameHeader" style="background: url('{{ asset('img/games/banner/' ~ game.banner ) }}' )">
        <a href="{{ path('app_home') }}"><img src="{{ asset('img/logoSquadForge_White_Rogned.png') }}" class="logoPng" id="logoPng" /></a>
        <nav>
            <a href="{{ path('app_games') }}" style="color:{{ game.fontColor }};">Jeux</a>
            {% if app.user and "ROLE_MODO" in app.user.roles %}
                <a href="{{ path('app_moderationDashboard') }}" style="color:{{ game.fontColor }};">Modération</a>
            {% endif %}
        </nav>
        <a href="{{ path('app_game', {'id': game.id }) }}"><h2 class="headerGameTitle"  style="border-right:15px solid {{ game.color }};">{{ game.title }}</h2></a>
    </header>
    <div class="headerUnderline" style="background-color: {{ game.color }}"></div>


    {# Fil d'ariane "breadcrumb" #}
    <ul class="filAriane">
        <li class="arianeLink"><a href="{{ path('app_games') }}">Jeux</a></li>
        <span class="filArianeSepa"> - </span>
        <li class="arianeLink"><a href="{{ path('app_game', {'id': game.id}) }}">{{ game.title }}</a></li>
        <span class="filArianeSepa"> - </span>
        <li class="arianeLink"><a href="{{ path('app_allTopics', {'gameIdFrom': game.id}) }}">Topics</a></li>
        <span class="filArianeSepa"> - </span>
        <li class="arianeOnPage ellispsis1">{{ topic.title|capitalize}}</li>
    </ul>


    <div class="main">

        <div style="display:inline-flex;">
            <h2 style="font-weight:bold; color:{{game.color}}">Topic</h2>
            {# TODO: status ouvert/fermé par auteur ou modo/admin (hardCoded pour l'instant) #}
            {% if topic.status == "closed" %}
                <span class="topicStatus topicClosed">fermé</span>
            {% elseif topic.status == "open" %}
                <span class="topicStatus topicOpen">ouvert</span>
            {% endif %}
        </div>

        <div class="listContainer">
            <p style="color: {{ topic.game.color }}">{{ topic.title|capitalize }}</p>
            <div class="topicFirstMsg">{{ topic.firstMsg }}</div>
            <div style="display:inline-flex; justify-content:space-between; width:100%; font-family:'K2D', sans-serif; font-size:90%; opacity:0.8;">
                {% if app.user == topic.user %}
                    <span>par vous</span>
                {% else  %}
                    <span>par {{ topic.user.pseudo|capitalize }}</span>
                {% endif %}
                <span>Il y a {{ time_diff(topic.publishDate) }}</span>
            </div>
            {# <p>Intro</p> #}
        </div>

        {# Si auteur du topic: Btn fermer/ouvrir le topic (A voir: si fermer par Admin, pas possible de rouvrir en tant qu'author) #}
        {% if app.user == topic.user %}

            {% if topic.status == "closed" %}
                <p style="font-family: 'K2D';"><a href="{{ path('app_openTopic', {'id': topic.id}) }}"><span style="color:#00ffaf;">Rouvrir le topic</span></a></p>
            {% elseif topic.status == "open" %}
                <p style="font-family: 'K2D';"><a href="{{ path('app_closeTopic', {'id': topic.id}) }}"><span style="color:#ff004c;">Fermer le topic</span></a></p>
            {% endif %}
            
        {% endif %}
        

        <h4 style="font-weight:bold; color:{{game.color}}; margin-top: 40px;">Messages ({{ topic.topicPostsCount }})</h4>

        {# Messages triés par nbr d'upvote et sinon par publishDate (récent en haut) [différent d'un chat] #}
        <div class="listContainer">


            {# form de publication de post sur le topic #}
            {% if topic.status == "open" %}
            
                {{ form_start(formAddTopicPost) }}
                    <div class="inline" style="position:relative; margin: 5px auto;">
                        {{ form_widget(formAddTopicPost.text) }} 
                        {{ form_widget(formAddTopicPost.submit) }}
                    </div>
                    
                {{ form_end(formAddTopicPost) }}
                <script>
                    document.querySelector('#topic_post_submit').style.color = "{{ topic.game.color }}";
                </script>

            {% elseif topic.status == "closed" %}
                
                <p class="emptyListMsg"><i class="fa-solid fa-triangle-exclamation warning"></i>Le topic a été fermé</p>

            {% endif %}


            {# Script de censure Front add TopicPost #}
            <script>

                // Traduction Collection Censure en arrayJS des mots
                let censuresArray = [];
                {% for censure in censures %}
                    censuresArray.push("{{ censure.word }}");
                {% endfor %}
                console.log(censuresArray);

                // A chaque input, check si il y a vulgarité et censorise
                document.getElementById('topic_post_text').addEventListener('input', function() {
                
                    // Découpe de l'input en array de mot (dans l'ordre)
                    let inputArray = document.getElementById('topic_post_text').value.split(" ");

                    // Génération de la censure selon la longueur du mot
                    // const replacementValue = "ù^$*@";
                    function censorWordGen(wordLength) {

                        // const characters = ['ù', '^', '-', '$', '&', '@', '*', 'µ', '!', '#']
                        let censure = "";
                        for (var i = 0; i < wordLength; i++) {
                            censure = censure + "*";
                        }

                        return censure;
                    }

                    // Replace de la vulgarité par "*****" selon length
                    const replacedArray = inputArray.map(element =>
                    censuresArray.includes(element.toLowerCase()) ? censorWordGen(element.length) : element
                    );
                    document.getElementById('topic_post_text').value = replacedArray.join(' ');
                    console.log(replacedArray);
                })
            </script>


            <div style="width:60%; margin:10px auto; height:1px; background-color:{{ topic.game.color }}"></div>



            {# Liste des posts (à trier selon nbr Upvotes + date dans le Repo) #}
            {% if topicPosts is empty %}
                <p class="emptyListMsg">Aucun commentaire. Soyez le premier à commenter !</p>
            {% else %}
                {% for post in topicPosts %}

                    {% if app.user == post.user %}
                        {% set postAuthorClass = "postAuthor" %}
                    {% else %}
                        {% set postAuthorClass = "" %}
                    {% endif %}
                    


                    <div class="topicPost {{ postAuthorClass }}">
                        
                        {# Post text et auteur #}
                        <div class="postContent">
                            <p>{{ post.text }}</p>

                            {% if post.user == app.user %}
                                <span>par vous</span>
                            {% else %}
                                <span>par {{ post.user.pseudo }}</span>
                            {% endif %}
                        </div>

                        {# Post upvote/downvote #}
                        <div style="display:inline-flex; flex-direction:column;">

                            {# Pas opti: bloucle sur tous les likes du post pour savoir si liké #}
                            {% set isUpvoted = false %}
                            {% set isDownvoted = false %}
                            {% for like in post.postLikes %}
                                {% if like.user == app.user and like.topicPost.id == post.id %}
                                    {% if like.state == "upvote" %}
                                        {% set isUpvoted = true %}
                                    {% elseif like.state == "downvote" %}
                                        {% set isDownvoted = true %}
                                    {% endif %}
                                {% endif %}
                            {% endfor %}

                            {# Upvote Asynch #}
                            {% if isUpvoted %}
                                <span class="upTopicPostBtn" postId="{{ post.id }}" id="up{{ post.id }}"><i class="fa-solid fa-caret-up" style="color:{{ topic.game.color }}"></i></span>
                            {% else %}
                                <span class="upTopicPostBtn" postId="{{ post.id }}" id="up{{ post.id }}"><i class="fa-solid fa-caret-up"></i></span>
                            {% endif %}

                            {# Score calc #}
                            {% if post.score < 0 %}
                                <span id="topicPostScore{{ post.id }}" style="text-align:center; color:red; font-weight:900;">{{ post.score }}</span>
                            {% else %}
                                <span id="topicPostScore{{ post.id }}" style="text-align:center; font-weight:900;">{{ post.score }}</span>
                            {% endif %}
                            
                            {# Down #}
                            {% if isDownvoted %}
                                <span class="downTopicPostBtn" postId="{{ post.id }}" id="down{{ post.id }}"><i class="fa-solid fa-caret-down" style="color:{{ topic.game.color }}"></i></span>
                            {% else %}
                                <span class="downTopicPostBtn" postId="{{ post.id }}" id="down{{ post.id }}"><i class="fa-solid fa-caret-down"></i></span>
                            {% endif %}

                        </div>

                    </div>

                {% endfor %}

            {% endif %}

            
        </div>

    </div>


{% endblock %}
