{% extends 'base.html.twig' %}

{% block title %}Topics{% endblock %}

{% block body %}


    <header class="gameHeader" style="background: url('{{ asset('img/games/banner/' ~ gameFrom.banner ) }}' )">
        <a href="{{ path('app_home') }}"><img src="{{ asset('img/logoSquadForge_White_Rogned.png') }}" class="logoPng" id="logoPng" /></a>
        <nav class="navLine">
            <a href="{{ path('app_games') }}" style="color:{{ gameFrom.fontColor }};">Jeux</a>
            {% if app.user %}
                <a href="{{ path('app_userGroups') }}" style="color:{{ gameFrom.fontColor }};">TEAMS</a>
                <div style="position:relative; margin-right:10px;">
                    <a href=""><i class="fa-solid fa-bell notifBell"></i></a>
                    {# Bulle newNotifCount si > 0#}
                    <span class="newNotifBubbleCount">{{ userNotifCount }}</span>
                </div>
            {% endif %}
            {% if app.user and "ROLE_MODO" in app.user.roles %}
                <a href="{{ path('app_moderationDashboard') }}" style="color:{{ gameFrom.fontColor }};">Modération</a>
            {% endif %}
        </nav>
        <a href="{{ path('app_game', {'id': gameFrom.id }) }}"><h2 class="headerGameTitle"  style="border-right:15px solid {{ gameFrom.color }};">{{ gameFrom.title }}</h2></a>
    </header>
    <div class="headerUnderline" style="background-color: {{ gameFrom.color }}"></div>


    <div class="main">

        {# Fil d'Ariane #}
        <p>
            <a class="underlineLink" href="{{ path('app_games') }}">Jeux</a>
             - <a class="underlineLink" href="{{ path('app_game', {'id': gameFrom.id }) }}">{{ gameFrom.title }}</a>
             - <a class="underlineLink" href="{{ path('app_groupList', {'gameIdFrom': gameFrom.id }) }}">Teams</a>
             - <a class="underlineLink" href="{{ path('app_groupDetails', {'groupId': group.id }) }}">{{ group.title }}</a>
             - Candidature
        </p>

        

        <br>

        <h3 class="candidatureTeamName" style="border-color:{{ gameFrom.color }}">{{ group.title }}</h3>

        <br>

        <h2>Candidature</h2>

        <br>

            <span style="font-family:'K2D', sans-serif;">{{ candidature.user.pseudo|capitalize }}</span>

        <br>

        <h4>Présentation</h4>
        <p style="font-family:'K2D', sans-serif; text-align:center">
            <i class="fa-solid fa-quote-left"></i> 
                {{ candidature.text|capitalize }}
            <i class="fa-solid fa-quote-right"></i>
        </p>

        <br><br>

        <h4>Réponses</h4>
        <div style="display:flex; flex-direction:column; margin:25px auto; font-family:'K2D', sans-serif;">
            
            {% for data in questionData %}

                <div class="questionAnswerContainer">

                    {# Intitulé de la question #}
                    <span class="candidatureQuestion">{{ data[0] }}</span>

                    {# Réponse à la question + handle pas de réponse si question pas required et "" #}
                    {% if data[1] == "" %}
                        <span class="emptyListMsg" style="text-align:left;">Le candidat n'a pas répondu</span>
                    {% else %}
                        <span>> {{ data[1]|capitalize }}</span>
                    {% endif %}

                </div>
            {% endfor %}

        </div>

        {# Si upload autorisé/requis #}
        <h4>Image</h4>



        <div style="display:inline-flex; justify-content:space-evenly; width:100%; margin:30px auto;">
            <a href="{{ path('app_acceptCandidature',{'candidatureId':candidature.id}) }}">Accepter</a>
            <a href="{{ path('app_rejectCandidature',{'candidatureId':candidature.id,'isBlacklisted':"false"}) }}">Refuser</a>
            <a href="{{ path('app_rejectCandidature',{'candidatureId':candidature.id,'isBlacklisted':"true"}) }}">Refuser définitivement</a>
        </div>

        
        


        
    </div>


{% endblock %}