{% extends 'base.html.twig' %}

{% block title %}Topics{% endblock %}

{% block body %}


    <header class="gameHeader" style="background: url('{{ asset('img/games/banner/' ~ gameFrom.banner ) }}' )">
        <a href="{{ path('app_home') }}"><img src="{{ asset('img/games/headerSiteLogo/' ~ gameFrom.siteLogo ) }}" class="logoPng" id="logoPng" /></a>
        <nav class="navLine">
            <a href="{{ path('app_home') }}" class="homeNav"><i class="fa-solid fa-house"></i></a>
            <a href="{{ path('app_games') }}" class="gamesNav caps">jeux</a>
            {% if app.user %}
                <a href="{{ path('app_userGroups') }}" class="teamsNav caps navActive" style="background-color: {{ gameFrom.color }}">teams</a>
                <a href="{{ path('app_showNotifsList') }}" class="notifsNav" style="padding:0;">
                    <div class="navNotifDiv">
                        <i class="fa-solid fa-bell notifBell"></i>
                        {# Bulle newNotifCount si > 0 #}
                        {% if userNotifCount > 0 %}
                            <span class="newNotifBubbleCount" id="newNotifBubbleCount">{{ userNotifCount }}</span>
                        {% endif %}
                    </div>
                </a>
            {% endif %}
            {% if app.user and "ROLE_MODO" in app.user.roles %}

                <a href="{{ path('app_moderationDashboard') }}" style="color:{{ gameFrom.fontColor }};" id="modoNav" class="modoNav">
                    <div style="position:relative;">
                        <span>Modération</span>
                        {% if modoNotifValidationCount > 0 %}
                            <span class="newNotifBubbleCount bubleModo1">{{ modoNotifValidationCount }}</span>
                        {% endif %}
                        {% if modoNotifReportCount > 0 %}
                            <span class="newNotifBubbleCount bubleModo2">{{ modoNotifReportCount }}</span>
                        {% endif %}
                    </div>
                </a>

                <script>
                    // Ajout d'espace libre sur l'onglet Nav "Modération" si bulles (car bulles absolutes)
                    var paddingRightOnglet = 0;
                    if({{modoNotifValidationCount}} > 0) {
                        paddingRightOnglet += 17;
                    }
                    if({{modoNotifReportCount}} > 0) {
                        paddingRightOnglet += 17;
                    }
                    document.getElementById('modoNav').style.paddingRight = paddingRightOnglet + "px";
                </script>

            {% endif %}
        </nav>

        <a href="{{ path('app_game', {'id': gameFrom.id }) }}"><h2 class="headerGameTitle" style="border-right:10px solid {{ gameFrom.color }}; border-bottom:2px solid {{ gameFrom.color }};">{{ gameFrom.title }}</h2></a>
    
    </header>

    {# HeaderSouligne + Bandeau avertissement muted #}
    {% if app.user and app.user.muted and time_diff_future(app.user.endDateStatus) != false %}
        <div class="headerUnderline" style="background-color: {{ gameFrom.color }}"></div>
        <div class="mutedBanner">  
            <span><i class="fa-solid fa-circle-exclamation mutedBannerIcon"></i>Vous êtes actuellement réduit au silence <span class="muteEndDate">( fin dans <span class="strongNbr">{{ time_diff_future(app.user.endDateStatus) }}</span> )</span></span>
        </div>
    {% else %}
        <div class="headerUnderline marginBottomHeaderLine" style="background-color: {{ gameFrom.color }}"></div>
    {% endif %}



    <div class="main">

        {# Fil d'Ariane #}
        <p class="breadcrumbs">
            <a class="underlineLink" href="{{ path('app_games') }}">Jeux</a>
             - <a class="underlineLink" href="{{ path('app_game', {'id': gameFrom.id }) }}">{{ gameFrom.title }}</a>
             - <a class="underlineLink" href="{{ path('app_groupList', {'gameIdFrom': gameFrom.id }) }}">Teams</a>
             - <a class="underlineLink" href="{{ path('app_groupDetails', {'groupId': group.id }) }}">{{ group.title }}</a>
             - Candidature
        </p>

        

        <br>

        <h3 class="candidatureTeamName" style="border-color:{{ gameFrom.color }}">{{ group.title }}</h3>

        <br>

        <h2>Candidature</h2>

        <br>

            <span style="font-family:'K2D', sans-serif;">{{ candidature.user.pseudo|capitalize }}</span>

        <br>

        <h4>Présentation</h4>
        <p style="font-family:'K2D', sans-serif; text-align:center">
            <i class="fa-solid fa-quote-left"></i> 
                {{ candidature.text|capitalize }}
            <i class="fa-solid fa-quote-right"></i>
        </p>

        <br><br>

        <h4>Réponses</h4>
        <div style="display:flex; flex-direction:column; margin:25px auto; font-family:'K2D', sans-serif;">
            
            {% for data in questionData %}

                <div class="questionAnswerContainer">

                    {# Intitulé de la question #}
                    <span class="candidatureQuestion">{{ data[0] }}</span>

                    {# Réponse à la question + handle pas de réponse si question pas required et "" #}
                    {% if data[1] == "" %}
                        <span class="emptyListMsg" style="text-align:left;">Le candidat n'a pas répondu</span>
                    {% else %}
                        <span>> {{ data[1]|capitalize }}</span>
                    {% endif %}

                </div>
            {% endfor %}

        </div>

        {# Si upload autorisé/requis #}
        <h4>Image</h4>



        <div style="display:inline-flex; justify-content:space-evenly; width:100%; margin:30px auto;">
            <a href="{{ path('app_acceptCandidature',{'candidatureId':candidature.id}) }}">Accepter</a>
            <a href="{{ path('app_rejectCandidature',{'candidatureId':candidature.id,'isBlacklisted':"false"}) }}">Refuser</a>
            <a href="{{ path('app_rejectCandidature',{'candidatureId':candidature.id,'isBlacklisted':"true"}) }}">Refuser définitivement</a>
        </div>

        
        


        
    </div>


{% endblock %}