{% extends 'base.html.twig' %}

{% block title %}Topics publiés{% endblock %}

{% block body %}


    <header>
        <a href="{{ path('app_home') }}"><img src="{{ asset('img/logoSquadForge_Black_Rogned.png') }}" class="logoPng" /></a>
        <nav>
            <a href="{{ path('app_games') }}">Jeux</a>
        </nav>
    </header>
    <div class="headerUnderline"></div>

    <div class="main">

        <p><a class="underlineLink" href="{{ path('app_user') }}">Mon espace</a> - Mes Topics</p>

        <h2>Topics publiés <span class="gameListCount">({{ userTopicsCount }})</span></h2>

        <div class="listContainer topicList marginTop">
            {% for topic in userTopics %}
                <a href="{{ path('app_topicDetail', {'id': topic.id}) }}">
                    <div class="topicCard" style="border-bottom: 4px solid {{ topic.game.color }}">
                        <img class="tinyLogo" src="{{ asset('img/games/tinyLogo/' ~ topic.game.tinyLogo) }}" />
                        <span class="topicTitle">{{ topic.title|capitalize }}</span>
                        <span>{{ topic.status }}</span>
                        <span class="topicCardPublishDate">{{ time_diff(topic.publishDate) }}</span>
                        {% if topic.topicPostsCount == 0 %}
                            <span style="opacity:0.5;">{{ topic.topicPostsCount }} <i class="fa-solid fa-message" style="color:grey;"></i></span>
                        {% else %}
                            <span>{{ topic.topicPostsCount }} <i class="fa-solid fa-message" style="color:{{ topic.game.color }}"></i></span>
                        {% endif %}
                    </div>
                </a>
            {% endfor %}
        </div>

        
    </div>


{% endblock %}
