{% extends 'base.html.twig' %}

{% block title %}Notifications{% endblock %}

{% block body %} 

    <header class="globalBanner" style="background: url('{{ asset('img/banner.jpg') }}' )">
        <a href="{{ path('app_home') }}"><img src="{{ asset('img/logoSquadForge_White_Rogned.png') }}" class="logoPng" /></a>
        <nav class="navLine">
            <a href="{{ path('app_games') }}">JEUX</a>
            {% if app.user %}
                <a href="{{ path('app_userGroups') }}" style="white;">TEAMS</a>
                <a href="{{ path('app_showNotifsList') }}">
                    <div style="position:relative; margin-right:10px;">
                        <i class="fa-solid fa-bell notifBell"></i>
                        {# Pas de bubbleNbr car all-seen ici#}
                    </div>
                </a>
            {% endif %}
            {% if "ROLE_MODO" in app.user.roles %}
                <a href="{{ path('app_moderationDashboard') }}">Modération</a>
            {% endif %}
        </nav>
    </header>
    <div class="headerUnderline"></div>


    <div class="main">

        <h2 class="pageTitle">Notifications</h2>

        <div class="notifsContainer">

            {% for notif in notifs %}
                <a href="{{ notif.link }}">
                    <div class="notifCard">
                        <p style="margin-bottom:0;">{{ notif.text }}</p>
                        <span class="notifCardPublishDate ">{{ time_diff(notif.dateCreation) }}</span>
                    </div>
                </a>
            {% endfor %}

        </div>


        <a href="{{ path('app_cleanNotifsUser') }}"><i class="fa-solid fa-xmark cleanNotifsBtn"></i></a>









        

        

    </div>

{% endblock %}
