{% extends 'base.html.twig' %}

{% block title %}Notifications{% endblock %}

{% block body %} 

    <header class="globalBanner" style="background: url('{{ asset('img/banner.jpg') }}' )">
        <a href="{{ path('app_home') }}"><img src="{{ asset('img/logoSquadForge_White_Rogned.png') }}" class="logoPng" /></a>
        <nav class="navLine">
            <a href="{{ path('app_games') }}">JEUX</a>
            {% if app.user %}
                <a href="{{ path('app_userGroups') }}" style="white;">TEAMS</a>
                <a href="{{ path('app_showNotifsList') }}">
                    <div style="position:relative; margin-right:10px;">
                        <i class="fa-solid fa-bell notifBell"></i>
                        {# Bulle newNotifCount si > 0#}
                        {% if userNotifCount > 0 %}
                            <span class="newNotifBubbleCount" id="newNotifBubbleCount">{{ userNotifCount }}</span>
                        {% endif %}                    
                    </div>
                </a>
            {% endif %}
            {% if "ROLE_MODO" in app.user.roles %}
                <a href="{{ path('app_moderationDashboard') }}">
                    <div style="position:relative; margin-right:10px;">
                        <span>Modération</span>
                        {% if modoNotifCount > 0 %}
                            <span class="newNotifBubbleCount">{{ modoNotifCount }}</span>
                        {% endif %}
                    </div>
                </a>
            {% endif %}
        </nav>
    </header>
    <div class="headerUnderline"></div>


    <div class="main">

        <h2 class="pageTitle">Notifications</h2>

        {# Ajax Boutons clean/"vues" ajax #}
        <script type="text/javascript" src="{{ asset('js/notifsBtn.js') }}"></script>

        {% if notifs|length > 0 %}

            <div class="notifListButtons" id="notifListButtons">

                {% if theresNotSeen %}
                    {# // Ajax bouton: passer toutes les notifs en "vue" #}
                    <a id="allSeenLink" href="{{ path('app_notifsAllSeen') }}">
                        <i class="fa-solid fa-eye"></i>
                    </a>
                {% endif %}

                {# // Ajax bouton: suppr toutes les notifs #}
                <a id="deleteAllLink" href="{{ path('app_cleanNotifsUser') }}">
                    <i class="fa-solid fa-xmark cleanNotifsBtn"></i>
                </a>

            </div>


        {% else %}
            
            <p class="emptyListMsg" style="margin: 50px auto;">Aucune notifications</p>
        
        {% endif %}

        
        
        {# Liste des notifs #}
        <div class="notifsContainer">

            {# Le link delete dans le link notif mess-up le link global #}
            {% for notif in notifs %}

                <div style="position:relative; display:flex; width:75%; margin: 0px auto;">

                    <a class="notifCard" href="{{ notif.link }}">
                        <div>
                            <div style="display:inline-flex;width:100%; justify-content:space-between;">
                                <p style="margin-bottom:0;margin-right:12px;">
                                    {# State clicked de la notif #}
                                    {% if not notif.clicked %}
                                        <i class='fa-solid fa-circle unclickedNotifSpot' style="margin-right:7px;"></i>
                                    {% endif %}
                                    <span id="notifText">{{ notif.text|raw }}</span>
                                </p>

                            </div>
                            <span class="notifCardPublishDate ">{{ time_diff(notif.dateCreation) }}</span>
                        </div>
                    </a>

                    <a class="deleteSingleNotif" href="{{ path('app_deleteNotif',{'notifId': notif.id}) }}">
                        <i class="fa-solid fa-xmark"></i>
                    </a>

                </div>


            {% endfor %}

        </div>









        

        

    </div>

{% endblock %}
