{% extends 'base.html.twig' %}

{% block title %}Profil utilisateur{% endblock %}

{% block body %}

    
    <header>
        <a href="{{ path('app_home') }}"><img src="{{ asset('img/logoSquadForge_Black_Rogned.png') }}" class="logoPng" /></a>
        <nav>
            <a href="{{ path('app_games') }}">JEUX</a>
        </nav>
    </header>
    <div class="headerUnderline"></div>

    <div class="main">

        <h2 class="pageTitle">Profil {{ app.user.pseudo|capitalize }}</h2>

        <h3>Infos</h3>
        <p>Pseudo: {{ user.pseudo }}</p>
        <p>Email: {{ user.email }}</p>
        
        {% if not user.isVerified %}
        <p style="color:red;">Votre email est toujours en attente de validation, vérifiez votre boîte mail pour pouvoir profiter de toutes les fonctionalités</p>
        {% endif %}
        

        {# {{ dump(user) }} #}
        {# {{ dump(userRole) }} #}


        {% if userRole[0] == "ROLE_USER" %}
            <p>Rôle:<span class="roleUserData">Utilisateur</span></p>
        {% else %}
            <p>Rôle:<span class="roleUserData">Modérateur/Administrateur</span></p>
        {% endif %}
        


        <h3>Jeux Favoris</h3>
        <div class="genreGameList">
            {% for gameFav in userFav %}
                <a  class="gameCardLink" href="{{ path('app_game', {'id': gameFav.id} )}}">
                    <div class="gameCard">
                        <img src="{{ asset("img/games/logo/" ~ gameFav.logo) }}" class="gameLogo" alt="logo {{ gameFav.title }}"/>
                        <div class="gameCardUnderline" style="background-color:{{ gameFav.color }}"></div>

                            <div class="gameCardInfos">
                                <p class="gameCardTitle">{{ gameFav.title }}</p>
                                <p><span>New</span> Topics <span>0</span></p>
                                <p><span>New</span> Medias <span>0</span></p>
                            </div>
                    </div>
                </a>
            {% endfor %}
        </div>


        <h3>Topics bubliés</h3>
        <div class="gameTopicsDiv marginTop marginBottom">
            {% for topic in userTopics %}
                <a href="{{ path('app_topicDetail', {'id': topic.id}) }}">
                    <div class="topicCard" style="border-bottom: 4px solid {{ topic.game.color }}">
                        <span>{{ topic.title }}</span>
                        <span>{{ topic.status }}</span>
                        <span>{{ topic.user.pseudo }}</span>
                        <span class="topicCardPublishDate">{{ time_diff(topic.publishDate) }}</span>
                    </div>
                </a>
            {% endfor %}
        </div>



    </div>

{% endblock %}
