{% extends 'base.html.twig' %}

{% block title %}Profil utilisateur{% endblock %}

{% block body %} 

    
    <header class="globalBanner" style="background: url('{{ asset('img/banner.jpg') }}' )">
        <a href="{{ path('app_home') }}"><img src="{{ asset('img/logoSquadForge_White_Rogned.png') }}" class="logoPng" /></a>
        <nav>
            <a href="{{ path('app_games') }}">JEUX</a>
            {% if app.user %}
                <a href="{{ path('app_userGroups') }}">TEAMS</a>
            {% endif %}
            {% if "ROLE_MODO" in app.user.roles %}
                <a href="{{ path('app_moderationDashboard') }}">Modération</a>
            {% endif %}
        </nav>
    </header>
    <div class="headerUnderline"></div>

    <div class="main">

        <h2 class="pageTitle">Profil {{ app.user.pseudo|capitalize }}</h2>

        <h3>Infos</h3>
        <p>Pseudo: {{ user.pseudo }}</p>
        <p>Email: {{ user.email }}</p>
        
        {% if not user.isVerified %}
        <p style="color:red;">Votre email est toujours en attente de validation, vérifiez votre boîte mail pour pouvoir profiter de toutes les fonctionalités</p>
        {% endif %}
        


        {% if userRole[0] == "ROLE_USER" %}
            <p>Rôle:<span class="roleUserData">Utilisateur</span></p>
        {% elseif userRole[0] == "ROLE_MODO" %}
            <p>Rôle:<span class="roleUserData">Modérateur</span></p>
        {% elseif userRole[0] == "ROLE_ADMIN" %}
            <p>Rôle:<span class="roleUserData">Administrateur</span></p>
        {% endif %}


        
        {# Toggle Lecture automatique des Gifs #}
        {% if app.user.autoPlayGifs %}
            {% set checked = "checked" %}
            {% set value = "true" %}
        {% else %}
            {% set checked = "" %}
            {% set value = "false" %}
        {% endif %}
        
        <p>Lecture automatique des Gifs: </p>
        <form id="toggleAutoplayForm" action="{{ path('app_toggleAutoplayGifs') }}" method="post">
            <label class="toggleAutoPlay">
                <input type="checkbox" value="{{ value }}" {{ checked }} name="autoPlay" id="autoPlay">
                <span class="slider"></span>
            </label>
        </form>

        {# Asynch app_toggleAutoplayGifs (Erreur JS promise #}
        <script>
            document.getElementById('toggleAutoplayForm').addEventListener('change', function(event) {
                
                event.preventDefault(); // Empêche la soumission normale du formulaire

                const value = document.getElementById('autoPlay').getAttribute('value');
                fetch('/toggleAutoplayGifs', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                }
                // ,body: {
                //     'bool': value
                // }
                })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        document.querySelector('#ajaxFlash').textContent = "Votre note a bien été pris en compte";
                        document.querySelector('#ajaxFlash').classList.add("ajaxFlashAnim", "successAjaxFlash");
                    } else {
                        document.querySelector('#ajaxFlash').textContent = "Il y a eu un problème lors de l'envoi de votre note";
                        document.querySelector('#ajaxFlash').classList.add("ajaxFlashAnim", "errorAjaxFlash");
                    }
                });
            });

        </script>
        

        
        <h3>Jeux Favoris</h3>
        <div class="genreGameList">
            {% for gameFav in userFav %}
                <a  class="gameCardLink" href="{{ path('app_game', {'id': gameFav.id} )}}">
                    <div class="gameCard">
                        <img src="{{ asset("img/games/logo/" ~ gameFav.logo) }}" class="gameLogo" alt="logo {{ gameFav.title }}"/>
                        <div class="gameCardUnderline" style="background-color:{{ gameFav.color }}"></div>

                            <div class="gameCardInfos">
                                <p class="gameCardTitle">{{ gameFav.title }}</p>
                                <p><span>New</span> Topics <span>0</span></p>
                                <p><span>New</span> Medias <span>0</span></p>
                            </div>
                    </div>
                </a>
            {% endfor %}
        </div>



        <h3>Topics publiés <span class="gameListCount">({{ userTopicsCount }})</span></h3>
        <div class="listContainer topicList marginTop">
        
            {% for topic in userTopics %}
                <a href="{{ path('app_topicDetail', {'id': topic.id}) }}">
                    <div class="topicCard" style="border-bottom: 4px solid {{ topic.game.color }}">
                        <img class="tinyLogo" src="{{ asset('img/games/tinyLogo/' ~ topic.game.tinyLogo) }}" />
                        <span class="topicTitle">{{ topic.title|capitalize }}</span>
                        {# <span>{{ topic.status }}</span> #}
                        <span>{{ topic.validated }}</span>
                        <span class="topicCardPublishDate">{{ time_diff(topic.publishDate) }}</span>
                        {% if topic.topicPostsCount == 0 %}
                            <span style="opacity:0.5;">{{ topic.topicPostsCount }} <i class="fa-solid fa-message" style="color:grey;"></i></span>
                        {% else %}
                            <span>{{ topic.topicPostsCount }} <i class="fa-solid fa-message" style="color:{{ topic.game.color }}"></i></span>
                        {% endif %}
                    </div>
                </a>
            {% endfor %}

            <span class="seeAllRedirect">
                <a href="{{ path('app_allTopicsUser') }}">Tout voir  <i class="fa-solid fa-chevron-right"></i></a>
            </span>

        </div>

        

        <h3>Médias publiés <span class="gameListCount">({{ userMediasCount }})</span></h3>

        <div class="listContainer marginTop mediaListGrid">
        
            {% for media in userMedias %}

                <div style="height:fit-content;">

                    {% if app.user.autoPlayGifs %}
                    <a href="{{ path('app_mediaDetail', {'id': media.id}) }}">
                    {% endif %}

                        <div class="mediaCard">

                            {% if not app.user.autoPlayGifs %}
                            <a href="{{ path('app_mediaDetail', {'id': media.id}) }}">
                            {% endif %}
                            <div class="mediaCardHeader" style="border-bottom: 5px solid {{ media.game.color }}">
                                <img class="tinyLogo" src="{{ asset('img/games/tinyLogo/' ~ media.game.tinyLogo) }}" />
                                <span class="mediaTitle">{{ media.title|capitalize }}</span>
                                {# <span>{{ media.validated }}</span> #}
                                {# <span>{{ media.status }}</span> #}
                                <span class="topicCardPublishDate">{{ time_diff(media.publishDate) }}</span>
                            </div>
                            {% if not app.user.autoPlayGifs %}
                            </a>
                            {% endif %}

                            {# Gif autoplay=false si paramètre user #}
                            {% if not app.user.autoPlayGifs %}
                                <img data-gifffer="{{ asset("img/uploads/" ~ media.url) }}" data-gifffer-alt="media" class="mediaImg" />
                            {% else %}
                                <img src="{{ asset("img/uploads/" ~ media.url) }}" alt="media" class="mediaImg" />
                            {% endif %}

                        </div>

                    {% if app.user.autoPlayGifs %}
                    </a>
                    {% endif %}


                    {% if media.validated == "validated" %}

                    
                        {# Upvote/downvote média + score + nbrPosts #}
                        <div class="mediaCardStatsDiv">

                            {# Upvote/downvote média + score + nbrPosts #}
                            {# Pas opti: bloucle sur tous les likes du post pour savoir si liké (boucle dans boucle) #}
                            {% set liked = "" %}
                            
                            {% if app.user %}

                                {% for upvote in media.UserUpvote %}

                                    {% if upvote == app.user %}
                                        {% set liked = "upBtnLiked" %}
                                    {% endif %}

                                {% endfor %}
                            {% endif %}
                            <div class="inline">
                                <i mediaId={{ media.id }} class="likeMedia fa-regular fa-circle-up {{ liked }}"></i>
                                {# <i class="fa-regular fa-circle-down"></i> #}
                                <p id="countLikesMedia{{ media.id }}" value="{{ media.upvoteCount }}"> {{ media.upvoteCount }} </p>
                            </div>
                        
                            {% if media.mediaPostsCount == 0 %}
                                <a href="{{ path('app_mediaDetail', {'id':media.id}) }}">
                                    <span style="opacity:0.5;">{{ media.mediaPostsCount }} 
                                        <i class="fa-solid fa-message" style="color:grey;"></i>
                                    </span>
                                </a>
                            {% else %}
                                <a href="{{ path('app_mediaDetail', {'id':media.id}) }}">
                                    <span>{{ media.mediaPostsCount }} 
                                        <i class="fa-solid fa-message" style="color:var(--primary-color)"></i>
                                    </span>
                                </a>
                            {% endif %}

                        </div>

                    {% elseif media.validated == "waiting" %}
                        
                        <p class="waitingMediaLabel">En attente...</p>

                    {% elseif media.validated == "refused" %}

                        <p class="refusedMediaLabel">Refusé</p>

                    {% endif %}


                    <br>
                    {# <div style="width:100%; margin: 0 auto; height:3px; background-color: {{ media.game.color }}; opacity:0.5;"></div> #}
                    <br>

                </div>

            {% endfor %}

            <span class="seeAllRedirect">
                <a href="{{ path('app_allMediasUser') }}">Tout voir  <i class="fa-solid fa-chevron-right"></i></a>
            </span>

        </div>








    </div>

{% endblock %}
