{% extends 'base.html.twig' %}

{% block title %}Profil utilisateur{% endblock %}

{% block body %}

    
    <header>
        <a href="{{ path('app_home') }}"><img src="{{ asset('img/logoSquadForge_Black_Rogned.png') }}" class="logoPng" /></a>
        <nav>
            <a href="{{ path('app_games') }}">JEUX</a>
        </nav>
    </header>
    <div class="headerUnderline"></div>

    <div class="main">

        <h2>Profil {{ app.user.pseudo|capitalize }}</h2>

        <h3>Infos</h3>
        {{ dump(user) }}

        {{ dump(userRole) }}

        <h3>Jeux Favoris</h3>
        <div class="genreGameList">
            {% for gameFav in userFav %}
                <a href="{{ path('app_game', {'id': gameFav.id} )}}">
                    <div class="gameCard">
                        <img src="{{ asset("img/games/logo/" ~ gameFav.logo) }}" class="gameLogo" alt="logo {{ gameFav.title }}"/>
                        <div class="gameCardUnderline" style="background-color:{{ gameFav.color }}"></div>

                            <div class="gameCardInfos">
                                <p class="gameCardTitle">{{ gameFav.title }}</p>
                                <p><span>New</span> Topics <span>0</span></p>
                                <p><span>New</span> Medias <span>0</span></p>
                            </div>
                    </div>
                </a>
            {% endfor %}
        </div>


    </div>

{% endblock %}
