{% extends 'base.html.twig' %}

{% block title %}Profil utilisateur{% endblock %}

{% block body %}

    
    <header>
        <a href="{{ path('app_home') }}"><img src="{{ asset('img/logoSquadForge_Black_Rogned.png') }}" class="logoPng" /></a>
        <nav>
            <a href="{{ path('app_games') }}">JEUX</a>
        </nav>
    </header>
    <div class="headerUnderline"></div>

    <div class="main">

        <h2 class="pageTitle">Profil {{ app.user.pseudo|capitalize }}</h2>

        <h3>Infos</h3>
        <p>Pseudo: {{ user.pseudo }}</p>
        <p>Email: {{ user.email }}</p>
        
        {% if not user.isVerified %}
        <p style="color:red;">Votre email est toujours en attente de validation, vérifiez votre boîte mail pour pouvoir profiter de toutes les fonctionalités</p>
        {% endif %}
        


        {% if userRole[0] == "ROLE_USER" %}
            <p>Rôle:<span class="roleUserData">Utilisateur</span></p>
        {% else %}
            <p>Rôle:<span class="roleUserData">Modérateur/Administrateur</span></p>
        {% endif %}


        
        {# Toggle Lecture automatique des Gifs #}
        {% if app.user.autoPlayGifs %}
            {% set checked = "checked" %}
            {% set value = "true" %}
        {% else %}
            {% set checked = "" %}
            {% set value = "false" %}
        {% endif %}
        
        <p>Lecture automatique des Gifs: </p>
        <form id="toggleAutoplayForm" action="{{ path('app_toggleAutoplayGifs') }}" method="post">
            <label class="toggleAutoPlay">
                <input type="checkbox" value="{{ value }}" {{ checked }} name="autoPlay" id="autoPlay">
                <span class="slider"></span>
            </label>
        </form>

        {# Asynch app_toggleAutoplayGifs (Erreur JS promise #}
        <script>
            document.getElementById('toggleAutoplayForm').addEventListener('change', function(event) {
                
                event.preventDefault(); // Empêche la soumission normale du formulaire

                const value = document.getElementById('autoPlay').getAttribute('value');
                fetch('/toggleAutoplayGifs', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                }
                // ,body: {
                //     'bool': value
                // }
                })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        document.querySelector('#ajaxFlash').textContent = "Votre note a bien été pris en compte";
                        document.querySelector('#ajaxFlash').classList.add("ajaxFlashAnim", "successAjaxFlash");
                    } else {
                        document.querySelector('#ajaxFlash').textContent = "Il y a eu un problème lors de l'envoi de votre note";
                        document.querySelector('#ajaxFlash').classList.add("ajaxFlashAnim", "errorAjaxFlash");
                    }
                });
            });

        </script>
        

        
        <h3>Jeux Favoris</h3>
        <div class="genreGameList">
            {% for gameFav in userFav %}
                <a  class="gameCardLink" href="{{ path('app_game', {'id': gameFav.id} )}}">
                    <div class="gameCard">
                        <img src="{{ asset("img/games/logo/" ~ gameFav.logo) }}" class="gameLogo" alt="logo {{ gameFav.title }}"/>
                        <div class="gameCardUnderline" style="background-color:{{ gameFav.color }}"></div>

                            <div class="gameCardInfos">
                                <p class="gameCardTitle">{{ gameFav.title }}</p>
                                <p><span>New</span> Topics <span>0</span></p>
                                <p><span>New</span> Medias <span>0</span></p>
                            </div>
                    </div>
                </a>
            {% endfor %}
        </div>



        <h3>Topics bubliés <span class="gameListCount">({{ userTopicsCount }})</span></h3>
        <div class="listContainer marginTop">
            {% for topic in userTopics %}
                <a href="{{ path('app_topicDetail', {'id': topic.id}) }}">
                    <div class="topicCard" style="border-bottom: 4px solid {{ topic.game.color }}">
                        <img class="tinyLogo" src="{{ asset('img/games/tinyLogo/' ~ topic.game.tinyLogo) }}" />
                        <span class="topicTitle">{{ topic.title|capitalize }}</span>
                        <span>{{ topic.status }}</span>
                        <span>{{ topic.user.pseudo }}</span>
                        <span class="topicCardPublishDate">{{ time_diff(topic.publishDate) }}</span>
                        {% if topic.topicPostsCount == 0 %}
                            <span style="opacity:0.5;">{{ topic.topicPostsCount }} <i class="fa-solid fa-message" style="color:grey;"></i></span>
                        {% else %}
                            <span>{{ topic.topicPostsCount }} <i class="fa-solid fa-message" style="color:{{ topic.game.color }}"></i></span>
                        {% endif %}
                    </div>
                </a>
            {% endfor %}
        </div>

        <span class="seeAllRedirect">
            <a href="{{ path('app_allTopicsUser') }}">Tout voir  <i class="fa-solid fa-chevron-right"></i></a>
        </span>




    </div>

{% endblock %}
